<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.myPage.memberPage.model.dao.MemberPageMapper">

    <update id="modifyMemberInfo">
        UPDATE USER U, MEMBER M
        SET U.PWD = #{ pwd }
            , U.EMAIL = #{ email }
            , U.PHONE = #{ phone }
            , M.NICKNAME = #{ nickname }
        WHERE U.USER_ID = MEMBER.USER_ID
            AND U.USER_ID = #{ userId }
    </update>

    <delete id="deleteMyPost" parameterType="long">
        DELETE
        FROM BOARD
        WHERE USER_ID = #{ userId }
        AND TITLE = #{ title }
        AND POSTED_DATE = #{ postedDate }
    </delete>

    <delete id="deleteMyComment" parameterType="long">
        DELETE
        FROM MEMBER_COMMENT
        WHERE 
    </delete>

</mapper>