<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.myPage.memberPage.model.dao.MemberPageMapper">

    <update id="modifyMemberInfo">
        UPDATE USER U, MEMBER M
        SET U.PWD = #{ memberPwd }
            , U.EMAIL = #{ email }
            , U.PHONE = #{ phone }
            , M.NICKNAME = #{ nickname }
        WHERE U.USER_ID = MEMBER.USER_ID
            AND U.USER_ID = #{ memberId }
    </update>

</mapper>