<!-- 우울 질문 1 ~ 8-->

<form action="" method="get" class="theme-checker">
    <div th:each="test, testIndex : ${testQ}">
        <!-- 서비스 or 쿼리문으로 질문 식별 -->
        <h2 class="whiteText" th:text="${test.testContent}"></h2>
        <div class="qBox">
            <h2></h2>
            <input type="radio" name="D+index" class="one" value="1"/>
            <input type="radio" name="D+index" class="two" value="2"/>
            <input type="radio" name="D+index" class="three" value="3"/>
            <input type="radio" name="D+index" class="four" value="4"/>
            <input type="radio" name="D+index" class="five" value="5"/>
        </div>
        <div class="testQ">
            <div>전혀그렇지않다</div><div>매우그렇다</div>
        </div>
    </div>
    <div>
        <input id="next" class="roundbutton" type="button" value="다음" onclick="begin()">
    </div>
</form>