<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta>
    <title>start</title>
    <link rel="stylesheet" type="text/css" href="/css/psychological/startTest.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
<header class="header" th:include="components/Header.html" th:with="textColor='#FEEFCC'"></header>
<main>
    <button id="countBoutton" class="countbutton">
        <h2 id='result' style="display: flex; justify-content: center;">1 / 4</h2></button>
</main>
<article>
    <form class="theme-checker">
        <div id="testBox">
            <div style="margin-top: -30px; padding: 30px">
                <h3>검증된 심리검사로 자신을 마주해보아요</h3>
                <!-- 사진 -->
                <img src="/images/psychological/test.jpg">
                <br>
                <!-- 원모양 배경1-->
                <section>
                    <article>
                        <div class="circle"><img class="icons" src="/images/psychological/bulb.png" alt="전구"></div>
                        <br>
                        <span>검사예상 소요시간<br>3분</span>
                    </article>
                    <!-- 원모양 배경2-->
                    <article>
                        <div class="circle"><img class="icons" src="/images/psychological/hand.png" alt="손"></div>
                        <br>
                        <span>총 검사 문항 수 <br>32문항</span>
                    </article>
                    <br>
                </section>
                <br>
                <!-- 검사하기 버튼 -->
                <input type="submit" class="roundbutton" id="next1" value="검사하기">
                <!--<div th:each="test, testIndex : ${testQ}">
                    <h2 class="whiteText" th:text="${test.testContent}"></h2>
                    <input type="radio" th:name="${test.testCategory+test.testCode}" class="one" value="1"/>
                    <input type="hidden" name="testCategory" th:value="${test.testCategory}"/>
                    <input type="radio" th:name="${test.testCategory+test.testCode}" class="two" value="2"/>
                    <input type="hidden" name="testCategory" th:value="${test.testCategory}"/>
                    <input type="radio" th:name="${test.testCategory+test.testCode}" class="three" value="3"/>
                    <input type="hidden" name="testCategory" th:value="${test.testCategory}"/>
                    <input type="radio" th:name="${test.testCategory+test.testCode}" class="four" value="4"/>
                    <input type="hidden" name="testCategory" th:value="${test.testCategory}"/>
                    <input type="radio" th:name="${test.testCategory+test.testCode}" class="five" value="5"/>
                    <input type="hidden" name="testCategory" th:value="${test.testCategory}"/>
                    <div class="testQ">
                        <div>전혀그렇지않다</div>
                        <div>매우그렇다</div>
                    </div>
                    <input type="hidden" name="testCategory" th:value="${test.testCategory}"/>
                </div>-->
            </div>
            <input type="hidden" id="userId" value="userId">
            <div id="buttonChange">
                <input id="next" class="roundbutton" type="button" value="다음">
            </div>
    </form>
</article>
<br><br><br><br><br><br><br><br><br><br><br><br>
<footer style=" position: fixed;bottom: 0; margin: 0 auto; left: 0; right: 0;">
    <img class="grass" src="/images/common/beigeGrass.png" alt="grass">
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>
<script>
    let currentPage = 2;
    $(document).ready(function () {
        /* 버튼 클릭 */
        const selectCategory = ["", "D", "A", "B", "O"]
        //var answer = {};
        let testList = {};
        let answers = [];
        let categorys = [];

        $("#next").click(function () {
            // 선택한 답변을 히든 태그에 저장
            let testIndex = $("input[type='radio']:checked").length;

            if (testIndex <= 8) {
                $("input[type='radio']:checked").each(function () {

                    let answerScore = $(this).val(); // 선택한 답변 값
                    let testCategory = $(this).next().val(); // 질문 카테고리


                    /*testList = {
                        index : JSON.stringify(answerScore)
                    }
                    let hiddenName = $(this).next().attr('name'); // 히든태그 name */
                    $('#result').text((currentPage) + ' / ' + 4);
                    /* Top 으로 이동 */
                    window.scrollTo(0, 0);
                    /* 다음 카테고리 값 넘겨주기 */
                    if (currentPage == 2) {
                        testCategory = selectCategory[currentPage];
                        console.log(testCategory + " 테스트")
                    } else if (currentPage == 3) {
                        testCategory = selectCategory[currentPage];
                        console.log(testCategory + " 테스트")
                    } else if (currentPage == 4) {
                        testCategory = selectCategory[currentPage];
                        console.log(testCategory + " 테스트")
                    } else if (currentPage == 5) {
                        testCategory = selectCategory[currentPage];
                    }
                    console.log(testCategory)
                    console.log(answerScore + "1")
                    answers = answers.concat(answerScore);
                    categorys = categorys.concat(testCategory);


                    $.ajax({
                        url: "startAjax",
                        data: {testCategory: testCategory},
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data, status, xhr) {
                            //answerScore.push(answer);

                            const testQ = JSON.parse(data.testQ);
                            const questionContainer = $("#testBox");
                            questionContainer.html("");
                            testQ.forEach(function (testQ, i) {
                                const questionDiv = $('<div>');
                                const answerDiv1 = $('<div>').append('전혀그렇지않다');
                                const answerDiv2 = $('<div>').append('매우그렇다');

                                /* 질문 */
                                questionDiv.append($('<h2>').addClass('whiteText').text(testQ.testContent));
                                /* 버튼 */
                                questionDiv.append($('<input>').attr({
                                    type: 'radio',
                                    name: testQ.testCategory + testQ.testCode,
                                    class: 'one',
                                    value: '1'
                                }));
                                questionDiv.append($('<input>').attr({
                                    type: 'radio',
                                    name: testQ.testCategory + testQ.testCode,
                                    class: 'two',
                                    value: '2'
                                }));
                                questionDiv.append($('<input>').attr({
                                    type: 'radio',
                                    name: testQ.testCategory + testQ.testCode,
                                    class: 'three',
                                    value: '3'
                                }));
                                questionDiv.append($('<input>').attr({
                                    type: 'radio',
                                    name: testQ.testCategory + testQ.testCode,
                                    class: 'four',
                                    value: '4'
                                }));
                                questionDiv.append($('<input>').attr({
                                    type: 'radio',
                                    name: testQ.testCategory + testQ.testCode,
                                    class: 'five',
                                    value: '5'
                                }));
                                questionDiv.append($('<div>').append(answerDiv1).append(answerDiv2).addClass('testQ'));
                                questionContainer.append(questionDiv);
                            });
                            // 현재 질문을 페이지에 추가
                            if (currentPage == 5) {
                                const buttonChange = $("#buttonChange");
                                buttonChange.html("");
                                buttonChange.append($('<input>').attr({
                                    id: 'submit',
                                    type: 'button',
                                    class: 'roundbutton',
                                    value: '제출하기'
                                }));
                            }

                            $("#submit").click(function () {

                                console.log(categorys + "마지막")
                                console.log(answers + "마지막")


                                // answers 객체를 서버로 전송
                                $.ajax({
                                    url: "saveAnswers",
                                    method: "POST",
                                    data: JSON.stringify(categorys, answers),
                                    success: function (data) {


                                        // 제출이 성공했을 때의 처리
                                    },
                                    error: function (xhr, status, error) {
                                        console.error(error + " 에러가 났따...");
                                    }
                                });
                            })
                        },
                        error: function (xhr, status, error) {
                        }
                    });

                });

                currentPage++
            }/*else if (testIndex < 8){
                    alert("전부 체크해주세요")
                }*/

        });
        /*$("#submit").click(function () {
            // answers 객체를 서버로 전송
            $.ajax({
                url: "saveAnswers",
                method: "POST",
                data: testList,
                contentType: "application/json",
                success: function (data) {

                    // 제출이 성공했을 때의 처리
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        })*/
    });

</script>
</body>
</html>