<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta>
    <title>start</title>
    <link rel="stylesheet" type="text/css" href="/css/psychological/startTest.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
<header class="header" th:include="components/Header.html" th:with="textColor='#FEEFCC'"></header>
<main>
    <button id="countBoutton" class="countbutton">
        <h2 id='result' style="display: flex; justify-content: center;">1 / 4</h2></button>
</main>
<article>

    <form class="theme-checker">
        <div id="testBox">
            <div th:each="test, testIndex : ${testQ}">
                <h2 class="whiteText" th:text="${test.testContent}"></h2>
                <input type="radio" th:name="${test.testCategory+test.testCode}" class="one" value="1"/>
                <input type="radio" th:name="${test.testCategory+test.testCode}" class="two" value="2"/>
                <input type="radio" th:name="${test.testCategory+test.testCode}" class="three" value="3"/>
                <input type="radio" th:name="${test.testCategory+test.testCode}" class="four" value="4"/>
                <input type="radio" th:name="${test.testCategory+test.testCode}" class="five" value="5"/>
                <div class="testQ">
                    <div>전혀그렇지않다</div>
                    <div>매우그렇다</div>
                </div>
                <input type="hidden" name="testCategory" th:value="${test.testCategory}"/>
            </div>
        </div>
        <input type="hidden" id="userId" value="userId">
        <div id="buttonChange">
            <input id="next" class="roundbutton" type="button" value="다음">
        </div>
    </form>
</article>
<br><br><br><br><br><br><br><br><br><br><br><br>
<footer style=" position: fixed;bottom: 0; margin: 0 auto; left: 0; right: 0;">
    <img class="grass" src="/images/common/beigeGrass.png" alt="grass">
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>
<script>
    /* 페이지 표시 */
    let currentPage = 2;
    const selectCategory = ["", "D", "A", "B", "O"]
    let answers = {};
    const answersD = []
    const answersA = []
    const answersB = []
    const answersO = []
    $(document).ready(function () {
        /* 버튼 클릭 */
        $("#next").click(function () {
            // 선택한 답변을 히든 태그에 저장
            let testIndex = $("input[type='radio']:checked").length;
            if (testIndex < 8) {
                $("input[type='radio']:checked").each(function (index) {
                    let answerScore = $(this).val(); // 선택한 답변 값
                    let testCategory = $(this).next().val(); // 질문 카테고리
                    /*let hiddenName = $(this).next().attr('name'); // 히든태그 name*/


                    /*console.log("$(this).val() ? = " + answerScore);
                    console.log("index" + index + " = " + hiddenName + ", val = " + testCategory);*/
                    $('#result').text((currentPage) + ' / ' + 4);
                    /* Top 으로 이동 */
                    window.scrollTo(0, 0);
                    /* 다음 카테고리 값 넘겨주기 */
                        testCategory = selectCategory[currentPage];
                        $("input[type='radio']:checked").each(function () {
                            answersD[index] = answerScore;
                            console.log(answersD[index] + "여기 저장 됨?1")
                        });
                    if (currentPage == 3) {
                        testCategory = selectCategory[currentPage];
                        $("input[type='radio']:checked").each(function () {
                            answersD[index] = answerScore;
                            console.log(answersA[index] + "여기 저장 됨?2")
                        });
                    } else if (currentPage == 4) {
                        testCategory = selectCategory[currentPage];
                    } else if (currentPage == 5) {
                        testCategory = selectCategory[currentPage];
                    }

                    console.log(answersA[index] + "AAA");
                    /*if (testCategory === 'D'){
                        answersD[index] = answerScore
                        console.log(testCategory)
                    }else if (testCategory === 'A'){
                        console.log(testCategory)
                        answersA[index] = answerScore
                    }else if (testCategory === 'B'){
                        answersB[index] = answerScore
                    }else if (testCategory === 'O'){
                        answersO[index] = answerScore
                    }*/
                    $.ajax({
                        url: "startAjax",
                        data: {testCategory: testCategory},
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data, status, xhr) {

                            const testQ = JSON.parse(data.testQ);
                            const questionContainer = $("#testBox");
                            questionContainer.html("");
                            testQ.forEach(function (testQ, i) {
                                const questionDiv = $('<div>');
                                const answerDiv1 = $('<div>').append('전혀그렇지않다');
                                const answerDiv2 = $('<div>').append('매우그렇다');

                                /* 질문 */
                                questionDiv.append($('<h2>').addClass('whiteText').text(testQ.testContent));
                                /* 버튼 */
                                questionDiv.append($('<input>').attr({
                                    type: 'radio',
                                    name: testQ.testCategory + testQ.testCode,
                                    class: 'one',
                                    value: '1'
                                }));
                                questionDiv.append($('<input>').attr({
                                    type: 'radio',
                                    name: testQ.testCategory + testQ.testCode,
                                    class: 'two',
                                    value: '2'
                                }));
                                questionDiv.append($('<input>').attr({
                                    type: 'radio',
                                    name: testQ.testCategory + testQ.testCode,
                                    class: 'three',
                                    value: '3'
                                }));
                                questionDiv.append($('<input>').attr({
                                    type: 'radio',
                                    name: testQ.testCategory + testQ.testCode,
                                    class: 'four',
                                    value: '4'
                                }));
                                questionDiv.append($('<input>').attr({
                                    type: 'radio',
                                    name: testQ.testCategory + testQ.testCode,
                                    class: 'five',
                                    value: '5'
                                }));
                                questionDiv.append($('<div>').append(answerDiv1).append(answerDiv2).addClass('testQ'));
                                questionContainer.append(questionDiv);

                            });
                            // 현재 질문을 페이지에 추가


                            if (currentPage == 5) {
                                const buttonChange = $("#buttonChange");
                                buttonChange.html("");
                                buttonChange.append($('<input>').attr({
                                    id: 'dataSend',
                                    type: 'submit',
                                    class: 'roundbutton',
                                    value: '제출하기'
                                }));
                            }
                        },
                        error: function (xhr, status, error) {
                        }
                    });
                });
                currentPage++
            }/*else if (testIndex < 8){
                    alert("전부 체크해주세요")
                }*/

        });
        $("#submit").click(function () {
            // answers 객체를 서버로 전송
            $.ajax({
                url: "submitAnswers",
                method: "POST",
                data: JSON.stringify(answers),
                contentType: "application/json",
                success: function (data) {

                    // 제출이 성공했을 때의 처리
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        })
    });

    /*let currentPage = 2;
    //const selectCategory = ["D", "A", "B", "O"]
    $("#next").click(function () {
        // 선택한 답변을 히든 태그에 저장
        $("input[type='radio']:checked").each(function () {
            /!* 카테고리 + index *!/
            let testIndex = $(this).attr("name");
            let testCategory = $(this).attr("name").charAt(0); // 카테고리 식별자 가져오기
            const answerScore = $(this).val(); // 선택한 답변 값
            const hiddenInputName = "category" + testCategory + "Answers[" + answerScore + "]";
            $("input[name='" + hiddenInputName + "']").val("1"); // 선택한 답변을 1로 표시
            /!* 체크 *!/
            console.log(testIndex + "index");
            console.log(answerScore + " 답변 값")
            console.log(testCategory + " 카테고리 식별")
            console.log(hiddenInputName + " 인풋네임?")
            /!* 남은 항목 표시 *!/
            $('#result').text((currentPage) + ' / ' + 4);
            /!* 상단으으로 *!/
            window.scrollTo(0, 0);
            /!* 다음 카테고리 값 넘겨주기 *!/
            console.log(currentPage+ "번호")
            /!*if (currentPage == 1){
                category = "D";
            }else*!/ if(currentPage == 2){
                testCategory = "A";

            }else if(currentPage == 3){
                testCategory = "B";
            }else if(currentPage == 4){
                testCategory = "O";
            }

            $.ajax({
                url: "startAjax",
                data: {
                    category: testCategory,
                    answerScore: answerScore,
                    testIndex: testIndex
                },
                dataType: "json",
                contentType: "application/json",
                success: function (data, status, xhr) {

                    const testQ = JSON.parse(data.testQ);
                    const questionContainer = $("#test11");
                    questionContainer.html("");
                    testQ.forEach(function (testQ, i) {
                        const questionDiv = $('<div>');
                        const answerDiv1 = $('<div>').append('전혀그렇지않다');
                        const answerDiv2 = $('<div>').append('매우그렇다');
                        questionDiv.append($('<h2>').addClass('whiteText').text(testQ.testContent));
                        questionDiv.append($('<input>').attr({
                            type: 'radio',
                            name: testQ.testCategory + testQ.testCode,
                            class: 'one',
                            value: '1'
                        }));
                        questionDiv.append($('<input>').attr({
                            type: 'radio',
                            name: testQ.testCategory + testQ.testCode,
                            class: 'two',
                            value: '2'
                        }));
                        questionDiv.append($('<input>').attr({
                            type: 'radio',
                            name: testQ.testCategory + testQ.testCode,
                            class: 'three',
                            value: '3'
                        }));
                        questionDiv.append($('<input>').attr({
                            type: 'radio',
                            name: testQ.testCategory + testQ.testCode,
                            class: 'four',
                            value: '4'
                        }));
                        questionDiv.append($('<input>').attr({
                            type: 'radio',
                            name: testQ.testCategory + testQ.testCode,
                            class: 'five',
                            value: '5'
                        }));
                        questionDiv.append($('<div>').append(answerDiv1).append(answerDiv2).addClass('testQ'));
                        questionContainer.append(questionDiv);
                    });
                    if (currentPage == 5) {
                        const buttonChange = $("#buttonChange");
                        buttonChange.html("");
                        buttonChange.append($('<input>').attr({
                            id: 'dataSend',
                            type: 'submit',
                            class: 'roundbutton',
                            value: '제출하기'
                        }));
                    }
                },
                error: function (xhr, status, error) {
                }
            });
        });
        currentPage++
    });*/

    // 다음 단계로 이동
    // 추가로 처리해야 할 로직을 여기에 추가


</script>
</body>
</html>