/* 계정 생성 및 권한 설정 후 스키마 접속 */
CREATE USER 'META'@'%' IDENTIFIED BY  'META';

CREATE DATABASE BLOOM;

GRANT ALL PRIVILEGES ON BLOOM.* TO 'META'@'%';

USE BLOOM;


/* DDL */

CREATE TABLE `AUTHORITY`
(
    `AUTHORITY_CODE`    INT NOT NULL AUTO_INCREMENT
 COMMENT '권한코드',
    `AUTHORITY_NAME`    VARCHAR(20) NOT NULL COMMENT '권한명',
 PRIMARY KEY ( `AUTHORITY_CODE` )
) COMMENT = '권한';


CREATE TABLE `AUTORITY_MENU`
(
    `AUTHORITY_CODE`    INT NOT NULL COMMENT '권한코드',
    `MENU_CODE`    INT NOT NULL COMMENT '메뉴코드',
 PRIMARY KEY ( `AUTHORITY_CODE`,`MENU_CODE` )
) COMMENT = '권한별접근가능메뉴';


CREATE TABLE `BOARD`
(
    `BOARD_CODE`    INT NOT NULL AUTO_INCREMENT
 COMMENT '게시글코드',
    `TITLE`    VARCHAR(40) NOT NULL COMMENT '제목',
    `POSTED_DATE`    VARCHAR(20) NOT NULL COMMENT '작성일시',
    `DELETE_DATE`    VARCHAR(20) COMMENT '삭제일시',
    `VIEW_COUNT`    INT NOT NULL COMMENT '조회수',
    `BOARD_CATEGORY`    VARCHAR(20) NOT NULL COMMENT '게시글분류',
    `BOARD_CONTENT`    VARCHAR(2000) NOT NULL COMMENT '게시글내용',
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '아이디',
 PRIMARY KEY ( `BOARD_CODE` )
) COMMENT = '게시판';


CREATE TABLE `BOARD_REPORT`
(
    `REPORT_CODE`    INT NOT NULL AUTO_INCREMENT
 COMMENT '신고코드',
    `REPOTED_DATE`    VARCHAR(20) NOT NULL COMMENT '신고일시',
    `REPORT_CONTENT`    VARCHAR(40) NOT NULL COMMENT '신고사유',
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '신고한회원ID',
    `BOARD_CODE`    INT COMMENT '게시글코드',
 PRIMARY KEY ( `REPORT_CODE` )
) COMMENT = '게시글신고';


CREATE TABLE `BOOKING`
(
    `BOOKING_CODE`    INT NOT NULL AUTO_INCREMENT
 COMMENT '예약코드',
    `BOOKING_DATE`    VARCHAR(20) NOT NULL COMMENT '예약일시',
    `MEMBER_ID`    VARCHAR(20) COMMENT '회원ID',
    `THERAPIST_ID`    VARCHAR(20) NOT NULL COMMENT '상담사ID',
    `BOOKING_STATUS`    VARCHAR(20) NOT NULL COMMENT '예약상태',
 PRIMARY KEY ( `BOOKING_CODE` )
) COMMENT = '예약';


CREATE TABLE `COMMENT_REPORT`
(
    `REPORT_CODE`    INT NOT NULL AUTO_INCREMENT
 COMMENT '신고코드',
    `REPOTED_DATE`    VARCHAR(20) NOT NULL COMMENT '신고일시',
    `REPORT_CONTENT`    VARCHAR(40) NOT NULL COMMENT '신고사유',
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '신고한회원ID',
    `COMMENT_CODE`    INT NOT NULL COMMENT '댓글코드',
    `BOARD_CODE`    INT NOT NULL COMMENT '게시글코드',
 PRIMARY KEY ( `REPORT_CODE` )
) COMMENT = '댓글신고';


CREATE TABLE `DATA_FILE`
(
    `FILE_NUMBER`    INT NOT NULL AUTO_INCREMENT
 COMMENT '일련번호',
    `FILE_PATH`    VARCHAR(1000) NOT NULL COMMENT '업로드경로',
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '아이디',
    `FILE_ORIGIN_NAME`    VARCHAR(1000) NOT NULL COMMENT '원본파일이름',
    `FILE_CHANGED_NAME`    VARCHAR(1000) NOT NULL COMMENT '변경한파일이름',
    `FILE_SIZE`    INT NOT NULL COMMENT '파일사이즈',
 PRIMARY KEY ( `FILE_NUMBER`,`USER_ID` )
) COMMENT = '증빙자료첨부파일';


CREATE TABLE `MEMBER`
(
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '아이디',
    `ETC_CONTENT`    VARCHAR(100) COMMENT 'ETC항목내용',
    `TEST_STATUS`    CHAR(20) NOT NULL COMMENT '심리검사완료여부',
    `THERAPIST_GENDER_CK`    CHAR(20) NOT NULL COMMENT '회망상담사성별',
    `NICKNAME`    VARCHAR(20) NOT NULL COMMENT '닉네임',
    `REPORT_COUNT`    INT DEFAULT 0 NOT NULL COMMENT '누적신고수',
    `RELATION_CK`    CHAR(20) NOT NULL COMMENT '대인관계항목체크여부',
 PRIMARY KEY ( `USER_ID` )
) COMMENT = '회원';


CREATE TABLE `MEMBER_AUTHORITY`
(
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '아이디',
    `AUTHORITY_CODE`    INT NOT NULL COMMENT '권한코드',
 PRIMARY KEY ( `USER_ID`,`AUTHORITY_CODE` )
) COMMENT = '회원별권한';


CREATE TABLE `MEMBER_COMMENT`
(
    `COMMENT_CONTENT`    VARCHAR(600) NOT NULL COMMENT '댓글내용',
    `COMMENT_CODE`    INT NOT NULL COMMENT '댓글코드',
    `BOARD_CODE`    INT NOT NULL COMMENT '게시글코드',
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '댓글작성회원ID',
 PRIMARY KEY ( `COMMENT_CODE`,`BOARD_CODE` )
) COMMENT = '커뮤니티댓글';


CREATE TABLE `MEMBER_TEST_RESULT`
(
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '아이디',
    `TEST_DATE`    VARCHAR(20) NOT NULL COMMENT '검사일시',
    `DEPRESSION_TOTAL_SCORE`    INT NOT NULL COMMENT '우울테스트점수총합',
    `ANXIETY_TOTAL_SCORE`    INT NOT NULL COMMENT '불안테스트점수총합',
    `BIPOLAR_TOTAL_SCORE`    INT NOT NULL COMMENT '양극성테스트점수총합',
    `OCD_TOTAL_SCORE`    INT NOT NULL COMMENT '강박성테스트점수총합',
    `ANSWER_CODE`    INT NOT NULL COMMENT '테스트응답코드',
 PRIMARY KEY ( `ANSWER_CODE` )
) COMMENT = '회원별테스트검사결과';


CREATE TABLE `MENU`
(
    `MENU_CODE`    INT NOT NULL AUTO_INCREMENT
 COMMENT '메뉴코드',
    `MENU_NAME`    VARCHAR(20) NOT NULL COMMENT '메뉴명',
    `MENU_URL`    VARCHAR(1000) NOT NULL COMMENT '메뉴URL',
    `MENU_CONTENT`    VARCHAR(1000) NOT NULL COMMENT '메뉴설명',
    `MENU_CATEGORY`    VARCHAR(20) NOT NULL COMMENT '구분',
    `SUPER_MENU_CODE`    INT COMMENT '상위메뉴코드',
 PRIMARY KEY ( `MENU_CODE` )
) COMMENT = '공통메뉴';


CREATE TABLE `PROFILE_FILE`
(
    `FILE_NUMBER`    INT NOT NULL AUTO_INCREMENT
 COMMENT '일련번호',
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '아이디',
    `FILE_PATH`    VARCHAR(1000) NOT NULL COMMENT '업로드경로',
    `FILE_ORIGIN_NAME`    VARCHAR(1000) NOT NULL COMMENT '원본파일이름',
    `FILE_CHANGED_NAME`    VARCHAR(1000) NOT NULL COMMENT '변경한파일이름',
    `FILE_SIZE`    INT NOT NULL COMMENT '파일사이즈',
 PRIMARY KEY ( `FILE_NUMBER`,`USER_ID` )
) COMMENT = '프로필첨부파일';


CREATE TABLE `REVIEW`
(
    `BOOKING_CODE`    INT NOT NULL COMMENT '예약코드',
    `POSTED_DATE`    VARCHAR(20) NOT NULL COMMENT '작성일시',
    `REVIEW_SCORE`    INT NOT NULL COMMENT '평점',
    `DELETE_DATE`    VARCHAR(20) COMMENT '삭제일시',
    `REVIEW_CONTENT`    VARCHAR(600) COMMENT '후기내용',
 PRIMARY KEY ( `BOOKING_CODE` )
) COMMENT = '후기';

CREATE TABLE `TEST_Q`
(
    `TEST_CODE`    INT NOT NULL AUTO_INCREMENT
 COMMENT '테스트질문코드',
    `TEST_CONTENT`    VARCHAR(200) NOT NULL COMMENT '질문내용',
    `TEST_CATEGORY`    VARCHAR(20) NOT NULL COMMENT '분류',
 PRIMARY KEY ( `TEST_CODE` )
) COMMENT = '심리테스트질문';


CREATE TABLE `TEST_RESULT`
(
    `ANSWER_CODE`    INT NOT NULL AUTO_INCREMENT
 COMMENT '테스트응답코드',
    `TEST_CODE`    INT NOT NULL COMMENT '테스트질문코드',
    `ANSWER_SCORE`    INT NOT NULL COMMENT '응답점수',
 PRIMARY KEY ( `ANSWER_CODE`,`TEST_CODE` )
) COMMENT = '심리테스트결과';


CREATE TABLE `THERAPIST`
(
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '아이디',
    `THERAPIST_Q1`    VARCHAR(100) NOT NULL COMMENT '상담사의추가문답1',
    `THERAPIST_Q2`    VARCHAR(1000) NOT NULL COMMENT '상담사의추가문답2',
    `ACTIVATION_STATUS`    CHAR(20) NOT NULL COMMENT '상담활동활성화여부',
    `CONFIRMED_STATUS`    CHAR(20) NOT NULL COMMENT '상담활동승인여부',
    `SESSION_VIDCALL_CK`    CHAR(20) NOT NULL COMMENT '상담방식화상상담체크여부',
    `THERAPIST_Q3`    VARCHAR(1000) NOT NULL COMMENT '상담사의추가문답3',
    `DEPRESSION_CK`    CHAR(20) NOT NULL COMMENT '우울항목체크여부',
    `BIPOLAR_CK`    CHAR(20) NOT NULL COMMENT '양극성항목체크여부',
    `OCD_CK`    CHAR(20) NOT NULL COMMENT '강박성항목체크여부',
    `RELATION_CK`    CHAR(20) NOT NULL COMMENT '대인관계항목체크여부',
    `SESSION_CHAT_CK`    CHAR(20) NOT NULL COMMENT '상담방식채팅상담체크여부',
    `SESSION_INPERSON_CK`    CHAR(20) NOT NULL COMMENT '상담방식대면상담체크여부',
    `ANXIETY_CK`    CHAR(20) NOT NULL COMMENT '불안항목체크여부',
    `ORGANIZATION`    VARCHAR(40) COMMENT '소속기관',
 PRIMARY KEY ( `USER_ID` )
) COMMENT = '상담사';


CREATE TABLE `THERAPIST_COMMENT`
(
    `COMMENT_NUMBER`    INT NOT NULL AUTO_INCREMENT
 COMMENT '일련번호',
    `POSTED_DATE`    VARCHAR(20) NOT NULL COMMENT '작성일시',
    `DELETE_DATE`    VARCHAR(20) COMMENT '삭제일시',
    `COMMENT_CONTENT`    VARCHAR(600) NOT NULL COMMENT '답변내용',
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '아이디',
    `BOARD_CODE`    INT NOT NULL COMMENT '게시글코드',
 PRIMARY KEY ( `COMMENT_NUMBER`,`BOARD_CODE` )
) COMMENT = '상담사답변';


CREATE TABLE `USER_INFO`
(
    `USER_ID`    VARCHAR(20) NOT NULL COMMENT '아이디',
    `NAME`    VARCHAR(20) NOT NULL COMMENT '이름',
    `GENDER`    CHAR(20) NOT NULL COMMENT '성별',
    `PWD`    VARCHAR(20) NOT NULL COMMENT '비밀번호',
    `EMAIL`    VARCHAR(50) NOT NULL COMMENT '이메일',
    `PHONE`    VARCHAR(20) NOT NULL COMMENT '전화번호',
    `REGIST_DATE`    VARCHAR(20) NOT NULL COMMENT '가입일시',
    `UNREGIST_DATE`    VARCHAR(20) COMMENT '탈퇴일시',
    `AUTHORITY_CODE`    INT NOT NULL COMMENT '권한코드',
 PRIMARY KEY ( `USER_ID` )
) COMMENT = '회원정보';
