<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" type="text/css" href="/css/match/therapyList.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header class="header" th:include="components/Header.html"></header>

<h1>00님 이런 상담사들은 어떠세요?</h1>
<!-- 상담사 찾기 버튼
<div>
    <div style="position:fixed; top: 200px; right: 5px;">
        <a id="toTop" href="#" ><img class="icons" src="../images/psychological/search.png" title="위로가기"></a><br>
    </div>
</div>-->
<script>
    const scrollTop = function () {
        // create HTML button element
        const scrollBtn = document.createElement("button");
        scrollBtn.innerHTML = "&uarr;";
        scrollBtn.setAttribute("id", "scroll-btn");
        document.body.appendChild(scrollBtn);
        // hide/show button based on scroll distance
        const scrollBtnDisplay = function () {
            window.scrollY > 600/*window.innerHeight*/
                ? scrollBtn.classList.add("show")
                : scrollBtn.classList.remove("show");
        };
        window.addEventListener("scroll", scrollBtnDisplay);
        // scroll to top when button clicked
        const scrollWindow = function () {
            if (window.scrollY != 0) {
                setTimeout(function () {
                    window.scrollTo(0, window.scrollY - 50);
                    scrollWindow();
                }, 10);
            }
        };
        scrollBtn.addEventListener("click", scrollWindow);
    };
    scrollTop();
</script>
<!-- 상담사 검색 카테고리-->
<div>
    <form class="checkbox">
        <input type="checkbox" name="우울" value="우울"> 우울
        <input type="checkbox" name="불안" value="불안"> 불안
        <input type="checkbox" name="양극성" value="양극성"> 양극성
        <input type="checkbox" name="강박성" value="강박성"> 강박성
        <input type="checkbox" name="대인관계" value="대인관계"> 대인관계
    </form>
    <hr style="border: 1px solid #C09A81; width: 70%;">
</div>
<!-- 검색 -->
<div style="margin: 0 auto; width: 70%">
    <div>
        <div class="search-bar">
            <input type="search" placeholder="상담사 성함을 검색 해주세요." class="search-input"/>
            <button type="submit" class="search-button" onclick="">
                <span class="button-text">검색</span>
            </button>
        </div>
    </div>
<!--프로필 -->
    <div class="parent">
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
                한줄소개한줄소개한줄소개한줄소개한줄소개
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
                한줄소개한줄소개한줄소개한줄소개한줄소개
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
                한줄소개한줄소개한줄소개한줄소개한줄소개
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
                한줄소개한줄소개한줄소개한줄소개한줄소개
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
                한줄소개한줄소개한줄소개한줄소개한줄소개
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>

    </div>

</div>

<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#FEEFCC'"></th:block>
</footer>
</body>
</html>