<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" type="text/css" href="/css/match/therapyRecommend.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
<header class="header" th:include="components/Header.html"></header>
<th:block sec:authorize="isAuthenticated()">
    <div class="section1-2">
        <h3 style="margin-top: 50px;"><span sec:authentication="principal.name"></span>님에게 맞춘 상담사들을 추천드려요!</h3>
    </div>
</th:block>
<div>
    <div style="width: 70%; display: flex; margin: auto; margin-top: 50px;">
        <!-- HTML 코드 중간부분 -->
        <div id="therapists-container" class="parent">
            <!-- 'recomendTherapist' 데이터를 반복해서 화면에 출력 -->
            <th:block th:each="recommend : ${recommendTherapist}">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="/images/psychological/testpicture.jpg" alt="상담사 프로필">
                        <div th:text="${recommend.therapistQ1}"></div>
                    </div>
                    <div class="team-content">
                        <span th:if="${recommend.depressionCK} == 'Y'" th:text="우울 "></span>
                        <span th:if="${recommend.anxietyCK} == 'Y'" th:text="불안 "></span>
                        <span th:if="${recommend.bipolarCK} == 'Y'" th:text="양극성 "></span>
                        <span th:if="${recommend.ocdCK} == 'Y'" th:text="강박성 "></span>
                        <p></p>
                        <span th:if="${recommend.relationCK} == 'Y'" th:text="대인관계"></span>
                        <h3 th:text="${recommend.name.getName()}">상담사 이름</h3>
                    </div>
                    <ul class="social">
                        <!-- 상세 프로필 링크 -->
                        <li><a th:href="@{/psychological/match/introduceTherapy(userId=${recommend.userId})}" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
                    </ul>
                </div>
            </th:block>
        </div>
    </div>
    <div>
        <a style="color: #C08181; text-align: center; font-weight: bold;" href="/psychological/match/therapyList">또 다른 훌륭한 상담사들 보기</a>
    </div>
</div>
<input type="hidden" id="userId" name="userId" th:value="${ #authentication.getPrincipal().getUserId() }">
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>
<script>
   /* $(document).ready(function () {
        let userId = $("#userId").val();
        $.ajax({
            url: "therapyRecommend",
            type: "get",
            data: {userId: userId},

            success: function (data, status, xhr) {
                for (let i = 0; i < 5; i++) {
                    let recommend = data[i];

                    // 새로운 상담사 요소를 생성
                    let therapistElement = $("<div class='our-team'>");
                    console.log(therapistElement)
                    // 이미지 요소 추가
                    let imgElement = $("<img class='img-fluid' alt='상담사 프로필'>");
                    imgElement.attr("src", recommend.filePath);
                    therapistElement.append(imgElement);

                    // 우울, 불안, 양극성 등의 정보 추가
                    if (recommend.depressionCK == 'Y') {
                        therapistElement.append("<h4>우울</h4>");
                    }
                    if (recommend.anxietyCK == 'Y') {
                        therapistElement.append("<h4>불안</h4>");
                    }
                    if (recommend.bipolarCK == 'Y') {
                        therapistElement.append("<h4>양극성</h4>");
                    }
                    if (recommend.depressionCK == 'Y') {
                        therapistElement.append("<h4>우울</h4>");
                    }
                    // 나머지 정보도 동일하게 추가

                    // 상담사 이름 추가
                    therapistElement.append("<h3>" + recommend.name + "</h3>");

                    // 프로필 보기 링크 추가
                    let profileLink = $("<a class='profilebutton' aria-hidden='true' target='_blank'>프로필 보기</a>");
                    profileLink.attr("href", "/psychological/match/introduceTherapy/" + recommend.userId);
                    therapistElement.append(profileLink);

                    // 상담사 컨테이너에 상담사 요소 추가
                    $("#therapists-container").append(therapistElement);
                }
            },
            error: function (xhr, status, error) {
            },
        });
    });*/
</script>
</body>
</html>