<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" type="text/css" href="/css/match/therapyRecommend.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header class="header" th:include="components/Header.html"></header>
<h3 style="margin-top: 50px;">메타님에게 맞춘 상담사들을 추천드려요!</h3>
<div style="width: 70%; display: flex; margin: auto; margin-top: 50px;">
    <div class="parent" th:each="therapistInfo:${therapistInfo}" >
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
                <th:block th:text="${therapistInfo.therapistQ1}"></th:block>
            </div>
            <div class="team-content">
                <h3 th:text="${therapistInfo.name}"></h3>
                <h4 th:if="${therapistInfo.depressionCK == 'Y'}" th:text="${'우울'}"></h4>
                <h4 th:if="${therapistInfo.anxietyCK == 'Y'}" th:text="${'불안'}"></h4>
                <h4 th:if="${therapistInfo.bipolarCK == 'Y'}" th:text="${'양극성'}"></h4>
                <h4 th:if="${therapistInfo.ocdCK == 'Y'}" th:text="${'강박성'}"></h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
                <span th:text="${therapistInfo.therapistQ1}"></span>
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
                한줄소개한줄소개한줄소개한줄소개한줄소개
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
                한줄소개한줄소개한줄소개한줄소개한줄소개
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="/images/psychological/testpicture.jpg">
                한줄소개한줄소개한줄소개한줄소개한줄소개
            </div>
            <div class="team-content">
                <h3>상담사 이름</h3>
                <h4>전문 분야</h4>
            </div>
            <ul class="social">
                <li><a href="/psychological/match/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <a style="color: #C08181; text-align: center; font-weight: bold;" href="/psychological/match/therapyList">또 다른 훌륭한 상담사들 보기</a>
</div>
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>

</body>
</html>