<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" type="text/css" href="/css/match/therapyList.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

</head>
<body>
<header class="header" th:include="components/Header.html"></header>
<th:block sec:authorize="isAuthenticated()">
    <div class="section1-2">
        <h1><span sec:authentication="principal.name"></span>님 이런 상담사들은 어떠세요?</h1>
    </div>
</th:block>
<!-- 상담사 검색 카테고리-->
<div>
    <form class="checkbox">
        <input type="checkbox" name="우울" value="우울"> 우울
        <input type="checkbox" name="불안" value="불안"> 불안
        <input type="checkbox" name="양극성" value="양극성"> 양극성
        <input type="checkbox" name="강박성" value="강박성"> 강박성
        <input type="checkbox" name="대인관계" value="대인관계"> 대인관계
    </form>
    <hr style="border: 1px solid #C09A81; width: 70%;">
</div>
<!-- 검색 -->
<div style="margin: 0 auto; width: 70%">
    <div>
        <div class="search-bar">
            <input type="search" placeholder="상담사 성함을 검색 해주세요." class="search-input"/>
            <button type="submit" class="search-button" onclick="">
                <span class="button-text">검색</span>
            </button>
        </div>
    </div>
    <!--프로필 -->
    <div style="margin: 0 auto; width: 90%">
        <div id="therapists-container" class="parent">
            <div th:each="therapistInfo : ${therapistInfo}" class="our-team">
                <div class="picture">
                    <!--<img class="img-fluid" th:src="${therapistInfo.filePath}" alt="상담사 프로필">-->
                    <img class="img-fluid" src="/images/psychological/testpicture.jpg" alt="상담사 프로필">
                    <h4 th:if="${therapistInfo.depressionCK} == 'Y'" th:text="우울"></h4>
                    <h4 th:if="${therapistInfo.anxietyCK} == 'Y'" th:text="불안" ></h4>
                    <h4 th:if="${therapistInfo.bipolarCK} == 'Y'" th:text="양극성"></h4>
                    <h4 th:if="${therapistInfo.ocdCK} == 'Y'" th:text="강박성"></h4>
                    <h4 th:if="${therapistInfo.relationCK} == 'Y'" th:text="대인관계"></h4>
                </div>
                <div th:text="${therapistInfo.therapistQ1}"></div>
                <div class="team-content">
                    <h3 th:text="${therapistInfo.name.name}">상담사 이름</h3>
                </div>
                <ul class="social">
                    <li><a th:href="@{/psychological/match/introduceTherapy/{id}(id=${therapistInfo.userId})}" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<button id="load-more-button">더 보기</button>
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#FEEFCC'"></th:block>
</footer>
<script>
    let currentPage = 1; // 초기 페이지 번호
    const itemsPerPage = 4; // 페이지 당 아이템 수

    // 더 보기 버튼 클릭 이벤트
    document.getElementById("load-more-button").addEventListener("click", () => {
        currentPage++; // 페이지 번호 증가
        loadMoreTherapists();
    });

    function loadMoreTherapists() {
        // Ajax 호출하여 상담사 데이터 가져오기
        $.ajax({
            url: `/psychological/match/therapyList?page=${currentPage}&pageSize=${itemsPerPage}`,
            method: "GET",
            success: function (data) {
                data.forEach(function (therapistInfo) {
                    const therapistHtml = `
                        <div class="our-team">
                            <div class="picture">
                                <img class="img-fluid" th:src="${therapistInfo.filePath}" alt="상담사 프로필">
                            </div>
                            <div class="team-content">
                                <h3 th:text="${therapistInfo.name.name}">상담사 이름</h3>
                                <h4 th:if="${therapistInfo.depressionCK} == 'Y'" th:text="우울"></h4>
                                <h4 th:if="${therapistInfo.anxietyCK} == 'Y'" th:text="불안" ></h4>
                                <h4 th:if="${therapistInfo.bipolarCK} == 'Y'" th:text="양극성"></h4>
                                <h4 th:if="${therapistInfo.ocdCK} == 'Y'" th:text="강박성"></h4>
                                <h4 th:if="${therapistInfo.relationCK} == 'Y'" th:text="대인관계"></h4>
                            </div>
                            <ul class="social">
                                <li><a th:href="@{/psychological/match/introduceTherapy/{id}(id=${therapistInfo.userId})}" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
                            </ul>
                        </div>
                    `;
                    $("#therapists-container").append(therapistHtml);
                });

                if (data.length === 0) {
                    // 더 이상 데이터가 없을 경우 더 보기 버튼 숨기기
                    document.getElementById("load-more-button").style.display = "none";
                }
            },
            error: function (error) {
                console.error("Error loading therapists: " + error);
            },
        });
    }
    const scrollTop = function () {
        // create HTML button element
        const scrollBtn = document.createElement("button");
        scrollBtn.innerHTML = "&uarr;";
        scrollBtn.setAttribute("id", "scroll-btn");
        document.body.appendChild(scrollBtn);
        // hide/show button based on scroll distance
        const scrollBtnDisplay = function () {
            window.scrollY > 600/*window.innerHeight*/
                ? scrollBtn.classList.add("show")
                : scrollBtn.classList.remove("show");
        };
        window.addEventListener("scroll", scrollBtnDisplay);
        // scroll to top when button clicked
        const scrollWindow = function () {
            if (window.scrollY != 0) {
                setTimeout(function () {
                    window.scrollTo(0, window.scrollY - 50);
                    scrollWindow();
                }, 10);
            }
        };
        scrollBtn.addEventListener("click", scrollWindow);
    };
    scrollTop();
</script>
</body>
</html>
