<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>customerService</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/admin/adminPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <style>
        th:nth-of-type(2) {
            display: none;
        }
        td:nth-of-type(2) {
            display: none;
        }
        th, td {
            height: 50px;
        }
    </style>
</head>
<body>
<header class="header" th:include="components/Header.html"></header>
<br><br>
<div align="center">
    <h2 style="color: #C09A81">1:1문의</h2>
    <table align="center" class="board" id="listArea">
        <tr class="qna-title">
            <th style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">No</th>
            <th>게시글코드</th>
            <th>문의내용</th>
            <th>작성일</th>
            <th>작성자</th>
            <th style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">답변여부</th>
        </tr>

        <tr class="qna-list" align="center" th:each="cs, iterator : ${ csList }" style="cursor: pointer;">
            <td th:text="${selectCriteria.totalBoardCount - (((selectCriteria.pageNo - 1) * selectCriteria.limitPerPage) + iterator.index)}"></td>
            <td th:text="${cs.getBoardCode()}"></td>
            <td th:text="${cs.getTitle()}"></td>
            <td th:text="${cs.getPostedDate()}"></td>
            <td th:text="${cs.getUserId()}"></td>
            <td>
                <a th:if="${cs.getCommentNumber()} != null">답변 완료</a>
                <a th:unless="${cs.getCommentNumber()} != null">답변 대기</a>
            </td>
        </tr>
    </table>
    <br>
    <div class="pagingArea" align="center">
        <input type="hidden" name="currentPage" value="1">
        <button th:onclick="'location.href=\'/admin/customerService?currentPage='+@{${selectCriteria.startPage}}+'\''"
                th:disabled="${selectCriteria.pageNo == 1}">
            <<
        </button>
        <button th:onclick="'location.href=\'/admin/customerService?currentPage='+@{${selectCriteria.pageNo - 1}}+'\''"
                th:disabled="${selectCriteria.pageNo == 1}">
            <
        </button>
        <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
            <button th:text="${ page }"
                    th:onclick="'location.href=\'/admin/customerService?currentPage='+@{${page}}+'\''"
                    th:disabled="${ selectCriteria.pageNo eq page }">
            </button>
        </th:block>
        <button th:onclick="'location.href=\'/admin/customerService?currentPage='+@{${selectCriteria.pageNo + 1}}+'\''"
                th:disabled="${selectCriteria.pageNo == selectCriteria.lastPage}">
            >
        </button>
        <button th:onclick="'location.href\'/admin/customerService?currentPage='+@{${selectCriteria.lastPage}}+'\''"
                th:disabled="${selectCriteria.pageNo == selectCriteria.lastPage}">
            >>
        </button>
        <br><br>
    </div>
</div>
<br><br>
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
    <img class="brownGrass" src="/images/common/BrownGrass.png" alt="brownGrass">
</footer>
<script th:inline="javascript">
    if(document.querySelectorAll("#listArea td")){
        const $tds = document.querySelectorAll("#listArea td");
        for(let i = 0; i < $tds.length; i++){
            $tds[i].onclick = function (){
                const boardCode = this.parentNode.children[1].innerText;
                location.href = "/admin/csAnswer?boardCode=" + boardCode;
            }
        }
    }
</script>

<script th:if="${not #strings.isEmpty(cSuccessMessage)}">
    alert("[[${cSuccessMessage}]]");
</script>

<script th:if="${not #strings.isEmpty(cErrorMessage)}">
    alert("[[${cErrorMessage}]]");
</script>
</body>
</html>

<!--push용 주석-->