<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>customerService</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/admin/adminPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<div th:include="Components/PostLoginHeader.html"></div>
<br><br>
<div align="center">
    <h2 style="color: #C09A81">1:1문의</h2>
    <table align="center" class="board">
        <tr class="qna-title">
            <th style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">&nbsp;No&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;문의내용&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;작성일&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;작성자&nbsp;&nbsp;</th>
            <th style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">&nbsp;&nbsp;답변여부&nbsp;</th>
        </tr>

        <tr style="color: #C09A81" align="center">
            <td>1&nbsp;</td>
            <td style="cursor: pointer" onclick="location.href='csAnswer'">&nbsp;비밀번호가 찾아지지 않습니다!&nbsp;</td>
            <td>&nbsp;2023-09-04&nbsp;</td>
            <td>&nbsp;hdd***&nbsp;</td>
            <td>&nbsp;답변대기</td>
        </tr>
        <tr class="qna-list" align="center">
            <td style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">2&nbsp;</td>
            <td style="cursor: pointer">&nbsp;글이 지워지지 않습니다!&nbsp;</td>
            <td>&nbsp;2023-09-04&nbsp;</td>
            <td>&nbsp;jrt***&nbsp;</td>
            <td style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">&nbsp;답변대기</td>
        </tr>
        <tr style="color: #C09A81" align="center">
            <td>3&nbsp;</td>
            <td style="cursor: pointer">&nbsp;아이디가 찾아지지 않습니다!&nbsp;</td>
            <td>&nbsp;2023-09-04&nbsp;</td>
            <td>&nbsp;wqh***&nbsp;</td>
            <td>&nbsp;답변완료</td>
        </tr>
        <tr class="qna-list" align="center">
            <td style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">4&nbsp;</td>
            <td style="cursor: pointer">&nbsp;글이 검색되지 않습니다!&nbsp;</td>
            <td>&nbsp;2023-09-04&nbsp;</td>
            <td>&nbsp;kyd***&nbsp;</td>
            <td style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">&nbsp;답변완료</td>
        </tr>
        <tr style="color: #C09A81" align="center">
            <td>5&nbsp;</td>
            <td style="cursor: pointer">예약이 되지 않습니다!&nbsp;</td>
            <td>&nbsp;2023-09-04&nbsp;</td>
            <td>&nbsp;mnd***&nbsp;</td>
            <td>&nbsp;답변완료</td>
        </tr>

        <!--        <tr style="color: #C09A81" align="center">-->
        <!--            <td th:text="${boardNo}"></td>-->
        <!--            <td th:text="${boardTitle}" style="cursor: pointer" onclick=""></td>-->
        <!--            <td th:text="${writeDate}"></td>-->
        <!--            <td th:text="${userId}"></td>-->
        <!--            <td th:text="${answerStatus}"></td>-->
        <!--        </tr>-->
        <!--        <tr class="qna-list" align="center">-->
        <!--            <td th:text="${boardNo}"></td>-->
        <!--            <td th:text="${boardTitle}" style="cursor: pointer" onclick=""></td>-->
        <!--            <td th:text="${writeDate}"></td>-->
        <!--            <td th:text="${userId}"></td>-->
        <!--            <td th:text="${answerStatus}"></td>-->
        <!--        </tr>-->
        <!--        <tr style="color: #C09A81" align="center">-->
        <!--            <td th:text="${boardNo}"></td>-->
        <!--            <td th:text="${boardTitle}" style="cursor: pointer" onclick=""></td>-->
        <!--            <td th:text="${writeDate}"></td>-->
        <!--            <td th:text="${userId}"></td>-->
        <!--            <td th:text="${answerStatus}"></td>-->
        <!--        </tr>-->
        <!--        <tr class="qna-list" align="center">-->
        <!--            <td th:text="${boardNo}"></td>-->
        <!--            <td th:text="${boardTitle}" style="cursor: pointer" onclick=""></td>-->
        <!--            <td th:text="${writeDate}"></td>-->
        <!--            <td th:text="${userId}"></td>-->
        <!--            <td th:text="${answerStatus}"></td>-->
        <!--        </tr>-->
        <!--        <tr style="color: #C09A81" align="center">-->
        <!--            <td th:text="${boardNo}"></td>-->
        <!--            <td th:text="${boardTitle}" style="cursor: pointer" onclick=""></td>-->
        <!--            <td th:text="${writeDate}"></td>-->
        <!--            <td th:text="${userId}"></td>-->
        <!--            <td th:text="${answerStatus}"></td>-->
        <!--        </tr>-->

    </table>
    <br>
    <table align="center" style="color: #C09A81;">
        <td style="cursor: pointer"><&nbsp;</td>
        <td>&nbsp;1&nbsp;</td>
        <td>&nbsp;2&nbsp;</td>
        <td>&nbsp;3&nbsp;</td>
        <td>&nbsp;4&nbsp;</td>
        <td>&nbsp;5&nbsp;</td>
        <td style="cursor: pointer">&nbsp;></td>
    </table>
</div>


<!--<div>-->
<!--    <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage) }">-->
<!--        <button-->
<!--                th:text="${ page }"-->
<!--                th:onclick="'location.href=\'/qna/list?currentPage='+ @{${page}} + '\''"-->
<!--                th:disabled="${ selectCriteria.pageNo eq page }">-->
<!--        </button>-->
<!--    </th:block>-->
<!--</div>-->
<br><br>
<footer>
    <div th:with="textColor=${ textColor }">
        <p th:style="'color: ' + ${ textColor }" class="footerMenuBar" style="display:flex; justify-content:center;">정책&emsp;&emsp;FAQ&emsp;&emsp;상담사지원&emsp;&emsp;FAQ&emsp;&emsp;고객센터</div>
</footer>
<img class="brownGrass" src="/images/common/BrownGrass.png" alt="brownGrass">
</body>
</html>

<!--push용 주석-->