<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 조회</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/admin/adminPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <style>
        table tr {
            height: 40px;
        }
    </style>
</head>
<body>
<header class="header" th:include="components/Header.html"></header>
<br><br>
<div align="center">
    <div align="center" style="color: #C09A81; width: 400px;">
        <a style="float: left; text-decoration: underline; text-decoration-color: #C09A81; cursor: pointer;" onclick="location.href='inquireMember'">회원 정보 조회</a>
        <a style="float: right; cursor: pointer;" onclick="location.href='inquireTherapist'">상담사 정보 조회</a>
    </div>
<br><br>
    <div class="search-bar" align="center">
        <form id="searchForm" action="/admin/inquireMember" method="get">
            <input type="hidden" name="currentPage" value="1">
            <select id="searchSelect" name="searchSelect" style="width: 90px;">
                <option value="allMember">전체</option>
                <option value="memberId">아이디</option>
                <option value="memberName">이름</option>
            </select>
            <input style="width: 600px" type="search" id="searchValue" name="searchValue">
            <button type="submit" style="background-color: #C09A81; color: white; border: 1px solid #C09A81; border-radius: 10px; width: 90px; height: 40px; text-align: center; line-height: 40px;" onclick="">검색</button>
        </form>
    </div>
    <div>
        <h5 style="color: #C09A81">아이디를 누르면 상세 조회로 이동합니다. 이름을 누르면 예약 내역을 확인할 수 있습니다.</h5>
        <table id="memArea" align="center" style="border-collapse: collapse; width: 800px;">
            <col style="width: 12%">
            <col style="width: 22%">
            <col style="width: 22%">
            <col style="width: 22%">
            <col style="width: 22%">
            <tr style="border-radius: 10px; background-color: #C09A81; color: #FFFFFF; height: 40px;">
                <th style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">No</th>
                <th>아이디</th>
                <th>이름</th>
                <th>가입일/탈퇴일</th>
                <th style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">계정탈퇴</th>
            </tr>

            <tr style="color: #C09A81; cursor: pointer;" align="center" th:each="member, iterator : ${ memberList }" th:if="${memberList} != null">
                <td th:text="${adminCriteria.totalBoardCount - (((adminCriteria.pageNo - 1) * adminCriteria.limitPerPage) + iterator.index)}"></td>
                <td class="selectMember" style="cursor: pointer;" th:text="${member.userId}"></td>
                <td class="bookingInfo" style="cursor: pointer;" th:text="${member.name}"></td>
                <td>
                    <p th:if="${member.unregistDate == null}" th:text="${member.registDate}"></p>
                    <p th:unless="${member.unregistDate == null}" th:text="${member.unregistDate}"></p>
                </td>
                <td>
                    <input th:if="${#strings.isEmpty(member.unregistDate)}" type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" th:memberId="${member.userId}" th:memberName="${member.name}" th:onclick="unregistMember(this.getAttribute('memberId'), this.getAttribute('memberName'))">
                    <a th:unless="${#strings.isEmpty(member.unregistDate)}">탈퇴회원</a>
                </td>
            </tr>
        </table>
<br><br>
        <div class="pagingArea" align="center">
            <button th:onclick="'location.href=\'/admin/inquireMember?currentPage='+@{${adminCriteria.startPage}}+'\''"
                    th:disabled="${adminCriteria.pageNo == 1}">
                <<
            </button>
            <button th:onclick="'location.href=\'/admin/inquireMember?currentPage='+@{${adminCriteria.pageNo - 1}}+'\''"
                    th:disabled="${adminCriteria.pageNo == 1}">
                <
            </button>
            <th:block th:each="page : ${#numbers.sequence(adminCriteria.startPage, adminCriteria.endPage)}">
                <button th:text="${ page }"
                        th:onclick="'location.href=\'/admin/inquireMember?currentPage='+@{${page}}+'\''"
                        th:disabled="${ adminCriteria.pageNo eq page }">
                </button>
            </th:block>
            <button th:onclick="'location.href=\'/admin/inquireMember?currentPage='+@{${adminCriteria.pageNo + 1}}+'\''"
                    th:disabled="${adminCriteria.pageNo == adminCriteria.lastPage}">
                >
            </button>
            <button th:onclick="'location.href\'/admin/inquireMember?currentPage='+@{${adminCriteria.lastPage}}+'\''"
                    th:disabled="${adminCriteria.pageNo == adminCriteria.lastPage}">
                >>
            </button>
            <br><br>
        </div>
    </div>
</div>
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>
<script th:inline="javascript">

    function unregistMember(memberId, memberName){

        let currentDate = new Date();
        let year = currentDate.getFullYear();
        let month = String(currentDate.getMonth() + 1).padStart(2, '0');
        let day = String(currentDate.getDate()).padStart(2, '0');
        const name = memberName

        let unregistDate = `${year}-${month}-${day}`;

        var check1 = confirm(`${name} 회원을 탈퇴 처리합니다.`);
        if(check1){
            fetch("/admin/unregistMember", {
                method: "PATCH",
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                },
                body: JSON.stringify(
                    {
                        unregistDate:unregistDate,
                        userId:memberId
                    }
                )
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.table(data);
                    alert(`${name} 회원이 탈퇴 처리되었습니다.`);

                    const $table = $("#memberResult");
                    $table.html("");

                    data.map((member) => {
                        $tr = $("<tr>");
                        $indexTd = $("<td>").text(adminCriteria.totalBoardCount - (((adminCriteria.pageNo - 1) * adminCriteria.limitPerPage) + iterator.index));
                        $userIdTd = $("<td>").text(member.userId);
                        $nameTd = $("<td>").text(member.name);
                        $registDateTd = $("<td>").text(member.registDate);
                        $updateTd = $("<td>").append("<input type='button' onclick='unregistMember("+member.userId+")'>");

                        $tr.append($indexTd);
                        $tr.append($userIdTd);
                        $tr.append($nameTd);
                        $tr.append($registDateTd);
                        $tr.append($updateTd);

                        $table.append($tr);
                    })
                })
                .catch((error) => {
                    console.error(error);
                    alert("요청 처리 실패. 다시 시도해주세요.");
                });
        }
    }

    if(document.querySelectorAll(".selectMember")){
        const $sm = document.querySelectorAll(".selectMember");
        for(let i = 0; i<$sm.length; i++){
            $sm[i].onclick = function(){
                const userId = this.innerText;
                location.href = "/admin/editMemberInfo?userId="+userId;
            }
        }
    }

    if(document.querySelectorAll(".bookingInfo")){
        const $bi = document.querySelectorAll(".bookingInfo");
        for(let i = 0; i<$bi.length; i++){
            $bi[i].onclick = function (){
                const userId = $bi[i].parentElement.querySelector('.selectMember').innerText;
                window.open("reservPopup?userId=" + userId, "a", "width=500, height=600, left=350, top=210" ); }
        }
    }
</script>
</body>
</html>