<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상담사 정보 조회</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/admin/adminPage.css">
    <style>
        table tr {
            height: 40px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header class="header" th:include="components/Header.html"></header>
<br><br>
<div align="center">
    <div align="center" style="color: #C09A81; width: 400px;">
        <a style="float: left; cursor: pointer;" onclick="location.href='inquireMember'">회원 정보 조회</a>
        <a style="float: right; text-decoration: underline; text-decoration-color: #C09A81; cursor: pointer;">상담사 정보 조회</a>
    </div>
    <br><br>
    <div class="search-bar" align="center">
        <div class="searchBox1">
            <select class="select-option">
                <option value="전체">전체</option>
                <option value="제목">아이디</option>
                <option value="작성자">이름</option>
                <option value="작성자">승인 여부</option>
            </select>

            <input type="search" style="width: 500px; border-color: #C09A81; border-style: solid;"/>

            <button type="submit" style="background-color: #C09A81; color: white; border: 1px solid #C09A81; border-radius: 10px; width: 80px; height: 40px; text-align: center; line-height: 40px;" onclick="">
                검색
            </button>
        </div>
    </div>
    <br>
    <a style="color: red; font-size: 19px;">아이디 클릭 시 상담사 정보 조회 / 이름 클릭 시 상담사 프로필 조회</a>
    <br>
    <div>
        <table align="center" style="border-collapse: collapse; width: 800px;">
            <tr style="border-radius: 10px; background-color: #C09A81; color: #FFFFFF; height: 40px;">
                <th style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">&nbsp;No&nbsp;&nbsp;</th>
                <th>&nbsp;&nbsp;아이디&nbsp;&nbsp;</th>
                <th>&nbsp;&nbsp;이름&nbsp;&nbsp;</th>
                <th>&nbsp;&nbsp;가입일&nbsp;&nbsp;</th>
                <th>&nbsp;&nbsp;승인 여부&nbsp;&nbsp;</th>
                <th style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">&nbsp;&nbsp;계정탈퇴&nbsp;&nbsp;</th>
            </tr>

            <tr style="color: #C09A81" align="center">
                <td>1</td>
                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'">apple</td>
                <td style="cursor: pointer;" onclick="location.href='therapistProfile'">김사과</td>
                <td>2023/04/24</td>
                <td>승인 완료</td>
                <td>
                    <input type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" onclick=""> <!--알림창 띄우기-->
                </td>
            </tr>

            <tr style="background-color: #FFFFFF; border-radius: 10px; color: #C09A81;" align="center">
                <td style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">1</td>
                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'">apple</td>
                <td style="cursor: pointer;" onclick="location.href='therapistProfile'">김사과</td>
                <td>2023/04/24</td>
                <td>승인 대기</td>
                <td style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">
                    <input type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" onclick="">
                </td>
            </tr>

            <tr style="color: #C09A81" align="center">
                <td>1</td>
                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'">apple</td>
                <td style="cursor: pointer;" onclick="location.href='therapistProfile'">김사과</td>
                <td>2023/04/24</td>
                <td>승인 대기</td>
                <td>
                    <input type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" onclick="">
                </td>
            </tr>

            <tr style="background-color: #FFFFFF; border-radius: 10px; color: #C09A81;" align="center">
                <td style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">1</td>
                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'">apple</td>
                <td style="cursor: pointer;" onclick="location.href='therapistProfile'">김사과</td>
                <td>2023/04/24</td>
                <td>승인 완료</td>
                <td style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">
                    <input type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" onclick="">
                </td>
            </tr>

            <tr style="color: #C09A81" align="center">
                <td>1</td>
                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'">apple</td>
                <td style="cursor: pointer;" onclick="location.href='therapistProfile'">김사과</td>
                <td>2023/04/24</td>
                <td>승인 완료</td>
                <td>
                    <input type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" onclick="">
                </td>
            </tr>

            <tr style="background-color: #FFFFFF; border-radius: 10px; color: #C09A81;" align="center">
                <td style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">1</td>
                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'">apple</td>
                <td style="cursor: pointer;" onclick="location.href='therapistProfile'">김사과</td>
                <td>2023/04/24</td>
                <td>승인 완료</td>
                <td style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">
                    <input type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" onclick="">
                </td>
            </tr>

            <tr style="color: #C09A81" align="center">
                <td>1</td>
                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'">apple</td>
                <td style="cursor: pointer;" onclick="location.href='therapistProfile'">김사과</td>
                <td>2023/04/24</td>
                <td>승인 완료</td>
                <td>
                    <input type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" onclick="">
                </td>
            </tr>

            <tr style="background-color: #FFFFFF; border-radius: 10px; color: #C09A81;" align="center">
                <td style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">1</td>
                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'">apple</td>
                <td style="cursor: pointer;" onclick="location.href='therapistProfile'">김사과</td>
                <td>2023/04/24</td>
                <td>승인 완료</td>
                <td style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">
                    <input type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" onclick="">
                </td>
            </tr>

            <tr style="color: #C09A81" align="center">
                <td>1</td>
                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'">apple</td>
                <td style="cursor: pointer;" onclick="location.href='therapistProfile'">김사과</td>
                <td>2023/04/24</td>
                <td>승인 완료</td>
                <td>
                    <input type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" onclick="">
                </td>
            </tr>

            <tr style="background-color: #FFFFFF; border-radius: 10px; color: #C09A81;" align="center">
                <td style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">10</td>
                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'">apple</td>
                <td style="cursor: pointer;" onclick="location.href='therapistProfile'">김사과</td>
                <td>2023/04/24</td>
                <td>승인 완료</td>
                <td style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">
                    <input type="button" value="탈퇴" style="text-align: center; font-weight: bold; border: 2px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 30px; background: none;" onclick="">
                </td>
            </tr>

<!--            <tr style="color: #C09A81" align="center">-->
<!--                <td>1</td>-->
<!--                <td style="cursor: pointer;" onclick="location.href='editTherapistInfo'" th:text="${ therapistId }"></td>-->
<!--                <td style="cursor: pointer;" onclick="location.href='therapistProfile'" th:text="${ therapistName }"></td>-->
<!--                <td th:text="${ therapistRegistDate }"></td>-->
<!--                <td th:text="${ approvalStatus }"></td>-->
<!--                <td>-->
<!--                    <input type="button" value="탈퇴" style="border: 1px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 40px; background: none;" onclick="">-->
<!--                </td>-->
<!--            </tr>-->

        </table>

        <br><br>
        <table align="center" style="color: #C09A81;">
            <td style="cursor: pointer"><&nbsp;</td>
            <td>&nbsp;1&nbsp;</td>
            <td>&nbsp;2&nbsp;</td>
            <td>&nbsp;3&nbsp;</td>
            <td>&nbsp;4&nbsp;</td>
            <td>&nbsp;5&nbsp;</td>
            <td>&nbsp;6&nbsp;</td>
            <td>&nbsp;7&nbsp;</td>
            <td>&nbsp;8&nbsp;</td>
            <td>&nbsp;9&nbsp;</td>
            <td>&nbsp;10&nbsp;</td>
            <td style="cursor: pointer">&nbsp;></td>
        </table>
    </div>
</div>
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>
</body>
</html>