<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>신고 내역 조회</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <style>
        body{
            background-color: white;
            color: #C09A81;
        }
        input{
            border-radius: 10px;
            border-color: #C09A81;
            background-color: #ffffff ;
            color: #C09A81;
        }
    </style>
</head>
<body>
<br>
<div align="center">

    <h3>신고 정보 조회</h3>
    <h4>신고일시</h4>
    2023-09-13 18:40
    <h4>신고 회원</h4>
    홍길동(hgd1234)
    <h4>유형</h4>
    댓글
    <h4>내용</h4>
    여기가 님 일기장인가요? 이런 글은 혼자 보는 일기장에나 쓰세요. 심한 말. 더 심한 말. 너무 심한 말. 끔찍한 말.
    <h4>신고 사유</h4>
    욕설/인신공격
    <br><br><br>
    <input type="button" value="신고 확인" onclick="self.close();" /> <!--신고 내역에 남겨두기-->
    <input type="button" value="신고 취소" onclick="self.close();" /> <!--신고 내역에서 삭제-->

</div>
<br>
</body>
</html>