<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/selectone.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <h1 class="title">커뮤니티</h1>


    <!--게시글 상세-->
    <div class="selectone-title"><span th:text="${ board.title }"></span></div>
    <div class="view-id-date"> 작성자 : <span th:text="${ board.userId.nickname }"></span> 작성일시 : <span th:text="${ board.postedDate }"></span></div>
    <div><textarea th:text="${ board.boardContent }" class="view-textarea"></textarea></div>


    <!--<div class="singobutton"><button type="button" onclick="location.href='/board/singo'" style="float: right">신고하기</button></div>-->

    <button type="button" class="insert-button" id="btnModify" th:><span>수정하기</span></button>
    <button type="button" class="insert-button" id="btnDelete"><span>삭제하기</span></button>


    <!-- 댓글작성 -->
    <table id="commentInsert">
        <input type="hidden" id="boardCode" th:value="${ board.boardCode }">
        <tr>
            <td>댓글</td>
            <td>
                <textarea cols="50" rows="3" id="commentContent" style="resize: none;"></textarea>
            </td>
            <td>
                <button type="button" id="newComment">댓글작성</button>
            </td>
        </tr>
    </table>

    <!-- 댓글 리스트 -->
    <table>
        <th:block th:if="${ commentList != null }">
            <th:block th:each="memberComment : ${ commentList }">
            <tr class="table-td1">
                <input type="hidden" id="${ memberComment.commentCode }" th:value="${ memberComment.commentCode }">
                <td style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;"
                    th:text="${ memberComment.commentContent }"></td>
                <td th:text="${ memberComment.userId.nickname }"></td>
                <td style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;"
                    th:text="${ memberComment.postedDate }"></td>
                <td>
                    <!-- 로그인 정보가 댓글 작성자와 같은 경우 삭제 버튼 보이게..-->
                   <!-- <th:block sec:authorize="isAuthenticated()"
                              th:if="${ #authentication.getPrincipal().getUserId() == memberComment.userId.nickname }">
                              <button type="button"
                              th:commentCode="${ memberComment.commentCode }"
                              th:onclick="commentDelete(this.getAttribute('commentCode'))">댓글삭제</button>
                    </th:block>-->
                    <!--테스트용-->
                    <!--<button th:onclick="@{/board/commentDelete}">댓글삭제</button>-->
                    <button onclick="location.href='/board/commentDelete'">댓글삭제</button>
                </td>
            </tr>
            </th:block>
        </th:block>
    </table>



    <script th:inline="javascript">

        const message = '[[${ message }]]';
        if (message != null && message !== 'null'){
            alert(message);
        }
/*

        $(document).on('click', '#btnModify', function () {
            const page = Request.
        });

        $(document).on('click', '#btnDelete', function () {

        });
*/

    </script>
</html>