<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">



<h1 class="title">게시글 작성</h1>
<div class="title-box">
    <form name="boardPostingForm" th:action="@{/board/boardPosting}" method="post">

        <table>
            <tr>
                <th>제목</th>
                <td>
                    <input type="text" id="title" name="title" placeholder="글제목을 입력해 주세요." class="insert-input">
                </td>
            </tr>
            <tr>
                <th>분류</th>
                <td>
                    <div>
                        <select id="boardCategory" name="boardCategory">
                            <option value="">분류</option>
                            <option value="커뮤니티" >커뮤니티</option>
                            <option value="고민상담" >고민상담</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                    <textarea id="boardContent" name="boardContent" rows="22" cols="115" placeholder="글을 작성해주세요."></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>



        <!-- USER_ID 정보 가져오기 -->
        <div>
            <input type="hidden" id="postedDate" name="postedDate">
            <input type="hidden" id="userId" name="userId" value="a123!">
            <!-- th:value="${ #authentication.getPrincipal().getUserId() }" -->
        </div>

        <div>
            <button id="btnInsert" type="submit" class="insert-button">
                <span>등록하기</span>
            </button>
        </div>
    </form>
    <button type="button" class="insert-button" onclick="location.href='/board/searchList'">
        <span>돌아가기</span>
    </button>
</div>

<script>

    $("#boardCategory options:selected").val()

    $(document).ready(function () {
        $("#btnInsert").click(function () {
            document.boardPostingForm.submit();
        });
    });
</script>
</html>