<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<th:block th:include="components/Header.html"></th:block>

<h2 style="text-align: center">게시글 수정</h2>
<div class="table">
    <form name="boardModifyForm" th:action="@{/board/boardModify}" method="post">

        <table>
            <tr>
                <th>제목</th>
                <td style="text-align: left; width: 70px;">
                    <input type="text" id="title-board" name="title" class="inputs-board" style="width: 400px;" th:value="${ board.title }">
                </td>
            </tr>
            <tr>
                <th>분류</th>
                <td style="text-align: left;">
                    <select id="boardCategory" name="boardCategory" class="inputs-board">
                        <option value="">분류</option>
                        <option value="커뮤니티" >커뮤니티</option>
                        <option value="고민상담" >고민상담</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th colspan="2">내용</th>
            </tr>
            <tr>
                <th></th>
                <td>
                    <textarea id="boardContent" name="boardContent" rows="22" cols="120" th:text="${ board.boardContent }" style="resize: none; border-radius: 5px; border-color: #C09A81"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>

        <!-- 게시글 정보 가져오기 -->
        <div>
            <input type="hidden" id="postedDate" name="postedDate">
            <input type="hidden" id="userId" name="userId" th:value="${ #authentication.getPrincipal().getUserId() }">
            <input type="hidden" id="boardCode" name="boardCode" th:value="${ board.boardCode }">
        </div>

        <div>
            <button id="btnModify" type="submit" class="buttons-board">수정하기</button>
            <button type="button" class="buttons-board" onclick="location.href='/board/searchList'">돌아가기</button>
        </div>
    </form>
</div>

<script>


    $(document).ready(function () {
        $("#btnModify").click(function () {
            document.boardModifyForm.submit();
        });
    });

</script>
</html>