<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/boardPaging.css}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <th:block th:include="components/Header.html"></th:block>

    <!-- 검색창 -->
        <h2 style="text-align: center">게시판</h2>
        <div class="searchBox1">
            <form id="searchForm">
                <div style="text-align: center">
                    <button class="buttons-board" style="width: 150px" id="communityBtn">커뮤니티</button> |
                    <button class="buttons-board" style="width: 150px" id="counselingBtn">고민상담</button>
                    <span> <--- 이부분은 아직 동작하지 않습니다.. </span>
                </div>
                <br>
                <div class="search-bar">
                    <input type="hidden" name="currentPage" value="1">
                    <select id="searchSelect" name="searchSelect">
                        <option value="title">제목</option>
                        <option value="writer">작성자</option>
                    </select>
                    <input style="width: 700px" type="search" id="searchValue" name="searchValue" placeholder="검색어를 입력해 주세요.">
                    <button type="submit" class="buttons-board" style="width: 100px"><span>검색</span></button>
                </div>
            </form>
        </div>
    <br>
    <!-- 게시글 보드 테이블 -->
    <div class="table">

        <table class="boardListBox" id="boardListTable">
            <p style="text-align: right"><button type="button" class="buttons-board" style="width: 150px" onclick="location.href='/board/boardPosting'">글등록</button></p>
            <tr class="table-th">
                <th style="width: 100px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;">No</th>
                <th style="width: 200px">유형</th>
                <th style="width: 700px">제목</th>
                <th style="width: 200px">작성자</th>
                <th style="width: 200px">작성일</th>
                <th style="width: 100px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">조회수</th>
            </tr>

            <tr th:each="board : ${ boardList }" class="table-td1">
                <td style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;"
                    th:text="${ board.boardCode }"></td>
                <td th:text="${ board.boardCategory }"></td>
                <td th:text="${ board.title }"></td>
                <td th:text="${ board.userId.nickname }"></td>
                <td th:text="${ board.postedDate }"></td>
                <td style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;"
                    th:text="${ board.viewCount }"></td>
            </tr>
        </table>
    </div>

    <!-- 페이징 처리 -->
    <div class="paging">
        <div style="display: flex;">
            <!-- 맨 앞으로 이동 -->
            <!-- th:disabled = 1 페이지일 경우 버튼 안보이게 -->
            <button th:onclick="'location.href=\'/board/searchList?currentPage='+ @{${ selectCriteria.startPage }} + '\''"
                    th:disabled="${ selectCriteria.pageNo == 1 }"><img src="../images/board/previousfirst.png"></button>

            <!-- 이전 페이지로 이동 -->
            <button th:onclick="'location.href=\'/board/searchList?currentPage='+ @{${ selectCriteria.pageNo - 1 }} + '\''"
                    th:disabled="${ selectCriteria.pageNo == 1 }"><img src="../images/board/previous.png"></button>

            <!-- 숫자 버튼 -->
            <th:block th:each="page : ${ #numbers.sequence(selectCriteria.startPage, selectCriteria.endPage) }">
                <button style="color: #C09A81;"
                        th:text="${ page }"
                        th:onclick="'location.href=\'/board/searchList?currentPage='+ @{${ page }} + '\''"
                        th:disabled="${ selectCriteria.pageNo eq page }">
                </button>
            </th:block>

            <!-- 다음 페이지로 이동 -->
            <button th:onclick="'location.href=\'/board/searchList?currentPage='+ @{${ selectCriteria.pageNo + 1 }} + '\''"
                    th:disabled="${ selectCriteria.pageNo == selectCriteria.lastPage }"><img src="../images/board/next.png"></button>

            <!-- 마지막 페이지로 이동 -->
            <button th:onclick="'location.href=\'/board/searchList?currentPage='+ @{${ selectCriteria.lastPage }} + '\''"
                    th:disabled="${ selectCriteria.pageNo == selectCriteria.lastPage }"><img src="../images/board/nextlist.png"></button>
        </div>
    </div>

<script th:inline="javascript">

    /* CRUD 메시지 알림 창 */
    const message = '[[${ message }]]';
    if (message != null && message !== 'null'){
        alert(message);
    }

    /* 커뮤니티 조회 */
   /* $("#communityBtn").click(function (){

    });
*/
    /* 고민상담 조회 */
/*

    $("#counselingBtn").click(function (){

    });
*/


    if(document.querySelectorAll("#boardListTable td")) {

        /* boardCode 파싱 */
        const $tds = document.querySelectorAll("#boardListTable td");
        for (let i = 0; i < $tds.length; i++) {

            $tds[i].onclick = function () {
                const boardCode = this.parentNode.children[0].innerText;
                location.href = "/board/boardSelectOne?boardCode=" + boardCode;
            }
        }
    }
</script>
</html>