<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/selectone.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <th:block th:include="components/Header.html"></th:block>

    <div>
        <br>
        <div>
            <table style="margin: auto">
                <tr>
                    <td><h2 style="text-align: left">게시글</h2></td>

                </tr>
                <tr>
                    <td class="detailTitle-board" colspan="2" th:text="${ board.title }"></td>
                </tr>
                <tr>
                    <td style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; text-align: left;">작성자 | <span th:text="${ board.refNickname }"></span></td>
                    <td style="border-top-right-radius: 10px; border-bottom-right-radius: 10px; text-align: right;">작성일 | <span th:text="${ board.postedDate }"></span></td>
                </tr>
                <tr>
                    <td colspan="2"><h3></h3></td>
                </tr>
                <tr>
                    <td style="font-size: 22px; text-align: left;">내용</td>
                    <td style="text-align: right;">
                        <th:block sec:authorize="isAuthenticated()">
                            <button type="button" id="openModalBtn" class="button-open">신고하기</button>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><textarea th:text="${ board.boardContent }" readonly class="detailsBox"></textarea></td>
                </tr>
            </table>

            <!--모달 창-->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span id="closeModalBtn" class="close">&times;</span>
                    <div>
                        <br>
                        <h2>신고</h2>
                        <hr>
                        <h2> 제목 : <span th:text="${ board.title }"></span></h2>
                        <h2> 작성자 : <span th:text="${ board.refNickname }"></span></h2>
                        <hr>
                        <div>신고사유</div>
                        <hr>
                        <form action="/board/reportInsert" method="post">
                            <input type="hidden" name="boardCode" th:value="${ board.boardCode }">
                            <input type="radio" name="reportCategory" value="영리목적/홍보">영리목적/홍보<br>
                            <input type="radio" name="reportCategory" value="개인정보노출">개인정보노출<br>
                            <input type="radio" name="reportCategory" value="음란성/선정성">음란성/선정성<br>
                            <input type="radio" name="reportCategory" value="불법적인정보">불법적인정보<br>
                            <input type="radio" name="reportCategory" value="욕설/인신공격">욕설/인신공격<br>
                            <input type="radio" name="reportCategory" value="같은내용도배">같은내용도배<br> <br>
                            <div>신고 기능 악용 시 활동이 제재될 수 있습니다.</div><br>
                            <textarea rows="3" cols="50" placeholder="기타내용작성 50자 이내" style="resize: none" name="reportContent" maxlength="50"></textarea><br>
                            <input type="submit" value="신고하기" class="buttons-board">
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal--bg hidden">
                <div class="modal">
                    <p class="modal__text">Modal</p>
                    <button class="button--close">닫기</button>
                </div>
            </div>

            <br>
            <div class="button-container">
                <th:div sec:authorize="isAuthenticated()"
                        th:if="${ #authentication.getPrincipal().getUserId() == board.refUserId }">
                        <button type="button" id="btnModify" class="buttons-board">수정하기</button>
                        <button type="button" id="btnDelete" class="buttons-board">삭제하기</button>
                </th:div>
                <button type="button" class="buttons-board" th:onclick="'location.href=\'/board/searchList\''">돌아가기</button>
            </div>
            <br><br>
        </div>
    </div>

    <div class="commentContainer">
        <table id="commentInsert">
            <input type="hidden" id="boardNo" name="boardCode" th:value="${ board.boardCode }">
            <tr>
                <td>댓글</td>
                <td>
                    <textarea id="commentContent" class="commentBox"></textarea>
                </td>
                <th:td sec:authorize="isAuthenticated()">
                    <button type="button" id="insertComment" class="buttons-board">댓글작성</button>
                </th:td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <table id="commentResult" class="datailTable">
            <th:block th:if="${ commentList != null }">
                <th:block th:each="memberComment : ${ commentList }">
                    <tr class="table-td1">
                        <input type="hidden" id="${ memberComment.commentCode }" th:value="${ memberComment.commentCode }">
                        <td style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;"
                            th:text="${ memberComment.commentContent }"></td>
                        <td
                            th:text="${ memberComment.userId }"></td>
                        <td style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;"
                            th:text="${ memberComment.postedDate }"></td>
                        <td>
                            <th:block
                                    sec:authorize="isAuthenticated()"
                                    th:if="${ #authentication.getPrincipal().getUserId() == memberComment.userId }">
                                <button type="button" class="buttons-board"
                                        th:commentNo="${ memberComment.commentCode }"
                                        th:onclick="commentDelete(this.getAttribute('commentNo'))">댓글삭제
                                </button>
                            </th:block>
                        </td>
                    </tr>
                </th:block>
            </th:block>
        </table>
    </div>

    <script th:inline="javascript">

        /* 신고 모달 */

        document.getElementById('openModalBtn').addEventListener('click', function() {
            document.getElementById('myModal').style.display = 'block';
        });

        // 모달 닫기 버튼 클릭 시 이벤트 처리
        document.getElementById('closeModalBtn').addEventListener('click', function() {
            document.getElementById('myModal').style.display = 'none';
        });

        // 모달 바깥 부분 클릭 시 모달 닫기
        window.addEventListener('click', function(event) {
            if (event.target === document.getElementById('myModal')) {
                document.getElementById('myModal').style.display = 'none';
            }
        });

        /* 게시글 수정 */
        $('#btnModify').click(function (){
            const boardCode = document.getElementById("boardNo").value;
            location.href = "/board/boardModify?boardCode=" + boardCode;
        });

        /* 게시글 삭제 */
        $('#btnDelete').click(function (){

            const boardCode = '[[${board.boardCode}]]';
            if(!confirm('정말로 게시글을 삭제하시겠습니까?')) {
                return false;
            }

            const formHtml = `
                    <form id="deleteForm" action="/board/boardDelete" method="post">
                        <input type="hidden" id="boardCode" name="boardCode" value="${boardCode}"/>
                    </form>
                `;
            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
            const form = doc.body.firstChild;
            document.body.append(form);
            document.getElementById('deleteForm').submit();
        });

        /* 상담사 */
        /* 댓글 등록 */
        if(document.getElementById("insertComment")) {

            const $insertComment = document.getElementById("insertComment");
            const $commentContent = document.getElementById("commentContent");

            $insertComment.onclick = function() {

                if($commentContent.value.trim() == ""){
                    alert('댓글을 입력해 주세요');
                    return ;
                }

                let commentUserId = '[[${#authentication.getPrincipal().getUserId()}]]';
                let userId = commentUserId.replaceAll("\"","");

                let boardNo = document.getElementById("boardNo").value;
                let commentContent = document.getElementById("commentContent").value;

                /*document.getElementById('myForm').addEventListener('submit', function(event) {
                    event.preventDefault(); // 폼의 기본 동작인 제출을 막음

                    // <textarea> 요소를 찾고 값을 지움
                    var textarea = document.getElementById('myTextarea');
                    textarea.value = '';*/

                fetch("/board/commentPosting", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    },
                    body: JSON.stringify(
                        {
                            userId: userId,
                            boardCode: boardNo,
                            commentContent: commentContent
                        }
                    )
                })
                    .then(result => result.json())
                    .then(data => {
                        const $table = $("#commentResult");
                        $table.html("");

                        data.map((memberComment) => {
                            $tr = $("<tr>");
                            $commentContentTd = $("<td>").text(memberComment.commentContent);
                            $userIdTd = $("<td>").text(memberComment.userId);
                            $postedDateTd = $("<td>").text(memberComment.postedDate);
                            if(memberComment.userId == commentUserId ) {
                                $removeTd = $("<td>").append("<button type='button' class='buttons-board' onclick='commentDelete(" + memberComment.commentCode + ")'>댓글삭제</button>");
                            } else {
                                $removeTd = $("<td>");
                            }

                            $tr.append("<input type='hidden' id=" + memberComment.commentCode + " value='" + memberComment.commentCode + "'>");
                            $tr.append($commentContentTd);
                            $tr.append($userIdTd);
                            $tr.append($postedDateTd);
                            $tr.append($removeTd);

                            $table.append($tr);
                        });

                    })
                    .catch((error) => error.text().then((res) => alert(res)))
            }
        }


        function commentDelete(commentNo){

            let boardNo = document.getElementById("boardNo").value;

            if(!confirm('정말로 댓글을 삭제하시겠습니까?')) {
                return false;
            }

            fetch("/board/commentDelete", {
                method: "PATCH",
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                },
                body: JSON.stringify(
                    {
                        BoardCode:boardNo,
                        commentCode:commentNo
                    }
                )
            })
                .then(result => result.json())
                .then(data => {
                    console.table(data);

                    const $table = $("#commentResult");
                    $table.html("");

                    data.map((memberComment) => {
                        $tr = $("<tr>");
                        $commentContentTd = $("<td>").text(memberComment.commentContent);
                        $userIdTd = $("<td>").text(memberComment.userId);
                        $postedDateTd = $("<td>").text(memberComment.postedDate);
                        if(memberComment.userId == '[[${#authentication.getPrincipal().getUserId()}]]') {
                            $removeTd = $("<td>").append("<button type='button' class='buttons-board' onclick='commentDelete(" + memberComment.commentCode + ")'>댓글삭제</button>");
                        } else {
                            $removeTd = $("<td>");
                        }



                        $tr.append("<input type='hidden' id=" + memberComment.commentCode + " value='" + memberComment.commentCode + "'>");
                        $tr.append($commentContentTd);
                        $tr.append($userIdTd);
                        $tr.append($postedDateTd);
                        $tr.append($removeTd);

                        $table.append($tr);

                    })


                })
                .catch((error) => error.text().then((res) => alert(res)));
        }
    </script>
</html>