<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">


<h1 class="title">커뮤니티</h1>
<div class="title-box">
    <form id="boardPostingForm" th:action="@{/board/boardPosting}" method="post">


        <span class="title-insert">제목</span>
        <input type="text" id="title" name="title" placeholder="글제목을 입력해 주세요." class="insert-input">
        <select id="category" name="category">
            <option value="category">커뮤니티</option>
            <option value="category">고민상담</option>
        </select>
        <div class="textarea-field">
            <textarea id="content" name="content" rows="22" cols="115" placeholder="글을 작성해주세요."></textarea>
        </div>
        <div>
            <button type="submit" class="insert-button">
                <span>등록하기</span>
            </button>
        </div>
    </form>
    <button type="button" class="insert-button" onclick="location.href='/board/searchList'">
        <span>돌아가기</span>
    </button>
</div>

</html>