<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객센터</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">
</head>
<body>
<div th:with="loggedIn=false, reservationMade=false">
    <div class="header" th:if="${loggedIn && reservationMade}" th:include="components/postLoginHeader.html" th:with="includeSection2=true, includeSection1=false"></div>
    <div class="header" th:if="${loggedIn && !reservationMade}" th:include="components/postLoginHeader.html" th:with="includeSection1=true, includeSection2=false"></div>
    <div class="header" th:unless="${loggedIn}" th:include="components/preLoginHeader.html" th:with="includeSection1=false"></div>
</div>
<h1 class="title">고객센터</h1>
<div class="center-insert-box">
    <span style="float: right"><button onclick="location.href='/board/centerInsert'" class="center-insert-button"><span>고객센터문의</span></button></span>
</div>


<div style="margin-top: -5%" th:include="board/centerPaging.html"></div>
<th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</body>
</html>