<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">

    <th:block th:include="components/Header.html"></th:block>

    <div style="margin: auto; width: 850px;">
        <h2 style="text-align: left">문의글 작성</h2>
    </div>
    <div class="table">
        <form name="InsertForm" th:action="@{/customer/customerInsert}" method="post">
            <table>
                <tr>
                    <th colspan="2">문의내용</th>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <textarea id="commentContent" name="commentContents" rows="22" cols="120" placeholder="글을 작성해주세요." style="resize: none"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <!-- USER_ID 정보 가져오기 -->
            <div>
                <input type="hidden" id="boardCode" name="boardCode">
                <input type="hidden" id="userId" name="userId" th:value="${ #authentication.getPrincipal().getUserId() }">
            </div>

            <div>
                <button id="btnInsert" type="submit" class="buttons-board">등록하기</button>
                <button type="button" class="buttons-board" onclick="location.href='/board/searchList'">돌아가기</button>
            </div>
        </form>
    </div>

    <script>


        $(document).ready(function () {
            $("#btnInsert").click(function () {
                document.InsertForm.submit();
            });
        });
    </script>
</html>

</html>