<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/gominSangdamSo.css}">
</head>
<body>
<div th:with="loggedIn=false, reservationMade=false">
    <div class="header" th:if="${loggedIn && reservationMade}" th:include="Components/postLoginHeader.html" th:with="includeSection2=true, includeSection1=false"></div>
    <div class="header" th:if="${loggedIn && !reservationMade}" th:include="Components/postLoginHeader.html" th:with="includeSection1=true, includeSection2=false"></div>
    <div class="header" th:unless="${loggedIn}" th:include="Components/preLoginHeader.html" th:with="includeSection1=false"></div>
</div>

<h1 class="title">고민상담</h1>
<div>
    <div class="searchBox1">
        <select>
            <option value="전체">전체</option>
            <option value="제목">제목</option>
            <option value="작성자">작성자</option>
        </select>

        <input type="search" placeholder="검색어를 입력해 주세요."/>

        <button type="submit" class="insert-button" onclick="">
            <span>검색</span>
        </button>
        <button type="submit" class="insert-button" onclick="location.href='/communityboard/gominSangdamInsert'">
            <span>글등록</span>
        </button>
    </div>
</div>

<div th:include="boardMain/gominSangdamPaging.html"></div>
<th:block th:include="Components/Footer.html" th:with="textColor='#C09A81'"></th:block>

</body>
</html>