<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고민상담</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">
</head>
<body>
<header class="header" th:include="components/Header.html"></header>

<h1 class="title">고민상담</h1>
<div class="title-box">
    <span class="title-insert">제목</span>
    <input type="text" placeholder="글제목을 입력해 주세요." class="insert-input">
    <span>
        <label><input type="radio" name="공개여부">공개</label>
        <label><input type="radio" name="공개여부">비공개</label>
    </span>
</div>
<div class="textarea-field">
    <textarea rows="22" cols="115" placeholder="글을 작성해주세요.">
    </textarea>
</div>
<div>
    <button type="submit" class="insert-button" onclick="">
        <span>등록하기</span>
    </button>
    <button type="submit" class="insert-button" onclick="location.href='/board/gomin'">
        <span>돌아가기</span>
    </button>
</div>


<th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>

</body>
</html>