<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/selectone.css}">
</head>
<body>
<header class="header" th:include="Components/Header.html"></header>

<p class="title">고민상담</p>
<div class="selectone-title">제목</div>
<div class="view-id-date"><span style="float: left">작성자 : asdf****</span><span style="float: right">작성일시 : 0000-00-00 11:11:11</span></div>
<div class="view-select-board">글 상세내용1111111111111111111111111111111111111111111111</div>
<!--상담사답변없음-->
<textarea class="view-datgul-board" placeholder="답변 대기중입니다. 내용을 작성해주세요"></textarea>
<div>
    <div class="singobutton"><button type="submit">답변달기</button><button type="text" onclick="location.href='/communityboard/gomin'" style="margin-left: 3%">목록으로</button></div>
</div>



<p class="title">고민상담</p>
<div class="search-bar">
    <div class="searchBox1">
        <select class="select-option">
            <option value="전체">전체</option>
            <option value="제목">제목</option>
            <option value="작성자">작성자</option>
        </select>

        <input type="search" placeholder="검색어를 입력해 주세요." class="searchBar"/>

        <button type="submit" class="insert-button" onclick="">
            <span>검색</span>
        </button>
        <button type="submit" class="insert-button" onclick="location.href='/board/gominInsert'">
            <span>글등록</span>
        </button>
    </div>
</div>
<div th:include="board/gominSangdamPaging.html"></div>
<th:block th:include="Components/Footer.html" th:with="textColor='#C09A81'"></th:block>

</body>
</html>