body {
    background-color: #FFF6E2;
    font-family: 'Noto Sans KR';
    color: #C09A81;
}

.faq-list-title {
    margin: auto;
    width: 800px;
    height: 50px;
    background-color: #C09A81;
    border-radius: 10px;
}

details {
    margin: auto;
    width: 800px;
}

details summary {
    display: flex;
    align-items: center;
    height: 50px;
    cursor:pointer;
    transition:background 0.5s;
    background-color: #FFF6E2;
    color: #C09A81;
    border-radius: 10px;
    border-color: #C09A81;
    font-size: 21px;
    padding-left: 10px;
}
details p {
    background-color: #FFF6E2;
    color: #C09A81;
    font-size: 19px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.faq-summary-even {
    background-color: #FFFFFF;
    border-radius: 10px;
    border-color: #FFFFFF;

}

.faq-summary-odd {
    border-color: #C09A81;
    border-radius: 10px;
}