<style>

    /* .footerMenuBar {
    !* Add background color for better visibility *!
         color: #FEEFCC;
         position: sticky; !* Change from sticky to fixed *!
         left: 0;
         bottom: 0; !* Stick to the bottom of the viewport *!
         width: 100%;
         text-align: center;
         }*!*/
/*    body {
        margin: 0;
        padding: 0;
        min-height: 100vh; !* Ensure the body takes up at least the full viewport height *!
        display: flex;
        flex-direction: column;
    }*/

    .footer {
        /* Your footer styles */
        padding: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        /*position: fixed;*/
    }

    div ul{
        text-align: center;
        padding: 0;
        list-style:none;
        flex-direction: row;
    }
    .center{
        float: left;

    }

    .titleLink {
        text-decoration: none;
        color: inherit;
        margin-left: 10px;
        margin-right: 10px;
    }

</style>
<body>
<div th:with="textColor=${ textColor }">
    <p th:style="'color: ' + ${ textColor }" class="footer" style="display:flex; justify-content:center;">정책&emsp;&emsp;FAQ&emsp;&emsp;상담사지원&emsp;&emsp;FAQ&emsp;&emsp;고객센터</div>
</body>
<!---->
