.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color : #FFF6E2;
    border-radius: 50%;
}
.roundbutton{
    border-radius: 30px;
    color:#C09A81;
    border-color: white;
}