body{
    font-family: 'Noto Sans KR';
    color: #C09A81;
    background: #FFF6E2;
    text-align: center;
    margin:0;
}
.wrap {
    width: 100%;
    margin: 10px auto;
    position: relative;
}
.wrap img{
    width: 99%;
    vertical-align: middle;
}
.wraptext {
    font-family: 'Noto Sans KR';
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -60%);
    font-size: 20px;
    text-align: center;
}

.widths{
    width: 30%;
    margin: auto;
}

.matchingbutton{
    width: 200px;
    height: 40px;
    color: #C09A81;
    background: #FFFFFF;
    border-color: #C09A81;
    border-radius: 30px;

}
.parent{
    font-family: 'Noto Sans KR';
    width: 80%;
    margin: 10px auto;
    display: flex;
}

.first {
    border: 3px solid #C09A81;
    flex:1;
    width:20%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}

.second{
    border: 3px solid #C09A81;
    flex:1;
    margin: 0px 5%;
    width:20%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}

.third{
    flex:1;
    width:20%;
    border: 3px solid #C09A81;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}
.fourth{
    flex:1;
    width:20%;
    margin: 0px 5%;
    border: 3px solid #C09A81;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}
.explanation{
    font-size: 20px;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;
}

.showresult{
    position: absolute;
    left: 50%;
    top: 78px;
    width: 440px;
    height: 20px;
    margin-left: -220px;
}