body{
    font-family: 'Noto Sans KR';
    color: #C09A81;
    background: #FFF6E2;
    text-align: center;
    font-family: 'Noto Sans KR';
    margin:0;
}
footer{
    position: absolute;
width: auto;
height: auto;
}
.showresult{
    position: relative;
    width: 40px;
    height: 500px;
    left: auto;
    top: auto;
    background: linear-gradient(180deg, #F91C1C 0%, #E46069 25.87%, #BBE5FF 99.99%, rgba(217, 217, 217, 0) 100%, rgba(88, 73, 71, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    transform: matrix(0, -1, -1, 0, 0, 0);

}