body{
    font-family: 'Noto Sans KR';
    color: #FEEFCC;
    background: #C09A81;
    text-align: center;
    margin: 0;
    padding: 0;
}
main {
    margin-top: 40px;
}
span{
    font-size: 23px;
    font-weight: bold;
    color: white;
    margin: 15%;
}
.countbutton{
    width: 100px;
    height: 50px;
    color: #C09A81;
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
}
.grass {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    margin-top: -300px;
}
.picture{
    width: auto;
    height: auto;
}
.whitrtext{ color: white;}

.roundbutton{
    width: 100px;
    height: 50px;
    color: #C09A81;
    background: #FFFFFF;
    border-radius: 30px;
    border-color: white;
}

