<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/boardPaging.css}">



    <div class="table">
        <table style="align: center" id="boardListBox">
            <tr>
                <th style="width: 100px">No</th>
                <th style="width: 800px">제목</th>
                <th style="width: 150px">작성자</th>
                <th style="width: 150px">작성일</th>
            </tr>

            <tr th:each="board : ${ boardList }">
                <td th:text="${ board.no }"></td> <!--BoardDTO 글번호-->
                <td th:text="${ board.title }"></td> <!--BoardDTO 글제목-->
                <td th:text="${ board.writer.nickname }"></td> <!-- BoardDTO writer. writer는 MemberDTO의 nickname을 가리킴 -->
                <td th:text="${ board.writedDate }"></td> <!--BoardDTO 작성일-->
            </tr>
        </table>
    </div>

    <!--페이징 처리-->
    <div class="paging">
        <!-- 맨 앞으로 이동 -->
        <!-- th:disabled = 1 페이지일 경우 버튼 안보이게 -->
        <button th:onclick="'location.href=\'/board/list?currentPage='+ @{${selectCriteria.startPage}} + '\''"
                th:disabled="${selectCriteria.pageNo == 1}"> <img src="/static/images/board/previousfirst.png"> </button>

        <!-- 이전 페이지로 이동 -->
        <button th:onclick="'location.href=\'/board/list?currentPage='+ @{${selectCriteria.pageNo - 1}} + '\''"
                th:disabled="${selectCriteria.pageNo == 1}"><img src="/static/images/board/previous.png"></button>

        <!-- 숫자 버튼 -->
        <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
            <button
                    th:text="${ page }"
                    th:onclick="'location.href=\'/board/list?currentPage='+ @{${page}} + '\''"
                    th:disabled="${ selectCriteria.pageNo eq page }">
            </button>
        </th:block>

        <!-- 다음 페이지로 이동 -->
        <button th:onclick="'location.href=\'/board/list?currentPage='+ @{${selectCriteria.pageNo + 1}} + '\''"
                th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"><img src="/static/images/board/next.png"></button>







    </div>




</html>