body {
    font-family: 'Noto Sans KR';
}
.table {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}
.boardListBox {
    border-collapse: collapse;
}

.table-th {
    background-color: #C09A81;
    text-align: center;
    height: 70px;
    color: #FFFFFF;
}
.table-td1 {
    background-color: #FFF6E2;
    text-align: center;
    height: 70px;
    color: #C09A81;
    cursor: pointer;
    font-size: 20px;
}


.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 18px;
}

.paging select {
    width: 50px;
    border-radius: 10px;
    border-color: #C09A81;
    background-color: #FFF6E2;
    color: #C09A81;
}

.paging button {
    background: none;
    border: none;
    cursor: pointer;
}

.paging button img {
    width: 25px;
    height: 25px;
}

