body {
    font-family: 'Noto Sans KR';
}
.table-item {
    width: 80%;
    height: 40px;
    background-color: #C09A81;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.table-item a {
    height: 40px;
    list-style-type: none;
    text-decoration: none;
    color: #C09A81;
    font-size: 18px;
}

div.paging {
    width: 70%;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
    border-radius: 10px;

}

#countPerPage {
    width: 5%;
    color: #C09A81;
    border-color: #C09A81;
    font-size: 18px;
    border-radius: 5px;
}

div.paging>div>i {
    margin: 0 3px;
}

div.paging>div>div.pages {
    margin: 0 5px;
}

div.paging>div>div.pages>span {
    margin: 0 3px;
}

div.paging>div>i:hover,
div.paging>div>div.pages>span:hover {
    cursor: pointer;
}

span.active {
    color: #C09A81;
    font-weight: bold;
}

.row1 {
    background-color: #FFF6E2;
    border-radius: 10px;
    border: #FFF6E2;
    color: #C09A81;
    font-size: 18px;
}

.row2 {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: #FFFFFF;
    color: #C09A81;
    font-size: 18px;
}


