body {
    font-family: 'Noto Sans KR';
    background-color: #C09A81;
}

.singo-box {
    text-align: center;
    box-sizing: border-box;
    width: 60%;
    height: 700px;
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    color: #C09A81;
    line-height: 30px;
}

.singo-box hr {
    width: 80%;
    border-color: #C09A81;
}
.singo-box form div {
    font-size: 18px;
    color: #C08181;
}
.singo-box form input {
    width: 150px;
    height: 30px;
    color: #C09A81;
    background-color: white;
    border-color: #C09A81;
    border-radius: 10px;
}
.singo-textarea-field {
    border-radius: 10px;
    border-color: #C09A81;
}

.singo-button * {
    width: 150px;
    height: 30px;
    color: #C09A81;
    background-color: white;
    border-color: #C09A81;
    border-radius: 10px;
}
.test1 {
    display: flex;
    justify-content: space-evenly;

}