<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객센터문의</title>
    <link rel="stylesheet" type="text/css" th:href="@{ /css/reviewPage/review.css}">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">
</head>
<body>
<div th:with="loggedIn=false, reservationMade=false">
    <div class="header" th:if="${loggedIn && reservationMade}" th:include="Components/postLoginHeader.html" th:with="includeSection2=true, includeSection1=false"></div>
    <div class="header" th:if="${loggedIn && !reservationMade}" th:include="Components/postLoginHeader.html" th:with="includeSection1=true, includeSection2=false"></div>
    <div class="header" th:unless="${loggedIn}" th:include="Components/preLoginHeader.html" th:with="includeSection1=true"></div>
</div>

<h1 class="title">고객센터</h1>

<div>
    <span class="title-insert">제목</span>
    <input type="text" placeholder="글제목을 입력해 주세요." class="insert-input">
</div>
<div>
    <textarea rows="22" cols="115" placeholder="글을 작성해주세요." class="textarea-field">
    </textarea>
</div>
<div>
    <button type="submit" class="button" onclick="">
        <span>등록하기</span>
    </button>
    <button type="submit" class="button" onclick="location.href='/communityboard/center'">
        <span>돌아가기</span>
    </button>
</div>


<th:block th:include="Components/Footer.html"></th:block>

</body>
</html>