<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{ /css/reviewPage/review.css}">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/communityboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/selectone.css}">
</head>
<body>
<div th:with="loggedIn=false, reservationMade=false">
    <div class="header" th:if="${loggedIn && reservationMade}" th:include="Components/postLoginHeader.html" th:with="includeSection2=true, includeSection1=false"></div>
    <div class="header" th:if="${loggedIn && !reservationMade}" th:include="Components/postLoginHeader.html" th:with="includeSection1=true, includeSection2=false"></div>
    <div class="header" th:unless="${loggedIn}" th:include="Components/preLoginHeader.html" th:with="includeSection1=true"></div>
</div>

<h1 class="title">고민상담</h1>
<div class="selectone-title">제목</div>
<div class="view-id-date"><span style="float: left">작성자 : asdf****</span><span style="float: right">작성일시 : 0000-00-00 11:11:11</span></div>
<div class="view-select-board">글 상세내용1111111111111111111111111111111111111111111111</div>

</body>
</html>