<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{ /css/communityboard/singo.css}">
</head>
<body>
<div>
    <div class="singo-box">
        <br>
        <h1>신고</h1>
        <hr>
        <h2> 제목 : 오늘 있었던 일;</h2>
        <h2> 작성자 : hio****</h2>
        <hr>
        <h3>신고가 접수되었습니다</h3>
        <hr>
        <div class="singo-button"><button type="text" onclick="location.href='/communityboard/communityboardselectone'">돌아가기</button></div>
    </div>
</div>
</body>
</html>