body{
    font-family: 'Noto Sans KR';
    color: #C09A81;
    background: #FFF6E2;
    margin:0;
}
.grass {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    margin-top: -300px;
    z-index: -1;
}
.profilebox h2 {
    display: flex; /* Flexbox를 사용하여 가로로 나열 */
    align-items: center; /* 텍스트를 세로 가운데로 정렬 */
}
.picture{
    width: 80%;
}

.mainbox {
    width: 75%;
    margin: 10px auto;
    display: flex;
    align-items: stretch; /* 높이를 맞출려면 stretch 사용 */
}

.profilebox {
    width: 30%;
    color: #C09A81; /* 글자 색상 */
    padding: 20px;
    text-align: center;
}

.careerbox {
    width: 69%; /* 나머지 2칸을 차지 */
    display: flex;
    flex-direction: column; /* 세로로 2칸으로 나눔 */
}
.career-section {
    display: flex; /* 가로로 나누기 위해 Flexbox 사용 */
    flex-direction: row; /* 가로로 나눔 */
}

.career-subsection {
    flex: 1; /* 가로로 동일한 너비로 나누기 */
    padding: 10px;
    margin: 5px;
    border: #C09A81;
}
.roundbutton{
    border-radius: 30px;
    color:#C09A81;
    background: #FFFFFF;
    border-color: #C09A81;
    width: 200px;
    height: 40px;
    font-family: 'Noto Sans KR';
    font-size: 23px;
}
