body {
    margin: 0 auto;
    width: 100%;
    background-color: #FFF6E2;
}

.fixed-textarea {
    width: 330px;
    height: 30px;
    line-height: 30px;
    resize: none;
    background-color: #E9E9E9;
    color: #C09A81;
    border-radius: 10px;
    border-color: #C09A81;
    border-style: solid;
    border-width: 2px;
}

.round-input {
    width: 330px;
    height: 30px;
    border-color: #C09A81;
    border-radius: 10px;
    border-style: solid;
}

.info-bt {
    width: 100px;
    height: 25px;
    background-color: #C09A81;
    border-radius: 30px;
    color: #FFFFFF;
    border: none;
    text-align: center;
}

.info-table {
    border-collapse: separate;
    border-spacing: 0 20px;
    border: none;
    border-collapse: collapse;
    text-align: center;
    color: #C09A81;
}

.image-center {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 50%;
    border-radius: 100%;
}

.info-table tr td {
    border: none;
    border-collapse: collapse;
    text-align: center;
    color: #C09A81;
    padding: 15px;
}

.footerMenuBar {
    /* Add background color for better visibility */
    color: #C09A81;
    position: fixed; /* Change from sticky to fixed */
    left: 0;
    bottom: 10px; /* Stick to the bottom of the viewport */
    width: 100%;
    text-align: center;
}