<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>count</title>
    <link rel="stylesheet" type="text/css" th:href="@{ /css/reviewPage/boardcount.css}">
</head>
<body>
<article>
    <ul class="boardcount">
        <li class="boardnumber"><a href="">◁</a></li>
        <li class="boardnumber"><a href="">1</a></li>
        <li class="boardnumber"><a href="">2</a></li>
        <li class="boardnumber"><a href="">3</a></li>
        <li class="boardnumber"><a href="">4</a></li>
        <li class="boardnumber"><a href="">5</a></li>
        <li class="boardnumber"><a href="">▷</a></li>
    </ul>
</article>
<script>

</script>
</body>
</html>