<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>후기</title>
    <link rel="stylesheet" type="text/css" href="css/reviewPage/review.css">
</head>
<body>
<div class="review-header" th:include="Components/PostLoginHeader.html"></div>


<p class="review-title">후기</p>

<div id="search-bar" class="search-bar">
    <div class="search-group">
        <div id="search" class="search-group-inner">
            <h1 id="select-category" class="select-category">
                <form id="sform" name="search" role="search" action="" method="get">
                    <fieldset> <legend class="blind">검색</legend>
                        <input type="hidden" name="where" value="nexearch">
                        <input type="hidden" id="sm" name="sm" value="top_hty">
                        <input type="hidden" id="fbm" name="fbm" value="0">
                        <input type="hidden" id="acr" name="acr" value="" disabled="disabled">
                        <input type="hidden" id="acq" name="acq" value="" disabled="disabled">
                        <input type="hidden" id="qdt" name="qdt" value="" disabled="disabled">
                        <input type="hidden" id="ie" name="ie" value="utf8">
                        <input type="hidden" id="acir" name="acir" value="" disabled="disabled">
                        <input type="hidden" id="os" name="os" value="" disabled="disabled">
                        <input type="hidden" id="bid" name="bid" value="" disabled="disabled">
                        <input type="hidden" id="pkid" name="pkid" value="" disabled="disabled">
                        <input type="hidden" id="eid" name="eid" value="" disabled="disabled">
                        <input type="hidden" id="mra" name="mra" value="" disabled="disabled">
                        <div class="search_input_box">
                            <input id="query" name="query" type="search" title="검색어를 입력해 주세요." placeholder="검색어를 입력해 주세요." maxlength="255" autocomplete="off" class="search_input" data-atcmp-element="">
                        </div>
                        <button type="submit" class="btn_search" onclick="">
                            <span id="search-btn" class="ico_btn_search"></span>
                            <span class="blind">검색</span>

                    </button>
                    </fieldset>
                </form>
            </h1>
        </div>
    </div>
</div>
<!--
<p>
    <select class="review-select">
        <option value="전체">전체</option>
        <option value="제목">제목</option>
        <option value="상담사">상담사</option>
        <option value="작성자">작성자</option>
    </select>
    <input type="text" value=""><img src="images/bulb.png" class="review-search-icon"/><button type="submit" value="검색" class="review-button">검색</button>
</p>
-->



    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1912 211">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L105.787 21.641C211.574 43.2821 425.107 87.4658 636.68 87.4658C850.213 87.4658 1061.79 43.2821 1275.32 35.1667C1486.89 26.1496 1700.43 52.2991 1806.21 65.8248L1912 79.3504V211H1806.21C1700.43 211 1486.89 211 1275.32 211C1061.79 211 850.213 211 636.68 211C425.107 211 211.574 211 105.787 211H0V0Z" fill="#C09A81"><
        </path>
    </svg>
    <footer class="review-footer" th:include="Components/Footer.html"/>

</body>
</html>