<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.match.model.dao.MatchMapper">
    <resultMap id="resultInfo" type="com.metavirtual.bloom.match.model.dto.TherapistInfoDTO">
        <id property="therapistQ1" column="TEHRAPIST_Q1"/>
        <result property="activationStatus" column="ACTIVATION_STATUS"/>
        <result property="sessionVidCallCK" column="SESSION_VIDCALL_CK"/>
        <result property="depressionCK" column="DEPRESSION_CK"/>
        <result property="anxietyCK" column="ANXIETY_CK"/>
        <result property="bipolarCK" column="BIPOLAR_CK"/>
        <result property="ocdCK" column="OCD_CK"/>
        <result property="relationCK" column="RELATION_CK"/>
        <collection property="name" column="USER_ID" resultMap="userInfo"/>
        <collection property="gender" column="USER_GENDER" resultMap="userInfo"/>
      <!--  <collection property="filePath" column="FILE_PATH" resultMap="profileInfo"/>-->

    </resultMap>

    <resultMap id="userInfo" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="name" column="NAME"/>
        <result property="gender" column="GENDER"/>
    </resultMap>
    <resultMap id="profileInfo" type="com.metavirtual.bloom.myPage.therapistPage.model.dto.ProfileFileDTO">
        <id property="fileNumber" column="FILE_NUMBER"/>
       <!-- <result property="filePath" column="FILE_PATH"/>-->
    </resultMap>

    <select id="findAllTherapist" resultMap="resultInfo">
        SELECT
        T.THERAPIST_Q1
        , T.ACTIVATION_STATUS
        , T.SESSION_VIDCALL_CK
        , T.DEPRESSION_CK
        , T.ANXIETY_CK
        , T.BIPOLAR_CK
        , T.OCD_CK
        , T.RELATION_CK
        , U.NAME
        , U.GENDER
        , P.FILE_PATH
        FROM THERAPIST T
        LEFT JOIN USER U ON (T.USER_ID = U.USER_ID)
        LEFT JOIN PROFILE_FILE P ON (P.USER_ID = T.USER_ID)
    </select>
</mapper>