<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.psychometry.model.dao.PsychometryMapper">

    <resultMap id="resultContent" type="com.metavirtual.bloom.psychometry.model.dto.TestQDTO">
        <id property="testCode" column="TEST_CODE"/>
        <result property="testContent" column="TEST_CONTENT"/>
        <result property="testCategory" column="TEST_CATEGORY"/>
    </resultMap>
    
    <select id="findContent" resultMap="resultContent" parameterType="String">
        SELECT TEST_CODE,
            TEST_CONTENT,
            TEST_CATEGORY
        FROM TEST_Q
        WHERE TEST_CATEGORY = #{testCategory}

    </select>

    <insert id="saveAnswers">
        INSERT INTO TEST_RESULT (ANSWER_SCORE,TEST_CATEGORY,USER_ID)
        VALUES (#{answer}, #{category},'gao')

    </insert>

    <insert id="saveTotalScore">
        INSERT INTO MEMBER_TEST_RESULT (
        TEST_DATE,
        DEPRESSION_TOTAL_SCORE,
        ANXIETY_TOTAL_SCORE,
        BIPOLAR_TOTAL_SCORE,
        OCD_TOTAL_SCORE,
        USER_ID)
        VALUES (
        NOW(),
        #{totalD},
        #{totalA},
        #{totalB},
        #{totalO},
        'gao'
        )

    </insert>

   <update id="hopeTherapist" parameterType="com.metavirtual.bloom.user.model.dto.MemberDTO">
       UPDATE MEMBER
       SET ETC_CONTENT = #{etcContent},
       THERAPIST_GENDER_CK = #{therapistGenderCK},
       RELATION_CK = #{relationCK}

       WHERE USER_ID = 'qwer1234!'

   </update>
    <resultMap id="getTotalScore" type="com.metavirtual.bloom.psychometry.model.dto.TestResultDTO">
    </resultMap>

    <select id="getTotalScore" resultMap="getTotalScore">
        SELECT SUM(ANSWER_SCORE)
        FROM TEST_RESULT
        WHERE USER_ID = 'userId'

    </select>
</mapper>