<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.psychometry.model.dao.PsychometryMapper">

    <resultMap id="resultContent" type="com.metavirtual.bloom.psychometry.model.dto.TestQDTO">
        <id property="testCode" column="TEST_CODE"/>
        <result property="testContent" column="TEST_CONTENT"/>
        <result property="testCategory" column="TEST_CATEGORY"/>
    </resultMap>
    
    <select id="findContent" resultMap="resultContent" parameterType="String">
        SELECT TEST_CODE,
            TEST_CONTENT,
            TEST_CATEGORY
        FROM TEST_Q
        WHERE TEST_CATEGORY = #{testCategory}

    </select>

    <insert id="saveAnswers" parameterType="map">
        INSERT INTO TEST_RESULT (TEST_CODE, ANSWER_SCORE)
        VALUES (#{answer.testCode}, #{testCategory},'gao')

        <!--<foreach collection="answers" item="answer" separator=",">
            (#{answer.testCode}, #{answer.answerScore})
        </foreach>-->
    </insert>
</mapper>