<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/regist/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <style>

        footer{
            position: sticky;
        }

        .content {
            flex: 1; /* Grow to fill available space */
            /* Add your styles for the main content here */
        }
    </style>
</head>
<body style="background-color: #FFF6E2;">
<div class="content">
    <div class="header" th:include="components/Header.html"></div>

    <h1>아이디 찾기</h1>
    <form th:action="@{/mail/findId}" method="post">
        <input type="text" placeholder="가입 시 입력한 이름을 입력해 주세요" name="name" style="width: 500px; height: 40px; text-align:center; color: #C09A81; border-color: #C09A81; border-radius: 10px; border-style: solid; margin-bottom: 10px;">
        <br>
        <input type="text" placeholder="가입 시 입력한 이메일을 입력해 주세요" name="email" style="width: 500px; height: 40px; text-align:center; color: #C09A81; border-color: #C09A81; border-radius: 10px; border-style: solid;">
        <br>
        <button type="submit" name="findId" style="width: 500px; height: 40px; margin-top: 10px; background-color: #C09A81; color: #ffffff; border-color: #C09A81; border-radius: 20px; border-style: solid;"><span style="font-weight: bolder;">아이디 찾기</span></button>
    </form>
<!--<script>
    function sendNumber(name, email) {
    $.ajax({
    url: "/mail/findId",
    type: "POST",
    dataType: "json",
    data: { "mail": email, "name": name },
    success: function (data) {
        alert("이메일 발송");
    },
    error: function () {
    console.log(email);
    console.log("존재하지 않는 이메일입니다")

    alert("존재하지 않는 이메일입니다");
    }
    });
    }
</script>div-->

</div>
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>
</body>
</html>
