<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <style>

        footer{
            z-index: 2;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="header" th:include="components/Header.html"></div>

    <h1>회원가입이 완료되었습니다!</h1>

    <p>맞춤 상담사 추천을 위해서는
        <br>로그인 후 심리 검사가 필요합니다</p>
</div>
<th:block th:include="/components/beigeBackgroundBrownGrass.html"></th:block>
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#FFF6E2'"></th:block>
</footer>
</body>
</html>
