<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Info Setting</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/therapist/therapistInfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header class="header" th:include="Components/Header.html"></header>
<br><br>
    <form align="center">
        <table align="center" class="info-table">
            <a style="color: #C09A81;">*는 필수 입력입니다.</a><br>
            <tr>
                <td>이름</td>
                <td>&nbsp;&nbsp;<textarea class="fixed-textarea" readonly="readonly">김철수</textarea><br>개명 회원은 고객센터로 문의 바랍니다.</td>
<!--                <td>&nbsp;&nbsp;<textarea class="fixed-textarea" readonly="readonly" th:text="${therapistName}"></textarea><br>개명 회원은 고객센터로 문의 바랍니다.</td>-->
            </tr>
            <tr>
                <td>아이디</td>
                <td>&nbsp;&nbsp;<textarea class="fixed-textarea" readonly="readonly">chalse</textarea><br>아이디는 변경 불가능합니다.</td>
<!--                <td>&nbsp;&nbsp;<textarea class="fixed-textarea" readonly="readonly" th:text="${therapistId}"></textarea><br>아이디는 변경 불가능합니다.</td>-->
            </tr>
            <tr>
                <td>비밀번호</td>
                <td>
                    * <input class="round-input" type="password" name="pass" placeholder="8 ~ 20 자 / 대소문자, 숫자, 특수기호 필수 공백 불가" >
                </td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>
                    * <input style="width: 147px; height: 30px; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="text" name="emailid" th:value="${emailId}">
                    @ <input style="width: 147px; height: 30px; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="text" name="emailaddress" th:value="${emailAddress}">
                </td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td>
                    * <input style="width: 93px; height: 30px; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="number" name="phonef" pattern="[0-9]*" inputmode="numeric" maxlength="3" th:value="${phoneFront}">
                    - <input style="width: 93px; height: 30px; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="number" name="phonem" pattern="[0-9]*" inputmode="numeric" maxlength="3" th:value="${phoneMiddle}">
                    - <input style="width: 93px; height: 30px; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="number" name="phonel" pattern="[0-9]*" inputmode="numeric" maxlength="3" th:value="${phoneEnd}">
                </td>
            </tr>
            <tr>
                <td>성별</td>
                <td align="left">
                    &nbsp;&nbsp;<textarea style=" text-align: center; width: 50px; height: 30px; line-height: 30px; border-radius: 10px; border-color: #C09A81; border-width: 2px; background-color: #E9E9E9; color: #C09A81; resize: none;" readonly="readonly">남성</textarea>
<!--                    &nbsp;&nbsp;<textarea style="width: 50px; height: 30px; border-radius: 10px; border-color: #C09A81; border-width: 2px; background-color: #E9E9E9; color: #C09A81; resize: none;" readonly="readonly" th:text="${therapistGender}"></textarea>-->
                </td>
            </tr>
        </table>
<br>
        <input style="width: 200px; height: 28px; border-radius: 30px; background-color: #C09A81; color: #FFFFFF; border: none" type="submit" value="수정 완료">
    </form>
<br><br>
<footer>
    <th:block th:include="Components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>
</body>
</html>