<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile Setting</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/therapist/therapistInfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <style>
        body{
            color: #C09A81;
            margin: 0 auto;
            width: 100%;
            background-color: #FFF6E2;
            text-align: center;
        }
    </style>
</head>
<body>
<header class="header" th:include="components/Header.html"></header>
<br><br>
<h2>프로필 정보 수정</h2>
    <form align="center" method="post" th:action="@{/therapist/modifyTherapistProfile}">
        <table align="center" style="color: #C09A81" th:if="${therapist != null}">
            <a style="color: #C09A81;">*는 필수 입력입니다.</a><br>
            <input
                    type="hidden"
                    id="userId"
                    name="userId"
                    th:value="${ therapist.getUserId() }"
            >
            <tr>
                <td>
                    Q1. 상담사님 간단하게 자기소개 부탁드립니다.(한줄소개) *
                    <br><br>
                    <textarea class="therapist-q" name="therapistQ1" th:text="${therapist.getTherapistQ1()}" maxlength="50"></textarea>
                    <p>50자 이내 작성</p>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    Q2. 내담자에게 어떤 방식으로 다가가시나요? *
                    <br><br>
                    <textarea class="therapist-q" name="therapistQ2" th:text="${therapist.getTherapistQ2()}" maxlength="500"></textarea>
                    <p>500자 이내 작성</p>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    Q3. 상담사에게 있어서 중요하다고 생각하는 가치관은 무엇인가요? *
                    <br><br>
                    <textarea class="therapist-q" name="therapistQ3" th:text="${therapist.getTherapistQ3()}" maxlength="500"></textarea>
                    <p>500자 이내 작성</p>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    소속기관
                    <br><br>
                    <input style="width: 500px; height: 30px; color: #C09A81; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="text" id="organization" name="organization" th:value="${therapist.getOrganization()}" maxlength="20">
                    <br>
                    20자 이내 작성
                    <br><br><br>
                </td>
            </tr>
            <tbody>
            <tr style="width: 500px">
                <td align="center" class="profile-choice" style="float: left;">
                    전문 분야 선택 *
                    <br><br>
                    우울<input type="checkbox" name="depressionCK" value='Y' th:checked="${therapist.getDepressionCK()} == 'Y'">
                    <br>
                    불안<input type="checkbox" name="anxietyCK" value='Y' th:checked="${therapist.getAnxietyCK()} == 'Y'">
                    <br>
                    양극성<input type="checkbox" name="bipolarCK" value='Y' th:checked="${therapist.getBipolarCK()} == 'Y'">
                    <br>
                    강박성<input type="checkbox" name="ocd_CK" value='Y' th:checked="${therapist.getOcdCK()} == 'Y'">
                    <br>
                    대인관계<input type="checkbox" name="relationCK" value='Y' th:checked="${therapist.getRelationCK()} == 'Y'">
                </td>

                <td align="center" class="profile-choice" style="float:right;">
                    상담 방법 선택 *
                    <br><br>
                    화상상담(Zoom)<input type="checkbox" name="sessionVidCallCK" value='Y' th:checked="${therapist.getSessionVidCallCK()} == 'Y'">
                    <br><br>
                    채팅상담(카카오톡)<input type="checkbox" name="sessionChatCK" value='Y' th:checked="${therapist.getSessionChatCK()} == 'Y'">
                    <br><br>
                    대면상담<input type="checkbox" name="sessionInPersonCK" value='Y' th:checked="${therapist.getSessionInPersonCK()} == 'Y'">
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <input type="submit" value="수정 완료" class="sub-btn">
        <input type="button" value="돌아가기" onclick="location.href='therapistInfo'" class="sub-btn">
    </form>
<br><br>
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>

</body>
</html>