<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile Setting</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/therapist/therapistInfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<div th:include="Components/PostLoginHeader.html"></div>
<br><br>
    <form align="center">
        <table align="center" style="color: #C09A81">
            <a style="color: #C09A81;">*는 필수 입력입니다.</a><br>
            <tr>
                <td>
                    Q1. 상담사님 간단하게 자기소개 부탁드립니다.(한줄소개) *
                    <br><br>
                    <textarea class="therapist-q">상담사 인터뷰 1번 질문에 대한 답변입니다.</textarea>
<!--                    <textarea class="therapist-q" th:text="${therapistQna1}"></textarea>-->
                    <p>50자 이내 작성</p>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    Q2. 내담자에게 어떤 방식으로 다가가시나요? *
                    <br><br>
                    <textarea class="therapist-q">상담사 인터뷰 2번 질문에 대한 답변입니다. 이건 좀 더 길어야 합니다. 한 문장 더 쓰겠습니다.</textarea>
<!--                    <textarea class="therapist-q" th:text="${therapistQna2}"></textarea>-->
                    <p>500자 이내 작성</p>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    Q3. 상담사에게 있어서 중요하다고 생각하는 가치관은 무엇인가요? *
                    <br><br>
                    <textarea class="therapist-q">상담사 인터뷰 3번 질문에 대한 답변입니다. 이건 좀 더 길어야 합니다. 한 문장 더 쓰겠습니다.</textarea>
<!--                    <textarea class="therapist-q" th:text="${therapistQna3}"></textarea>-->
                    <p>500자 이내 작성</p>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    소속기관
                    <br><br>
                    <input style="width: 500px; height: 30px; color: #C09A81; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="text" name="organization" value="맑음 상담소">
<!--                    <input style="width: 500px; height: 30px; color: #C09A81; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="text" name="organization" th:value="${therapistOffice}">-->
                    <br>
                    최대 20자 공백 / 특수기호 불가 / 영문, 한글로 입력
                    <br><br><br>
                </td>
            </tr>
            <tbody>
            <tr style="width: 500px">
                <td align="center" class="profile-choice" style="float: left;">
                    전문 분야 선택
                    <br><br>
                    우울<input type="checkbox" name="special" value="우울">
                    <br>
                    불안<input type="checkbox" name="special" value="불안">
                    <br>
                    양극성<input type="checkbox" name="special" value="양극성">
                    <br>
                    강박성<input type="checkbox" name="special" value="강박성">
                    <br>
                    대인관계<input type="checkbox" name="special" value="대인관계">
                </td>

                <td align="center" class="profile-choice" style="float:right;">
                    상담 방법 선택
                    <br><br>
                    화상상담(줌)<input type="checkbox" name="how" value="화상상담">
                    <br><br>
                    채팅상담(카카오톡)<input type="checkbox" name="how" value="채팅상담">
                    <br><br>
                    대면상담<input type="checkbox" name="how" value="대면상담">
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <input type="submit" value="수정 완료" class="sub-btn">
    </form>
<br><br>
<footer>
    <div th:with="textColor=${ textColor }">
        <p th:style="'color: ' + ${ textColor }" class="footerMenuBar" style="display:flex; justify-content:center;">정책&emsp;&emsp;FAQ&emsp;&emsp;상담사지원&emsp;&emsp;FAQ&emsp;&emsp;고객센터</div>
</footer>
<img class="greenGrass" src="/images/common/GreenGrass.png" alt="greenGrass">
</body>
</html>