<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReservationManage</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/therapist/therapistInfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/ko.global.min.js"></script>-->
    <style>
        #reservList {
            counter-reset: count -1;
        }
        #reservList tr {
            height: 42px;
            counter-increment: count;
        }
        #reservList tr td:nth-of-type(1)::before {
            content: counter(count) " ";
        }
        #reservList th:nth-of-type(2) {
            display: none;
        }
        #reservList td:nth-of-type(2) {
            display: none;
        }
        #calendar {
            max-width: 1000px;
            margin: 0 auto;
            background-color: white;
            border-radius: 10px;
        }
        #calendar table tr td {
            border-collapse: collapse;
            border: none;
        }
        #calendar button {
            background-color: white;
            color: #C09A81;
            border: none;
            border-radius: 10px;
        }
        :root {
            --fc-border-color: #fff;
        }
    </style>
</head>
<body>
<header class="header" th:include="components/Header.html"></header>
<br><br>
<h2 style="text-align: center; color: #C09A81;">예약 관리</h2>
<div align="center">
    <div style="display: inline-block;">
        <div style="color: #C09A81; width: 500px;" align="center">
            <h3>예약 정보 조회</h3>
            <div id='calendar'></div>
            <p>예약된 일자는 <span style="color: red">빨간색</span>으로 표시됩니다</p>
        </div>
    </div>

    <div style="display: inline-block;">
        <div style="width: 800px; float: right;">
            <h3 style="color: #C09A81;">예약 신청 내역</h3>
            <br><br>
            <div>
                <table align="center" style="border-collapse: collapse; width: 700px;" id="reservList">
                    <tr style="border-radius: 10px; background-color: #C09A81; color: #FFFFFF; height: 50px;">
                        <th style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">&nbsp;No&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;예약코드&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;이름&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;성별&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;희망에약일&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;전화번호&nbsp;&nbsp;</th>
                        <th style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">&nbsp;&nbsp;&nbsp;</th>
                    </tr>
<!--            <tr th:if="${ user.getUserId() } == ${ booking.getTherapistId() } and ${ booking.getBookingStatus()} == 'waiting'" th:each="booking : ${bookingList}, user : ${userList}>-->
<!--                <td></td>-->
<!--                <td th:text="${ booking.getBookingCode() }" id="bCode"></td>-->
<!--                <td th:if="${ booking.getMemberId() } == ${ user.getUserId() }" th:text="${ user.getName() }"></td>-->
<!--                <td th:if="${ booking.getMemberId() } == ${ user.getUserId() }" th:text="${ user.getGender() }"></td>-->
<!--                <td th:text="${ booking.getBookingDate() }"></td>-->
<!--                <td th:if="${ booking.getMemberId() } == ${ user.getUserId() }" th:text="${ user.getPhone() }"></td>-->
<!--                <td>-->
<!--                    <input type="button" value="승인" style="background: #C09A81; border: 1px solid #C09A81; border-radius: 10px; color: #FFFFFF; width: 40px; height: 29px;" id="acceptBtn">-->
<!--                    <input type="button" value="거부" style="background: #FFFFFF; border: 1px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 29px;" id="rejectBtn">-->
<!--                </td>-->
                    <!--            </tr>-->
                    <tr style="color: #C09A81; height: 50px;" align="center">
                        <td></td>
                        <td id="bCode"></td>
                        <td>홍길동</td>
                        <td>남</td>
                        <td>2023.04.24.</td>
                        <td>010-1234-5678</td>
                        <td>
                            <input type="button" value="승인" style="background: #C09A81; border: 1px solid #C09A81; border-radius: 10px; color: #FFFFFF; width: 40px; height: 29px;" id="acceptBtn">
                            <input type="button" value="거부" style="background: #FFFFFF; border: 1px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 29px;" id="rejectBtn">
                        </td>
                    </tr>

                    <tr style="color: #C09A81; height: 50px; background-color: white;" align="center">
                        <td style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;"></td>
                        <td id="bCode"></td>
                        <td>홍길동</td>
                        <td>남</td>
                        <td>2023.04.24.</td>
                        <td>010-1234-5678</td>
                        <td style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">
                            <input type="button" value="승인" style="background: #C09A81; border: 1px solid #C09A81; border-radius: 10px; color: #FFFFFF; width: 40px; height: 29px;" id="acceptBtn">
                            <input type="button" value="거부" style="background: #FFFFFF; border: 1px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 29px;" id="rejectBtn">
                        </td>
                    </tr>

                    <tr style="color: #C09A81; height: 50px;" align="center">
                        <td></td>
                        <td id="bCode"></td>
                        <td>홍길동</td>
                        <td>남</td>
                        <td>2023.04.24.</td>
                        <td>010-1234-5678</td>
                        <td>
                            <input type="button" value="승인" style="background: #C09A81; border: 1px solid #C09A81; border-radius: 10px; color: #FFFFFF; width: 40px; height: 29px;" id="acceptBtn">
                            <input type="button" value="거부" style="background: #FFFFFF; border: 1px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 29px;" id="rejectBtn">
                        </td>
                    </tr>

                    <tr style="color: #C09A81; height: 50px; background-color: white;" align="center">
                        <td style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;"></td>
                        <td id="bCode"></td>
                        <td>홍길동</td>
                        <td>남</td>
                        <td>2023.04.24.</td>
                        <td>010-1234-5678</td>
                        <td style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">
                            <input type="button" value="승인" style="background: #C09A81; border: 1px solid #C09A81; border-radius: 10px; color: #FFFFFF; width: 40px; height: 29px;" id="acceptBtn">
                            <input type="button" value="거부" style="background: #FFFFFF; border: 1px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 29px;" id="rejectBtn">
                        </td>
                    </tr>

                    <tr style="color: #C09A81; height: 50px;" align="center">
                        <td></td>
                        <td id="bCode"></td>
                        <td>홍길동</td>
                        <td>남</td>
                        <td>2023.04.24.</td>
                        <td>010-1234-5678</td>
                        <td>
                            <input type="button" value="승인" style="background: #C09A81; border: 1px solid #C09A81; border-radius: 10px; color: #FFFFFF; width: 40px; height: 29px;" id="acceptBtn">
                            <input type="button" value="거부" style="background: #FFFFFF; border: 1px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 29px;" id="rejectBtn">
                        </td>
                    </tr>
                </table>
                <br><br>
                <div class="pagingArea" align="center">
                    <button th:onclick="'location.href=\'/therapist/reservManage?currentPage='+@{${selectCriteria.startPage}}+'\''"
                            th:disabled="${selectCriteria.pageNo == 1}">
                        <<
                    </button>
                    <button th:onclick="'location.href=\'/therapist/reservManage?currentPage='+@{${selectCriteria.pageNo - 1}}+'\''"
                            th:disabled="${selectCriteria.pageNo == 1}">
                        <
                    </button>
                    <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                        <button th:text="${ page }"
                                th:onclick="'location.href=\'/therapist/reserveManage?currentPage='+@{${page}}+'\''"
                                th:disabled="${ selectCriteria.pageNo eq page }">
                        </button>
                    </th:block>
                    <button th:onclick="'location.href=\'/therapist/reservManage?currentPage='+@{${selectCriteria.pageNo = 1}}+'\''"
                            th:disabled="${selectCriteria.pageNo == selectCriteria.lastPage}">
                        >
                    </button>
                    <button th:onclick="'location.href\'/therapist/reservManage?currentPage='+@{${selectCriteria.lastPage}}+'\''"
                            th:disabled="${selectCriteria.pageNo == selectCriteria.lastPage}">
                        >>
                    </button>
                <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
    <img class="greenGrass" src="/images/common/GreenGrass.png" alt="greenGrass">
</footer>
<script>


    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
              start: 'prev',
              center: 'title',
              end: 'next'
            },
            footerToolbar: {
                start: '',
                center: 'today',
                end: ''
            },
            buttonText: {
              today: '오늘 날짜 보기'
            },
            dayCellContent: function(info){
                var number = document.createElement("a");
                number.classList.add("fc-daygrid-day-number");
                number.innerHTML = info.dayNumberText.replace("일","");
                if(info.view.type === "dayGridMonth"){
                    return {
                        html: number.outerHTML
                    };
                }
                return{
                    domNodes: []
                };
            },
            locale: 'ko',
            editable: false,
            selectable: true,
            businessHours: false,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [{
                title: '홍길동',
                start: '2023-09-28'
            }],
            eventClick: function showPopup() { window.open("reservPopup", "a", "width=420, height=600, left=350, top=210" ); }
        });
        calendar.render();
    });
</script><script>

    function showPopup() { window.open("reservPopup", "a", "width=420, height=600, left=350, top=210" ); }


    $("#acceptBtn").click(function (){
        const bCode = $("#bCode").text();
        $.ajax({
            url: "/therapist/acceptReservation",
            type: "post",
            data: {bookingCode: bCode},
            success: function(data, textStatus, xhr){
                alert("예약 승인 요청 성공!");
            },
            error: function(xhr, status, error){
                console.log(error);
            }
        });
    });


    $("#rejectBtn").click(function (){
        const bCode = $("#bCode").text();
        $.ajax({
            url: "/therapist/rejectReservation",
            type: "post",
            data: {bookingCode: bCode},
            success: function(data, textStatus, xhr){
                alert("예약 거부 요청 성공!");
            },
            error: function(xhr, status, error){
                console.log(error);
            }
        });
    });

</script>

</body>
</html>

<!--push용 주석-->