<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReservationManage</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/therapist/therapistInfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <style>
        #reservList {
            border-collapse: collapse;
            width: 700px;
        }

        #reservList tr {
            height: 42px;
            text-align: center;
            border-radius: 10px;
            background-color: #C09A81;
            color: #FFFFFF;
        }

        #reservList td {
            height: 40px;
            text-align: center;
            border-radius: 10px;
            background-color: #FFFFFF;
            color: #C09A81;
        }

        #reservList th:nth-of-type(2) {
            display: none;
        }
        #reservList td:nth-of-type(2) {
            display: none;
        }
        #calendar {
            max-width: 1000px;
            margin: 0 auto;
            background-color: white;
            border-radius: 10px;
        }
        #calendar table tr td {
            border-collapse: collapse;
            border: none;
        }
        #calendar button {
            background-color: white;
            color: #C09A81;
            border: none;
            border-radius: 10px;
        }
        :root {
            --fc-border-color: #fff;
        }
    </style>
</head>
<body>
<header class="header" th:include="components/Header.html"></header>
<br><br>
<h2 style="text-align: center; color: #C09A81;">예약 관리</h2>
<div align="center">
    <div>
        <div style="color: #C09A81; width: 500px;" align="center">
            <h3>예약 정보 조회</h3>
            <div id='calendar'></div>
            <p th:if="${confirm} != null">클릭 시 상세 정보를 조회할 수 있습니다</p>
            <p th:if="${confirm} == null">확정된 예약 내역이 존재하지 않습니다</p>
        </div>
    </div>
<br>
    <div>
        <div style="width: 800px;">
            <h3 style="color: #C09A81;">예약 신청 내역</h3>
            <br>
            <div>
                <table align="center" id="reservList">
                    <tr>
                        <th style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">&nbsp;No&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;예약코드&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;이름&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;성별&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;희망에약일시&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;전화번호&nbsp;&nbsp;</th>
                        <th style="border-top-right-radius: 15px; border-bottom-right-radius: 15px;">&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                    <tr th:each="booking, iterator : ${reservationList}">
                        <td th:text="${selectCriteria.totalBoardCount - (((selectCriteria.pageNo - 1) * selectCriteria.limitPerPage) + iterator.index)}"></td>
                        <td th:text="${ booking.getBookingCode() }" id="bCode"></td>
                        <td th:text="${ booking.getMemberName() }" id="name"></td>
                        <td>
                            <div th:if="${ booking.getMemberGender() } == 'F'">여성</div>
                            <div th:if="${ booking.getMemberGender() } == 'M'">남성</div>
                        </td>
                        <td th:text="${ booking.getBookingDate() }"></td>
                        <td th:text="${ booking.getMemberPhone() }"></td>
                        <td>
                            <input type="button" value="승인" style="background: #C09A81; border: 1px solid #C09A81; border-radius: 10px; color: #FFFFFF; width: 40px; height: 29px;" onclick="acceptReservation()">
                            <input type="button" value="거부" style="background: #FFFFFF; border: 1px solid #C09A81; border-radius: 10px; color: #C09A81; width: 40px; height: 29px;" onclick="rejectReservation()">
                        </td>
                    </tr>
                </table>
                <br><br>
                <div class="pagingArea" align="center">
                    <button th:onclick="'location.href=\'/therapist/reservManage?currentPage='+@{${selectCriteria.startPage}}+'\''"
                            th:disabled="${selectCriteria.pageNo == 1}">
                        <<
                    </button>
                    <button th:onclick="'location.href=\'/therapist/reservManage?currentPage='+@{${selectCriteria.pageNo - 1}}+'\''"
                            th:disabled="${selectCriteria.pageNo == 1}">
                        <
                    </button>
                    <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                        <button th:text="${ page }"
                                th:onclick="'location.href=\'/therapist/reserveManage?currentPage='+@{${page}}+'\''"
                                th:disabled="${ selectCriteria.pageNo eq page }">
                        </button>
                    </th:block>
                    <button th:onclick="'location.href=\'/therapist/reservManage?currentPage='+@{${selectCriteria.pageNo = 1}}+'\''"
                            th:disabled="${selectCriteria.pageNo == selectCriteria.lastPage}">
                        >
                    </button>
                    <button th:onclick="'location.href\'/therapist/reservManage?currentPage='+@{${selectCriteria.lastPage}}+'\''"
                            th:disabled="${selectCriteria.pageNo == selectCriteria.lastPage}">
                        >>
                    </button>
                <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<footer>
    <th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
    <img class="greenGrass" src="/images/common/GreenGrass.png" alt="greenGrass">
</footer>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
              start: 'prev',
              center: 'title',
              end: 'next'
            },
            footerToolbar: {
                start: '',
                center: 'today',
                end: ''
            },
            buttonText: {
              today: '오늘 날짜 보기'
            },
            dayCellContent: function(info){
                var number = document.createElement("a");
                number.classList.add("fc-daygrid-day-number");
                number.innerHTML = info.dayNumberText.replace("일","");
                if(info.view.type === "dayGridMonth"){
                    return {
                        html: number.outerHTML
                    };
                }
                return{
                    domNodes: []
                };
            },
            locale: 'ko',
            editable: false,
            selectable: true,
            businessHours: false,
            dayMaxEvents: true, // allow "more" link when too many events
            eventBackgroundColor: 'red',
            displayEventTime: 'false',
            eventColor: 'red',
            events: [
                $.ajax({
                    type: "GET",
                    url: "/therapist/reservation",
                    success: function (response){
                        console.log(response);
                        if(response && response.length>0){
                            for(i = 0; i<response.length; i++){
                                calendar.addEvent({
                                    title: response[i]['memberName'],
                                    start: response[i]['bookingDate'],
                                    extendedProps: {
                                        memberId: response[i]['memberId']
                                    },
                                    color: 'red'
                                });
                            }
                        } else {
                            console.log("예약 데이터가 존재하지 않습니다.");
                        }
                    }
                })
            ],
            eventClick: function showPopup(info) {
                const memberId = info.event.extendedProps.memberId;
                window.open("reservPopup?memberId=" + memberId, "a", "width=450, height=550, left=350, top=210" ); }
        });
        calendar.render();
    });
</script><script>

    function acceptReservation(){
        const name = document.getElementById("name").innerText;
        const bCode = document.getElementById("bCode").innerText;
        var aChk = confirm(`${name}님의 상담 신청을 수락합니다.`);
        $.ajax({
            url: "/therapist/acceptReservation",
            type: "post",
            data: {bookingCode: bCode},
            success: function(data, textStatus, xhr){
                alert(`${name}님의 예약이 확정되었습니다.`);
                console.log("예약 승인 요청 성공");
                location.reload();
            },
            error: function(xhr, status, error){
                alert("요청 처리 중 오류가 발생했습니다. 문제가 계속되는 경우 고객센터로 문의 바랍니다.");
                console.log(error + " : 예약 승인 요청 실패");
            }
        });
    }


    function rejectReservation(){
        const name = document.getElementById("name").innerText;
        const bCode = document.getElementById("bCode").innerText;
        var rChk = confirm(`${name}님의 상담 신청을 거절합니다.`);
        $.ajax({
            url: "/therapist/rejectReservation",
            type: "post",
            data: {bookingCode: bCode},
            success: function(data, textStatus, xhr){
                alert(`${name}님의 예약이 취소되었습니다.`);
                console.log("예약 거부 요청 성공");
                location.reload();
            },
            error: function(xhr, status, error){
                alert("요청 처리 중 오류가 발생했습니다. 문제가 계속되는 경우 고객센터로 문의 바랍니다.");
                console.log(error + " : 예약 거부 요청 실패");
            }
        });
    }

</script>

</body>
</html>

<!--push용 주석-->