<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약 내역 조회</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/therapist/therapistInfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body style="background-color: #FFFFFF;">
<div align="center" style="color: #C09A81;">
    <h3>예약 정보 조회</h3>

    <h5>예약일자</h5>
    2023.10.19.목

    <h5>이름</h5>
    홍길동

    <h5>이메일</h5>
    meta@hi.com

    <h5>전화번호</h5>
    010-1234-5678

    <h5>특이사항</h5>
    집중력, 우울감, (기타)아무것도 하기 싫고 잠만 자고 싶어요
    <br><br>
    <input type="button" value="닫 기" onclick="self.close();" style="color: #C09A81; background-color: #FFFFFF; border-color: #C09A81; border-radius: 10px; border-width: 1px;"/>
    <br><br>
</div>
</body>
</html>

<!--push용 주석-->