<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.user.model.dao.UserMapper">

    <resultMap id="userResultMap" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="name" column="NAME"/>
        <result property="gender" column="GENDER"/>
        <result property="pwd" column="PASSWORD"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="registDate" column="REGISTDATE"/>
        <result property="authorityCode" column="AUTHORITY_CODE"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.metavirtual.bloom.user.model.dto.MemberDTO">
        <id property="userId" column="USER_ID"/>
        <result property="etcContent" column="ETC_CONTENT"/>
        <result property="testStatus" column="TEST_STATUS"/>
        <result property="therapistGenderCK" column="THERAPIST_GENDER_CK"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="reportCount" column="REPORT_COUNT"/>
        <result property="relationCK" column="RELATION_CK"/>
    </resultMap>

    <resultMap id="therapistResultMap" type="com.metavirtual.bloom.user.model.dto.TherapistDTO">
        <id property="userId" column="USER_ID"/>
        <result property="therapistQ1" column="THERAPIST_Q1"/>
        <result property="therapistQ2" column="THERAPIST_Q2"/>
        <result property="therapistQ3" column="THERAPIST_Q3"/>
        <result property="activationStatus" column="ACTIVATION_STATUS"/>
        <result property="confirmedStatus" column="CONFIRMED_STATUS"/>
        <result property="sessionVidCallCK" column="SESSION_VIDCALL_CK"/>
        <result property="sessionChatCK" column="SESSION_CHAT_CK"/>
        <result property="sessionInPersonCK" column="SESSION_INPERSON_CK"/>
        <result property="depressionCK" column="DEPRESSION_CK"/>
        <result property="anxietyCK" column="ANXIETY_CK"/>
        <result property="bipolarCK" column="BIPOLAR_CK"/>
        <result property="ocdCK" column="OCD_CK"/>
        <result property="relationCK" column="RELATION_CK"/>
        <result property="organization" column="ORGANIZATION"/>
    </resultMap>

    <select id="idDupCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM USER U
        WHERE U.USER_ID = #{ userId }
    </select>

    <select id="nicknameDupCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER M
        WHERE M.NICKNAME = #{ nickname }
    </select>

    <select id="selectUserById" parameterType="String" resultMap="userResultMap">
        SELECT U.USER_ID
                FROM USER U
                WHERE U.USER_ID = #{ userId }
    </select>


    <insert id="insertUser" parameterType="UserDTO">
        INSERT INTO
                    USER  (
                              NAME
                            , USER_ID
                            , GENDER
                            , PWD
                            , EMAIL
                            , PHONE
                            , REGIST_DATE
                            , AUTHORITY_CODE
                            )
                VALUES (
                          #{ name }
                        , #{ userId }
                        , #{ gender }
                        , #{ pwd }
                        , #{ email }
                        , #{ phone }
                        , #{ registDate }
                        , 1
                        )
    </insert>

    <update id="insertMember" parameterType="MemberDTO">
        INSERT INTO MEMBER (USER_ID, NICKNAME)
        SELECT U.USER_ID, #{ nickname }
        FROM USER U
        WHERE U.USER_ID = #{ userId };
    </update>

    <insert id="insertTherapistPI" parameterType="UserDTO">
        INSERT INTO
        USER (
                          NAME
                        , USER_ID
                        , GENDER
                        , PWD
                        , EMAIL
                        , PHONE
                        , REGIST_DATE
                        , AUTHORITY_CODE
                        )
            VALUES (
                        #{ name }
                        , #{ userId }
                        , #{ gender }
                        , #{ pwd }
                        , #{ email }
                        , #{ phone }
                        , #{ registDate }
                        , 2
        )
    </insert>

    <insert id="insertTherapist" parameterType="TherapistDTO">
        INSERT INTO THERAPIST (
        THERAPIST_Q1
        ,THERAPIST_Q2
        ,THERAPIST_Q3
        ,ORGANIZATION
        ,DEPRESSION_CK
        ,ANXIETY_CK
        ,OCD_CK
        ,BIPOLAR_CK
        ,RELATION_CK
        ,SESSION_VIDCAL_CK
        ,SESSION_CHAT_CK
        ,SESSION_INPERSON_CK
    </insert>

</mapper>