<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.user.model.dao.UserMapper">

    <resultMap id="userResultMap" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="name" column="NAME"/>
        <result property="gender" column="GENDER"/>
        <result property="pwd" column="PWD"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="unregistDate" column="UNREGIST_DATE"/>
        <result property="authorityCode" column="AUTHORITY_CODE"/>
    </resultMap>

<!--    <resultMap id="bookingResultMap" type="com.metavirtual.bloom.booking.model.dto.BookingDTO">
        <id property="bookingCode" column="BOOKING_CODE"/>
        <result property="bookingDate" column="BOOKING_DATE"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="therapistId" column="THERAPIST_ID"/>
        <result property="bookingStatus" column="BOOKING_STATUS"/>
    </resultMap>-->
    <resultMap id="bookingResultMap" type="com.metavirtual.bloom.booking.model.dto.BookingDTO">
        <id property="bookingCode" column="BOOKING_CODE" />
        <result property="bookingDate" column="BOOKING_DATE" />
        <result property="bookingStatus" column="BOOKING_STATUS" />

        <!-- Map therapist using association -->
        <association property="therapist" resultMap="theraResultMap" />

        <!-- Map member using association -->
        <association property="member" resultMap="memResultMap" />
    </resultMap>

    <resultMap id="theraResultMap" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="therapist_id" />
        <result property="name" column="therapist_name" />
        <result property="phone" column="therapist_phone" />
    </resultMap>

    <resultMap id="memResultMap" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="member_id" />
        <result property="name" column="member_name" />
        <result property="phone" column="member_phone" />
    </resultMap>


    <resultMap id="memberResultMap" type="com.metavirtual.bloom.user.model.dto.MemberDTO">
        <id property="userId" column="USER_ID"/>
        <result property="etcContent" column="ETC_CONTENT"/>
        <result property="testStatus" column="TEST_STATUS"/>
        <result property="therapistGenderCK" column="THERAPIST_GENDER_CK"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="reportCount" column="REPORT_COUNT"/>
        <result property="relationCK" column="RELATION_CK"/>
    </resultMap>

    <resultMap id="therapistResultMap" type="com.metavirtual.bloom.user.model.dto.TherapistDTO">
        <id property="userId" column="USER_ID"/>
        <result property="therapistQ1" column="THERAPIST_Q1"/>
        <result property="therapistQ2" column="THERAPIST_Q2"/>
        <result property="therapistQ3" column="THERAPIST_Q3"/>
        <result property="activationStatus" column="ACTIVATION_STATUS"/>
        <result property="confirmedStatus" column="CONFIRMED_STATUS"/>
        <result property="sessionVidCallCK" column="SESSION_VIDCALL_CK"/>
        <result property="sessionChatCK" column="SESSION_CHAT_CK"/>
        <result property="sessionInPersonCK" column="SESSION_INPERSON_CK"/>
        <result property="depressionCK" column="DEPRESSION_CK"/>
        <result property="anxietyCK" column="ANXIETY_CK"/>
        <result property="bipolarCK" column="BIPOLAR_CK"/>
        <result property="ocdCK" column="OCD_CK"/>
        <result property="relationCK" column="RELATION_CK"/>
        <result property="organization" column="ORGANIZATION"/>
    </resultMap>

    <select id="findUserById" resultMap="userResultMap">
        SELECT
                 U.NAME
                , U.USER_ID
                , U.GENDER
                , U.PWD
                , U.EMAIL
                , U.PHONE
                , U.REGIST_DATE
                , U.UNREGIST_DATE
                , U.AUTHORITY_CODE
                , B.AUTHORITY_CODE REF_AUTHORITY_CODE
                , B.AUTHORITY_NAME
                , C.AUTHORITY_CODE REF_AUTHORITY_CODE2
                , C.MENU_CODE REF_MENU_CODE
                , D.MENU_CODE
                , D.MENU_NAME
                , D.MENU_URL
                , D.MENU_CONTENT
                , D.MENU_CATEGORY
                , D.SUPER_MENU_CODE
        FROM USER U
        LEFT JOIN AUTHORITY B ON (U.AUTHORITY_CODE = B.AUTHORITY_CODE)
        LEFT JOIN AUTHORITY_MENU C ON (B.AUTHORITY_CODE = C.AUTHORITY_CODE)
        LEFT JOIN MENU D ON (C.MENU_CODE = D.MENU_CODE)
        WHERE U.USER_ID = #{ userId }
    </select>

    <select id="idDupCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM USER U
        WHERE U.USER_ID = #{ userId }
    </select>

    <select id="nicknameDupCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER M
        WHERE M.NICKNAME = #{ nickname }
    </select>

    <select id="emailDupCheck" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM USER U
        WHERE U.EMAIL = #{ email }
    </select>

    <select id="selectUserById" parameterType="String" resultMap="userResultMap">
        SELECT USER_ID
                FROM USER
                WHERE USER_ID = #{ userId }
    </select>


    <insert id="insertUser" parameterType="UserDTO">
        INSERT INTO
                    USER  (
                              NAME
                            , USER_ID
                            , GENDER
                            , PWD
                            , EMAIL
                            , PHONE
                            , REGIST_DATE
                            , AUTHORITY_CODE
                            )
                VALUES (
                          #{ name }
                        , #{ userId }
                        , #{ gender }
                        , #{ pwd }
                        , #{ email }
                        , #{ phone }
                        , #{ registDate }
                        , #{ authorityCode }
                        )
    </insert>

    <update id="insertMember" parameterType="MemberDTO">
        INSERT INTO MEMBER (USER_ID, NICKNAME)
        SELECT U.USER_ID, #{ nickname }
        FROM USER U
        WHERE U.USER_ID = #{ userId };
    </update>


    <insert id="insertTherapist" parameterType="TherapistDTO">
        INSERT INTO THERAPIST (
                                USER_ID
                                ,THERAPIST_Q1
                                ,THERAPIST_Q2
                                ,THERAPIST_Q3
                                ,ORGANIZATION
                                ,DEPRESSION_CK
                                ,ANXIETY_CK
                                ,OCD_CK
                                ,BIPOLAR_CK
                                ,RELATION_CK
                                ,SESSION_VIDCALL_CK
                                ,SESSION_CHAT_CK
                                ,SESSION_INPERSON_CK
                                )
        VALUES (
                #{ userId }
                , #{ therapistQ1 }
                , #{ therapistQ2 }
                , #{ therapistQ3 }
                , #{ organization }
                , #{ depressionCK }
                , #{ anxietyCK }
                , #{ ocdCK }
                , #{ bipolarCK }
                , #{ relationCK }
                , #{ sessionVidCallCK }
                , #{ sessionChatCK }
                , #{ sessionInPersonCK }
        )
    </insert>

    <update id="uploadDataFile" parameterType="com.metavirtual.bloom.myPage.therapistPage.model.dto.DataFileDTO">
        INSERT INTO DATA_FILE (
                                USER_ID
                                , FILE_NUMBER
                                , FILE_PATH
                                , FILE_ORIGIN_NAME
                                , FILE_CHANGED_NAME
                                , FILE_SIZE
        ) SELECT T.USER_ID
                                , #{fileNumber}
                                , #{filePath}
                                , #{fileOriginName}
                                , #{fileChangedName}
                                , #{fileSize}
        FROM THERAPIST T
        WHERE T.USER_ID = #{ userId };
    </update>
    <select id="bookingStatus" resultMap="bookingResultMap">
        SELECT
            B.booking_date,
            B.booking_status,
            U.name AS therapist_name,
            U.phone AS therapist_phone,
            M.name AS member_name,
            M.phone AS member_phone
        FROM
            Booking B
        JOIN
            User U ON B.therapist_id = U.user_id
        JOIN
            User M ON B.member_id = M.user_id
        WHERE
            B.member_id = #{userId};

    </select>

    <select id="findDetails" resultType="String">
        SELECT USER_ID
        FROM USER
        WHERE NAME = #{ name } AND EMAIL = #{ email };
    </select>

    <select id="findUserDetails" resultType="String">
        SELECT NAME
        FROM USER
        WHERE USER_ID = #{ userId } AND EMAIL = #{ email };
    </select>

    <update id="changePwd" parameterType="UserDTO">
        UPDATE USER U
        SET PWD = #{ pwd }
        WHERE U.USER_ID = #{ userId } AND EMAIL = #{ email };
    </update>
</mapper>
        <!--SELECT
            U.name AS name,
            U.phone AS phone,
            B.booking_date
        FROM
            Booking B
        JOIN
            User U ON B.therapist_id = U.user_id
        JOIN
            User M ON B.member_id = M.user_id
        WHERE
            B.member_id = #{ userId };-->
