body {
    font-family: 'Noto Sans KR';
    color: #C09A81;
    background-color: #FFF6E2;
}
.review-text-box-container1 {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: #C09A81;
}
.review-text-box-container1 div {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    height: 250px;
}
.review-text-box-container2 {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: #C09A81;
}
.review-text-box-container2 div {
    margin-top: 2%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    height: 250px;
}

.star-icon{
    width: 23px;
    height: 23px;
}
.ul-items {
    display: flex;
    justify-content: center;
    background-color: #FFF6E2;
    list-style-type: none;

}
.li-items {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

}
.li-items a {
    text-decoration: none;
    text-align: center;
    color: #C09A81;
    font-size: 18px;
}


