body {
    font-family: 'Noto Sans KR';
    margin:0;
    color: #C09A81;
    background-color: #FEEFCC;
}
.title {
    font-size: 40px;
    color: #C09A81;
}
.review-text-box-container1 {
    margin: auto;
    align-items: center;
}
.review-text-box-container2 {
    margin: auto;
    align-items: center;
}
.review-text-box {

    width: 450px;
    height: 200px;
    font-size: 23px;
    background-color: white;
    border-radius: 10px;

}

.search-bar * {
    position: relative;
    height: 40px;
    border-radius: 10px;
}

.select-option {
    color: #C09A81;
    border-color: #C09A81;
    font-size: 18px;

}

.search-input {
    border: none;
    width: 750px;
}

.search-button {
    position: absolute;
    width: 270px;
    background: #C09A81;
    border: none;
}
.button-text {
    color: #FFFFFF;
    font-size: 25px;
}
.star-icon{
    width: 23px;
    height: 23px;
}
.ul-items {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #FEEFCC;
    list-style-type: none;

}
.li-items {
    padding: 15px;
    cursor: pointer;

}
.li-items a {
    text-decoration: none;
    text-align: center;
    color: #C09A81;
}

