<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>후기</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/reviewPage/review.css}">
</head>
<body>
<header class="header" th:include="components/Header.html"></header>

<h1 class="title">후기</h1>


<div class="review-text-box-container1">
    <div>
        <img src="../images/review/yellowstar.png" class="star-icon">오지라퍼스 상담사님께 상담을 받고 왔다! 뭔가 심리, 상담 이런게 문턱이 높게 느껴졌는데 그런 고민을 싹 해결할 수 있는 플랫폼을 발···
    </div>
    <div>
        <img src="../images/review/yellowstar.png" class="star-icon">오지라퍼스 상담사님께 상담을 받고 왔다! 뭔가 심리, 상담 이런게 문턱이 높게 느껴졌는데 그런 고민을 싹 해결할 수 있는 플랫폼을 발···
    </div>
    <div>
        <img src="../images/review/yellowstar.png" class="star-icon">오지라퍼스 상담사님께 상담을 받고 왔다! 뭔가 심리, 상담 이런게 문턱이 높게 느껴졌는데 그런 고민을 싹 해결할 수 있는 플랫폼을 발···
    </div>
</div>
<div class="review-text-box-container2">
    <div>
        <img src="../images/review/yellowstar.png" class="star-icon">오지라퍼스 상담사님께 상담을 받고 왔다! 뭔가 심리, 상담 이런게 문턱이 높게 느껴졌는데 그런 고민을 싹 해결할 수 있는 플랫폼을 발···
    </div>
    <div>
        <img src="../images/review/yellowstar.png" class="star-icon">오지라퍼스 상담사님께 상담을 받고 왔다! 뭔가 심리, 상담 이런게 문턱이 높게 느껴졌는데 그런 고민을 싹 해결할 수 있는 플랫폼을 발···
    </div>
    <div>
        <img src="../images/review/yellowstar.png" class="star-icon">오지라퍼스 상담사님께 상담을 받고 왔다! 뭔가 심리, 상담 이런게 문턱이 높게 느껴졌는데 그런 고민을 싹 해결할 수 있는 플랫폼을 발···
    </div>
</div>
<div>
    <ul class="ul-items">
            <li class="li-items"><a href="">1</a></li>
            <li class="li-items"><a href="">2</a></li>
            <li class="li-items"><a href="">3</a></li>
            <li class="li-items"><a href="">4</a></li>
            <li class="li-items"><a href="">5</a></li>
    </ul>
</div>

<th:block th:include="components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</body>
</html>