<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Info Setting</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/member/memberInfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<div th:include="Components/PostLoginHeader.html"></div>
<br><br>
    <form align="center" method="post" th:action="@{/member/infoSetting}">
        <table align="center" class="info-table" style="vertical-align: central;">
            <a style="color: #C09A81;">*는 필수 입력입니다.</a><br>
            <tr>
                <td>이름</td>
                <td>&nbsp;&nbsp;<textarea class="fixed-textarea" readonly="readonly" >이메다</textarea><br>개명 회원은 고객센터로 문의 바랍니다.</td>
<!--                <td>&nbsp;&nbsp;<textarea th:text="${user.name}" class="fixed-textarea" readonly="readonly"></textarea><br>개명 회원은 고객센터로 문의 바랍니다.</td>-->
            </tr>
            <tr>
                <td>아이디</td>
                <td>&nbsp;&nbsp;<textarea class="fixed-textarea" readonly="readonly">metamong</textarea><br>아이디는 변경 불가능합니다.</td>
<!--                <td>&nbsp;&nbsp;<textarea th:text="${user.userId}" class="fixed-textarea" readonly="readonly"></textarea><br>아이디는 변경 불가능합니다.</td>-->
            </tr>
            <tr>
                <td>비밀번호</td>
                <td>
                    * <input class="round-input" type="password" name="pass" placeholder="8 ~ 20 자 / 대소문자, 숫자, 특수기호 필수 공백 불가" >
                </td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>
                    * <input style="width: 147px; height: 30px; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="text" name="emailid" th:value="${emailId}">
                    @ <input style="width: 147px; height: 30px; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="text" name="emailaddress" th:value="${emailAddress}">
                </td>
                <td>
                    <button class="info-bt" onclick="" >본인인증하기</button>
                </td>
            </tr>
            <tr>
                <td>인증번호입력</td>
                <td>
                    * <input class="round-input" type="text" name="cernum" value="">
                </td>
                <td>
                    <button class="info-bt" onclick="" >인증번호확인</button>
                </td>
            </tr>
            <tr>
                <td>닉네임</td>
                <td>
                    * <input class="round-input" type="text" name="nickname" th:value="${userNickname}"><br>최대 10자 공백, 특수기호 불가 / 영문, 한글 가능
                </td>
                </td>
                <td>
                    <button class="info-bt" onclick="" >중복 체크</button>
            </tr>
           <tr>
               <td>전화번호</td>
               <td>
                   * <input style="width: 93px; height: 30px; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="text" name="phonef" th:value="${phoneFront}">
                   - <input style="width: 93px; height: 30px; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="text" name="phonem" th:value="${phoneMiddle}">
                   - <input style="width: 93px; height: 30px; border-color: #C09A81; border-radius: 10px; border-style: solid;" type="text" name="phonel" th:value="${phoneEnd}">
               </td>
           </tr>
           <tr>
               <td>성별</td>
               <td align="left">
                   &nbsp;&nbsp;<textarea style="width: 50px; text-align: center; height: 30px; line-height: 30px; border-radius: 10px; border-color: #C09A81; border-width: 2px; background-color: #E9E9E9; color: #C09A81; resize: none;" readonly="readonly">여성</textarea>
               </td>
<!--               <td align="left">-->
<!--                   &nbsp;&nbsp;<textarea style="width: 50px; height: 30px; border-radius: 10px; border-color: #C09A81; border-width: 2px; background-color: #E9E9E9; color: #C09A81; resize: none;" readonly="readonly" th:text="${user.gender}"></textarea>-->
<!--               </td>-->
           </tr>
        </table>
<br>
        <input style="width: 190px; height: 33px; border-radius: 30px; background-color: #FFFFFF; color: #C09A81; border-color: #C09A81;" type="submit" value="수정 완료">
        <input style="width: 190px; height: 33px; border-radius: 30px; background-color: #FFFFFF; color: #C09A81; border-color: #C09A81;" type="button" value="마이페이지로 돌아가기" onclick="location.href='profile1'">
    </form>
<br><br>
<footer>
    <th:block th:include="Components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>
</body>
</html>