<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/member/memberInfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
<div th:include="Components/PostLoginHeader.html"></div>
<br><br>
<div style="background-color: #FFFFFF; border: 2px solid #B3E6C4; width: 221px; height: 270px; border-radius: 30px; margin: auto;" align="center">
    <img src="../images/mypage/user/flower.png" class="image-center">
    <h3>이메다</h3>
    <a style="color: #898989">2meter@meta.com</a><br>
    <a style="color: #898989">010-2222-2222</a>
<!--    <h3 th:text="${userName}"></h3>-->
<!--    <p th:text="${userEmail}"></p>-->
<!--    <p th:text="${userPhone}"></p>-->
</div>
<br><br>
<div align="center">
    <input type="button" value="내 정보 수정하기" onclick="location.href='infoSetting'" style="border-width: 1px; border-color: #C09A81; border: solid; color: #C09A81; background-color: #FFF6E2; border-radius: 10px; width: 180px; height: 33px; cursor: pointer;">
    <br><br>
    <h4 style="color: #C09A81; margin-left:auto; margin-right:auto;">나의 예약 내역</h4>
    <table style="margin-left:auto;margin-right:auto; color: #C09A81; width: 800px; height: 100px; border-top: 2px solid #C09A81; border-collapse: collapse;" align="center">
    <tr align="center">
        <th style="border-bottom: 2px solid #C09A81;">상담사</th>
        <th style="border-bottom: 2px solid #C09A81;">예약일시</th>
        <th style="border-bottom: 2px solid #C09A81;">연락처</th>
        <th style="border-bottom: 2px solid #C09A81;">예약상태</th>
    </tr>
    <tr align="center">
            <td colspan="4" align="center" style="border-bottom: 2px solid #C09A81;">예약된 내역이 없습니다</td>
        </tr>
    </table>
    <br><br>
    <input type="button" value="검사 하러 가기" onclick="location.href='../psychological/test'" style="width: 200px; height: 33px; border-radius: 10px; background-color: #FFFFFF; color: #C09A81; border-color: #C09A81; border-width: 1px; border: solid; cursor: pointer;">
    <br><br>
    <input type="button" value="작성 글 / 댓글 보기" onclick="location.href='postList'" style="width: 200px; height: 33px; border-radius: 10px; background-color: #C09A81; color: #FFFFFF; border-color: #C09A81; border-width: 1px; border: solid; cursor: pointer;">
</div>
</script>
<br><br>
<footer>
    <th:block th:include="Components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>
</body>
</html>