<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage/member/memberInfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
<div th:include="Components/PostLoginHeader.html"></div>
<br><br>
<div style="background-color: #FFFFFF; border: 2px solid #B3E6C4; width: 221px; height: 270px; border-radius: 30px; margin: auto;" align="center">
    <img src="../images/mypage/user/flower.png" class="image-center">
    <h3>이메다</h3>
    <a style="color: #898989">2meter@meta.com</a><br>
    <a style="color: #898989">010-2222-2222</a>
    <!--    <h3 th:text="${userName}"></h3>-->
    <!--    <p th:text="${userEmail}"></p>-->
    <!--    <p th:text="${userPhone}"></p>-->
</div>
<br><br>
<div align="center">
    <input type="button" value="내 정보 수정하기" onclick="location.href='infoSetting'" style="border-width: 1px; border-color: #C09A81; border: solid; color: #C09A81; background-color: #FFF6E2; border-radius: 10px; width: 180px; height: 33px; cursor: pointer;">
    <br><br>
    <h4 style="color: #C09A81; margin-left:auto; margin-right:auto;">나의 예약 내역</h4>
    <table style="margin-left:auto;margin-right:auto; color: #C09A81; width: 800px; height: 100px; border-top: 2px solid #C09A81; border-collapse: collapse;" align="center">
        <tr align="center">
            <th style="border-bottom: 2px solid #C09A81;">상담사</th>
            <th style="border-bottom: 2px solid #C09A81;">예약일시</th>
            <th style="border-bottom: 2px solid #C09A81;">연락처</th>
            <th style="border-bottom: 2px solid #C09A81;">예약상태</th>
        </tr>
        <tr align="center">
            <td style="border-bottom: 2px solid #C09A81; cursor: pointer;" onclick="location.href='../match/introduceTherapy'">김철수</td>
            <td style="border-bottom: 2px solid #C09A81;">2023년 9월 12일</td>
            <td style="border-bottom: 2px solid #C09A81;">010-1111-1234</td>
            <td style="border-bottom: 2px solid #C09A81;">예약 확정</td>
        </tr>
<!--        <tr align="center">-->
<!--            <td th:if="${} th:text="${ therapistName }"></td>-->
<!--            <td th:if="${} th:text="${ booking.bookingDate }"></td>-->
<!--            <td th:if="${} th:text="${ user. }"></td>-->
<!--            <td th:if="${} th:text="${ booking.bookingStatus }" style="border-radius: 10px; background-color: #C09A81; color: white;"></td>-->
<!--        </tr>-->
    </table>
    <br>
    <a style="color: #914D4D">예약 취소는 연결된 상담사에게 문의 바랍니다.</a>
    <br><br><br>
    <input type="button" value="내 검사 결과 조회" onclick="location.href='../psychological/result'" style="width: 200px; height: 33px; border-radius: 10px; background-color: #FFFFFF; color: #C09A81; border-color: #C09A81; border-width: 1px; border: solid; cursor: pointer;">
    <br><br>
    <input type="button" value="작성 글 / 댓글 보기" onclick="location.href='postList'" style="width: 200px; height: 33px; border-radius: 10px; background-color: #C09A81; color: #FFFFFF; border-color: #C09A81; border-width: 1px; border: solid; cursor: pointer;">
</div>
</script>
<br><br>
<footer>
    <th:block th:include="Components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>
</body>
</html>