<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Introduce</title>
    <link rel="stylesheet" type="text/css" href="../css/psychological/introduceTherapy.css">
</head>
<body>
    <header>
        <th:block th:include="Components/PostLoginHeader.html"></th:block>
    </header>
    <div class="mainbox">
        <div class="profilebox">
            소개
        </div>
        <div class="introducebox">
            <div class="mainbox">
                <div class="flex">
                    경력<br>
                    상담심리사 2급 (한국상담심리학회)<br>
                    전문심리상담경력 (4년)<br>
                    -<br>
                    현) 마인드카페 심리상담사<br>
                    -<br>
                    전) 가천대학교인권센터 전임상담사<br>
                    전) 한국방송통신대학교진로심리상담실 인턴상담<br>
                </div>
                <div class="flex">
                    학력<br>
                    가톨릭대학교 상담심리대학원 상담학과 졸업<br>
                    성신여자대학교 심리학과 졸업<br>
                </div>
            </div>
        </div>
        <div class="introducebox">
            <div class="mainbox">
                <div class="flex">
                    경력<br>
                    상담심리사 2급 (한국상담심리학회)<br>
                    전문심리상담경력 (4년)<br>
                    -<br>
                    현) 마인드카페 심리상담사<br>
                    -<br>
                    전) 가천대학교인권센터 전임상담사<br>
                    전) 한국방송통신대학교진로심리상담실 인턴상담<br>
                </div>
                <div class="flex">
                    학력<br>
                    가톨릭대학교 상담심리대학원 상담학과 졸업<br>
                    성신여자대학교 심리학과 졸업<br>
                </div>
            </div>
        </div>
    </div>
<div class="mainbox">

</div>
</body>
</html>