<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Introduce</title>
    <link rel="stylesheet" type="text/css" href="../css/psychological/introduceTherapy.css">
</head>
<body>
    <header>
        <th:block th:include="Components/PostLoginHeader.html"></th:block>
        <style>
            hr{border-color: #C09A81; width: 100%;}
        </style>
    </header>

    <div class="mainbox">
        <div class="profilebox">
            <!-- 프로필 사진 및 간단한 소개 내용 -->
            <h2>소개</h2>
            <div class="">
                <img class="" src="../images/psychological/testpicture.jpg">
            </div>
            <h3>이름</h3>
            <button class="roundbutton">상담 예약</button><br><br>
            연락처<br>
            전화번호<br>
        </div>
        <div class="careerbox">
            <div class="career-section">
                <!-- 경력 사항 1 -->
                <div class="career-subsection">
                    <!-- 경력 사항 1 - 섹션 1 -->
                    경력<br>
                    상담심리사 2급 (한국상담심리학회)<br>
                    전문심리상담경력 (4년)<br>
                    -<br>
                    현) 마인드카페 심리상담사<br>
                    -<br>
                    전) 가천대학교인권센터 전임상담사<br>
                    전) 한국방송통신대학교진로심리상담실 인턴상담<br>
                </div>
                <div class="career-subsection">
                    <!-- 경력 사항 1 - 섹션 2 -->
                    학력<br>
                    가톨릭대학교 상담심리대학원 상담학과 졸업<br>
                    성신여자대학교 심리학과 졸업<br>
                </div>
            </div>
            <hr>
            <div class="career-section">
                <!-- 경력 사항 2 -->
                <div class="career-subsection">
                    <!-- 경력 사항 2 - 섹션 1 -->
                    내담자에게 어떤 방식으로
                    다가가시나요?
                </div>
                <div class="career-subsection">
                    <!-- 경력 사항 2 - 섹션 2 -->
                    진정한 나를 마주하고 나도 몰랐던 스스로의 단단함을 발견하여,
                    나만의 새로운 이야기를 다시 써 내려가 보아요.
                    이 과정이 때론 지치고 힘들더라도 제가 옆에서 함께 하겠습니다.
                    당신에게 필요한 건 이 여정을 시작해보겠다는 용기 한 스푼 뿐.
                    기다리고 있을게요!
                </div>
            </div>
            <hr>
            <div class="career-section">
                <!-- 경력 사항 3 -->
                <div class="career-subsection">
                    <!-- 경력 사항 3 - 섹션 1 -->
                    상담사에게 있어서 중요하게
                    생각하는 가치관이 어떻게 되나요?
                </div>
                <div class="career-subsection">
                    <!-- 경력 사항 3 - 섹션 2 -->
                    진정한 나를 마주하고 나도 몰랐던 스스로의 단단함을 발견하여,
                    나만의 새로운 이야기를 다시 써 내려가 보아요.
                    이 과정이 때론 지치고 힘들더라도 제가 옆에서 함께 하겠습니다.
                    당신에게 필요한 건 이 여정을 시작해보겠다는 용기 한 스푼 뿐.
                    기다리고 있을게요!
                </div>
            </div>
            <hr>
            <div class="career-section">
                <!-- 경력 사항 4 -->
                <div class="career-subsection">
                    <!-- 경력 사항 4 - 섹션 1 -->
                    상담사님께서 생각하는
                    자신의 강점이 무엇인가요?
                </div>
                <div class="career-subsection">
                    <!-- 경력 사항 4 - 섹션 2 -->
                    000 분야가 강점 입니다.
                </div>
            </div>
            <hr>
        </div>
    </div>
    <hr style="width: 90%">
    <div class="mainbox">
        <div class="profilebox">
            <!--후기-->
            <h3>후기</h3>
        </div>
        <div class="careerbox">
            <div class="career-section">
                <!-- 경력 사항 1 -->
                <div class="career-subsection">
                    <!-- 경력 사항 1 - 섹션 1 -->
                    후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1후기1
                </div>
                <div class="career-subsection">
                    <!-- 경력 사항 1 - 섹션 2 -->
                    후기2
                </div>
            </div>
            <hr>
            <div class="career-section">
                <!-- 경력 사항 1 -->
                <div class="career-subsection">
                    <!-- 경력 사항 1 - 섹션 1 -->
                    후기1
                </div>
                <div class="career-subsection">
                    <!-- 경력 사항 1 - 섹션 2 -->
                    후기2
                </div>
            </div>
            <hr>
        </div>
    </div>
<button class="roundbutton">후기 더보기</button>
</body>
</html>