<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" type="text/css" href="../css/psychological/matchingResult.css">
</head>
<body>
<th:block th:include="Components/PostLoginHeader.html"></th:block>
<h3>메타님에게 맞춘 상담사들을 추천드려요!</h3>
<div>
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="../images/psychological/testpicture.jpg">
        </div>
        <div class="team-content">
            <h3 class="name">Michele Miller</h3>
            <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
            <li><a href="/psychological/introduceTherapy" class="fa fa-facebook" aria-hidden="true">프로필 보기</a></li>
        </ul>
    </div>
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="../images/psychological/testpicture.jpg">
        </div>
        <div class="team-content">
            <h3 class="name">Michele Miller</h3>
            <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
            <li><a href="/psychological/introduceTherapy" class="fa fa-facebook" aria-hidden="true">프로필 보기</a></li>
        </ul>
    </div>
</div>

<!--<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
        </div>
        <div class="team-content">
            <h3 class="name">Patricia Knott</h3>
            <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
        </div>
        <div class="team-content">
            <h3 class="name">Justin Ramos</h3>
            <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
        </div>
        <div class="team-content">
            <h3 class="name">Mary Huntley</h3>
            <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
    </div>
</div>-->
<div>
    <a style="color: #C08181; text-align: center; font-weight: bold;" href="">또 다른 훌륭한 상담사들 보기</a>
</div>

<!-- <header>
     <th:block th:include="Components/PostLoginHeader.html"></th:block>
     <h3>메타님에게 맞춘 상담사들을 추천드려요!</h3>
     <div class="parent">
         <th:block th:include="Components/simpleprofile.html"></th:block>
         <th:block th:include="Components/simpleprofile.html"></th:block>
         <th:block th:include="Components/simpleprofile.html"></th:block>
         <th:block th:include="Components/simpleprofile.html"></th:block>
         <th:block th:include="Components/simpleprofile.html"></th:block>
     </div>
     <a style="color: #C08181; font-weight: bold;" href="">또 다른 훌륭한 상담사들 보기</a>
 </header>-->
</body>
</html>