<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>start</title>
    <link rel="stylesheet" type="text/css" href="../css/psychological/icon.css">
    <link rel="stylesheet" type="text/css" href="../css/psychological/startTest.css">
    <style>
        .whitrtext{ color: white;}
    </style>

</head>
<body>
<header>
    <th:block th:include="Components/PostLoginHeader.html" th:with="textColor='#FEEFCC'"></th:block>
</header>
<main>
    <!-- 카운트 -->
    <button class="countbutton"><h3>1/32</h3></button>
    <!-- 질문지 db로 -->
    <h3 class="whitrtext">Q1</h3>
</main>
<section>
    <article>
        <!-- 점수 db저장 -->
        <button onclick="">1</button>
        <button onclick="">2</button>
        <button onclick="">3</button>
        <button onclick="">4</button>
        <button onclick="">5</button>
    </article>
    <span class="mar" style="margin: 50px">전혀그렇지않다</span> <span style="margin: 50px">매우그렇다</span>

</section><br>
<button onclick="location='/psychological/last'">다음</button>
<!-- 다음 클릭시 ajax -->
<!-- <button type="submit" id="next" onclick="location='/psychological/last'" >다음</button>-->
<script>
    $("#next").click(function (){
        $.ajax({
            url:"",
            success: function (data, status, xhr){
                console.log(data);
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    });
</script>

<footer>
    <img class="grass" src="/images/common/beigeGrass.png" alt="grass">
    <th:block th:include="Components/Footer.html"></th:block>

</footer>
</body>
</html>