<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" type="text/css" href="../css/psychological/therapyRecommend.css">
</head>
<body>
<th:block th:include="Components/PostLoginHeader.html"></th:block>
<h3>메타님에게 맞춘 상담사들을 추천드려요!</h3>
<div class="parent" >
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="../images/psychological/testpicture.jpg">
        </div>
        <div class="team-content">
            <h3>상담사 이름</h3>
            <h4>전문 분야</h4>
        </div>
        <ul class="social">
            <li><a href="/psychological/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
        </ul>
    </div>
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="../images/psychological/testpicture.jpg">
            한줄소개한줄소개한줄소개한줄소개한줄소개
        </div>
        <div class="team-content">
            <h3>상담사 이름</h3>
            <h4>전문 분야</h4>
        </div>
        <ul class="social">
            <li><a href="/psychological/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
        </ul>
    </div>
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="../images/psychological/testpicture.jpg">
            한줄소개한줄소개한줄소개한줄소개한줄소개
        </div>
        <div class="team-content">
            <h3>상담사 이름</h3>
            <h4>전문 분야</h4>
        </div>
        <ul class="social">
            <li><a href="/psychological/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
        </ul>
    </div>
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="../images/psychological/testpicture.jpg">
            한줄소개한줄소개한줄소개한줄소개한줄소개
        </div>
        <div class="team-content">
            <h3>상담사 이름</h3>
            <h4>전문 분야</h4>
        </div>
        <ul class="social">
            <li><a href="/psychological/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
        </ul>
    </div>
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="../images/psychological/testpicture.jpg">
            한줄소개한줄소개한줄소개한줄소개한줄소개
        </div>
        <div class="team-content">
            <h3>상담사 이름</h3>
            <h4>전문 분야</h4>
        </div>
        <ul class="social">
            <li><a href="/psychological/introduceTherapy" class="profilebutton" aria-hidden="true">프로필 보기</a></li>
        </ul>
    </div>
</div>
<div>
    <a style="color: #C08181; text-align: center; font-weight: bold;" href="/psychological/therapylist">또 다른 훌륭한 상담사들 보기</a>
</div>
<footer>
    <th:block th:include="Components/Footer.html" th:with="textColor='#C09A81'"></th:block>
</footer>

</body>
</html>