<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.myPage.adminPage.model.dao.AdminPageMapper">

    <resultMap id="memberResultMap" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="name" column="Name"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="unregistDate" column="UNREGIST_DATE"/>
    </resultMap>

    <resultMap id="therapistResultMap" type="com.metavirtual.bloom.myPage.adminPage.model.dto.TherapistList">
        <id property="userId" column="USER_ID"/>
        <result property="name" column="Name"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="unregistDate" column="UNREGIST_DATE"/>
        <result property="confirmedStatus" column="CONFIRMED_STATUS"/>
    </resultMap>

    <resultMap id="unregistResultMap" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="name" column="NAME"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="unregistDate" column="UNREGIST_DATE"/>
    </resultMap>

    <resultMap id="csResultMap" type="com.metavirtual.bloom.myPage.adminPage.model.dto.CsListDTO">
        <id property="boardCode" column="BOARD_CODE"/>
        <result property="title" column="TITLE"/>
        <result property="postedDate" column="POSTED_DATE"/>
        <result property="userId" column="USER_ID"/>
        <result property="commentNumber" column="COMMENT_NUMBER"/>
    </resultMap>

    <resultMap id="csDetailMap" type="com.metavirtual.bloom.myPage.adminPage.model.dto.CsDetailDTO">
        <id property="boardCode" column="BOARD_CODE"/>
        <result property="title" column="TITLE"/>
        <result property="name" column="NAME"/>
        <result property="postedDate" column="POSTED_DATE"/>
        <result property="boardContent" column="BOARD_CONTENT"/>
        <result property="commentContent" column="COMMENT_CONTENT"/>
    </resultMap>

    <resultMap id="memberInfoMap" type="com.metavirtual.bloom.myPage.memberPage.model.dto.MemberInfo">
        <result property="name" column="NAME"/>
        <result property="userId" column="USER_ID"/>
        <result property="pwd" column="PWD"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="gender" column="GENDER"/>
        <result property="email" column="EMAIL"/>
        <result property="registDate" column="REGIST_DATE"/>
    </resultMap>

    <resultMap id="PostResultMap" type="com.metavirtual.bloom.myPage.adminPage.model.dto.PostResult">
        <id property="boardCode" column="BOARD_CODE"/>
        <result property="title" column="TITLE"/>
        <result property="boardCategory" column="BOARD_CATEGORY"/>
        <result property="postedDate" column="POSTED_DATE"/>
        <result property="nickname" column="NICKNAME"/>
    </resultMap>

    <resultMap id="ReportResultMap" type="com.metavirtual.bloom.myPage.adminPage.model.dto.MemberReport">
        <result property="reportCode" column="REPORT_CODE"/>
        <result property="title" column="TITLE"/>
        <result property="userId" column="USER_ID"/>
        <result property="reportedDate" column="REPORTED_DATE"/>
        <result property="boardCode" column="BOARD_CODE"/>
    </resultMap>

    <resultMap id="therapistInfoMap" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="USER_ID"/>
        <id property="name" column="NAME"/>
        <id property="registDate" column="REGIST_DATE"/>
        <id property="unregistDate" column="UNREGIST_DATE"/>
        <id property="gender" column="GENDER"/>
        <id property="email" column="EMAIL"/>
        <id property="phone" column="PHONE"/>
    </resultMap>

    <resultMap id="CommentResultMap" type="com.metavirtual.bloom.myPage.adminPage.model.dto.TherapistComment">
        <result property="title" column="TITLE"/>
        <result property="name" column="NAME"/>
        <result property="postedDate" column="POSTED_DATE"/>
        <result property="boardCode" column="BOARD_CODE"/>
    </resultMap>

    <select id="selectCsCount" resultType="_int">
        SELECT COUNT(*)
        FROM BOARD
        WHERE BOARD_CATEGORY = "고객센터"
    </select>

    <select id="selectCsList" resultMap="csResultMap" parameterType="com.metavirtual.bloom.common.paging.SelectCriteria">
        SELECT
            B.BOARD_CODE
            , B.TITLE
            , B.POSTED_DATE
            , B.USER_ID
            , A.COMMENT_NUMBER
        FROM BOARD B
        LEFT JOIN ADMIN_COMMENT A ON B.BOARD_CODE = A.BOARD_CODE
        WHERE B.BOARD_CATEGORY = "고객센터"
        AND B.DELETE_DATE IS NULL
        ORDER BY B.POSTED_DATE DESC
        LIMIT #{ startRow }, 10
    </select>

    <select id="selectCsDetail" resultMap="csDetailMap">
        SELECT
            B.BOARD_CODE
            , B.TITLE
            , U.NAME
            , B.POSTED_DATE
            , B.BOARD_CONTENT
            , A.COMMENT_CONTENT
        FROM BOARD B
        JOIN USER U ON B.USER_ID = U.USER_ID
        LEFT JOIN ADMIN_COMMENT A ON B.BOARD_CODE = A.BOARD_CODE
        WHERE B.BOARD_CODE = #{boardCode}
    </select>

    <insert id="registComment">
        INSERT
        INTO ADMIN_COMMENT (
                            POSTED_DATE
                            , COMMENT_CONTENT
                            , BOARD_CODE
                            , USER_ID
                            )
        VALUES (
                NOW()
                , #{commentContent}
                , #{boardCode}
                , #{userId}
                )
    </insert>

    <select id="selectMemberCount" resultType="_int" parameterType="hashmap">
        SELECT COUNT(*)
        FROM USER
        <where>
            <if test="searchSelect eq 'memberId'">
                USER_ID LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchSelect eq 'memberName'">
                NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchSelect eq 'allMember'">
                (USER_ID LIKE CONCAT('%', #{ searchValue }, '%') OR NAME LIKE CONCAT('%', #{ searchValue }, '%'))
            </if>
            AND AUTHORITY_CODE = 1
        </where>
    </select>

    <select id="selectMemberList" resultMap="memberResultMap">
        SELECT
            USER_ID
            , NAME
            , REGIST_DATE
            , UNREGIST_DATE
        FROM USER
        <where>
            <if test="searchSelect eq 'memberId'">
                USER_ID LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchSelect eq 'memberName'">
                NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchSelect eq 'allMember'">
                (USER_ID LIKE CONCAT('%', #{ searchValue }, '%') OR NAME LIKE CONCAT('%', #{ searchValue }, '%'))
            </if>
            AND AUTHORITY_CODE = 1
        </where>
        ORDER BY REGIST_DATE DESC
        LIMIT #{ startRow }, 10
    </select>

    <select id="selectTherapistCount" resultType="_int">
        SELECT COUNT(*)
        FROM USER
        <where>
            <if test="searchSelect eq 'memberId'">
                USER_ID LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchSelect eq 'memberName'">
                NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchSelect eq 'allTherapist'">
                (USER_ID LIKE CONCAT('%', #{ searchValue }, '%') OR NAME LIKE CONCAT('%', #{ searchValue }, '%'))
            </if>
            AND AUTHORITY_CODE = 2
        </where>
    </select>

    <select id="selectTherapistList" resultMap="therapistResultMap">
        SELECT
            U.USER_ID
            , U.NAME
            , U.REGIST_DATE
            , U.UNREGIST_DATE
            , T.CONFIRMED_STATUS
        FROM USER U
        JOIN THERAPIST T ON U.USER_ID = T.USER_ID
        <where>
            <if test="searchSelect eq 'memberId'">
                U.USER_ID LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchSelect eq 'memberName'">
                NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchSelect eq 'allTherapist'">
                (U.USER_ID LIKE CONCAT('%', #{ searchValue }, '%') OR NAME LIKE CONCAT('%', #{ searchValue }, '%'))
            </if>
            AND AUTHORITY_CODE = 2
        </where>
        ORDER BY U.REGIST_DATE DESC
        LIMIT #{ startRow }, 10
    </select>

    <update id="unregistMember" parameterType="String">
        UPDATE USER
        SET UNREGIST_DATE = #{unregistDate}
        WHERE USER_ID = #{userId}
    </update>

    <select id="selectunregistList" resultMap="unregistResultMap">
        SELECT
            USER_ID
            , NAME
            , REGIST_DATE
            , UNREGIST_DATE
        FROM USER
        WHERE UNREGIST_DATE IS NOT NULL
    </select>

    <select id="memberInfo" resultMap="memberInfoMap" parameterType="java.lang.String">
        SELECT
        U.NAME
            , U.USER_ID
            , U.PWD
            , M.NICKNAME
            , U.PHONE
            , U.GENDER
            , U.EMAIL
            , U.REGIST_DATE
        FROM USER U
        JOIN MEMBER M ON U.USER_ID = M.USER_ID
        WHERE U.USER_ID = #{userId}
    </select>

    <select id="selectTotalReportCount" resultType="_int" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM BOARD_REPORT R
        JOIN BOARD B ON R.BOARD_CODE = B.BOARD_CODE
        WHERE B.USER_ID = #{ userId }
    </select>

    <select id="selectTotalPostCount" resultType="_int" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM BOARD
        WHERE USER_ID = #{ userId }
    </select>

    <select id="selectPostList" resultMap="PostResultMap">
        SELECT
            B.BOARD_CODE
            , B.TITLE
            , B.BOARD_CATEGORY
            , B.POSTED_DATE
            , M.NICKNAME
        FROM BOARD B
        JOIN MEMBER M ON B.USER_ID = M.USER_ID
        WHERE B.USER_ID = #{ userId }
        ORDER BY B.POSTED_DATE DESC
        LIMIT #{ selectCriteria.startRow }, 5
    </select>

    <select id="selectReportList" resultMap="ReportResultMap">
        SELECT
            R.REPORT_CODE
            , B.TITLE
            , R.USER_ID
            , R.REPORTED_DATE
            , R.BOARD_CODE
        FROM BOARD_REPORT R
        JOIN BOARD B ON R.BOARD_CODE = B.BOARD_CODE
        WHERE B.USER_ID = #{ userId }
        ORDER BY R.REPORTED_DATE DESC
        LIMIT #{ selectCriteria.startRow }, 5
    </select>

    <select id="therapistInfo" resultMap="therapistInfoMap" parameterType="java.lang.String">
        SELECT
            USER_ID
            , NAME
            , REGIST_DATE
            , UNREGIST_DATE
            , GENDER
            , EMAIL
            , PHONE
        FROM USER
        WHERE USER_ID = #{userId}
    </select>

    <select id="selectTotalCommentCount" resultType="_int" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM THERAPIST_COMMENT
        WHERE USER_ID = #{ userId }
    </select>

    <select id="selectCommentList" resultMap="CommentResultMap">
        SELECT
            B.TITLE
            , C.POSTED_DATE
            , C.BOARD_CODE
            , U.NAME
        FROM THERAPIST_COMMENT C
        JOIN BOARD B ON C.BOARD_CODE = B.BOARD_CODE
        JOIN USER U ON C.USER_ID = U.USER_ID
        WHERE C.USER_ID = #{ userId }
        ORDER BY C.POSTED_DATE DESC
        LIMIT #{ selectCriteria.startRow }, 5
    </select>

    <update id="confirmTherapist" parameterType="java.lang.String">
        UPDATE THERAPIST
        SET CONFIRMED_STATUS = "Y"
        WHERE USER_ID = #{ userId }
    </update>
</mapper>