<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.myPage.adminPage.model.dao.AdminPageMapper">

    <resultMap id="memberResultMap" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="name" column="Name"/>
        <result property="registDate" column="REGIST_DATE"/>
    </resultMap>

    <resultMap id="therapistResultMap" type="com.metavirtual.bloom.myPage.adminPage.model.dto.TherapistList">
        <id property="userId" column="USER_ID"/>
        <result property="name" column="Name"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="confirmedStatus" column="CONFIRMED_STATUS"/>
    </resultMap>

    <resultMap id="unregistResultMap" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="name" column="NAME"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="unregistDate" column="UNREGIST_DATE"/>
    </resultMap>

    <select id="selectMemberCount" resultType="_int">
        SELECT COUNT(*)
        FROM USER
        WHERE AUTHORITY_CODE = 1
    </select>

    <select id="selectMemberList" resultMap="memberResultMap">
        SELECT
            USER_ID
            , NAME
            , REGIST_DATE
        FROM USER
        WHERE AUTHORITY_CODE = 1
        ORDER BY REGIST_DATE DESC
    </select>

    <select id="selectTherapistCount" resultType="_int">
        SELECT COUNT(*)
        FROM USER
        WHERE AUTHORITY_CODE = 2
    </select>

    <select id="selectTherapistList" resultMap="therapistResultMap">
        SELECT
            U.USER_ID
            , U.NAME
            , U.REGIST_DATE
            , T.CONFIRMED_STATUS
        FROM USER U
        JOIN THERAPIST T ON U.USER_ID = T.USER_ID
        WHERE AUTHORITY_CODE = 2
        ORDER BY U.REGIST_DATE DESC
    </select>

    <update id="unregistMember" parameterType="String">
        UPDATE USER
        SET UNREGIST_DATE = #{unregistDate}
        WHERE USER_ID = #{userId}
        AND AUTHORITY_CODE = 1
    </update>

    <select id="selectunregistList" resultMap="unregistResultMap">
        SELECT
            USER_ID
            , NAME
            , REGIST_DATE
            , UNREGIST_DATE
        FROM USER
        WHERE UNREGIST_DATE != '';
        AND AUTHORITY_CODE = 1
    </select>

</mapper>