<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.myPage.memberPage.model.dao.MemberPageMapper">

    <resultMap id="generalPostResultMap" type="com.metavirtual.bloom.board.model.dto.BoardDTO">
        <id property="boardCode" column="BOARD_CODE"/>
        <result property="title" column="TITLE"/>
        <result property="boardCategory" column="BOARD_CATEGORY"/>
        <result property="postedDate" column="POSTED_DATE"/>
    </resultMap>

    <update id="modifyUserInfo" parameterType="UserDTO">
        UPDATE USER U
        SET PWD = #{ pwd }
            , EMAIL = #{ email }
            , PHONE = #{ phone }
        WHERE U.USER_ID = #{ userId }
    </update>

    <update id="modifyMemberInfo" parameterType="MemberDTO">
        UPDATE MEMBER M
        SET NICKNAME = #{ nickname }
        WHERE M.USER_ID = #{ userId }
    </update>

    <select id="selectMemberByNickname" resultType="string">
        SELECT A.MEMBER_NICKNAME
        FROM MEMBER A
        WHERE A.MEMBER_NICKNAME = #{ nickname }
    </select>

    <select id="selectTotalPostCount" resultType="_int">
        SELECT COUNT(*)
        FROM BOARD
        WHERE USER_ID = #{ sessionId }
    </select>

    <select id="selectTotalCommentCount" resultType="_int">
        SELECT COUNT(*)
        FROM MEMBER_COMMENT
        WHERE USER_ID = #{ sessionId }
    </select>

    <select id="selectTotalReviewCount" resultType="_int">
        SELECT COUNT(*)
        FROM REVIEW
        WHERE USER_ID = #{ sessionId }
    </select>

    <select id="selectPostList" resultMap="generalPostResultMap">
        SELECT
                BOARD_CODE
                , TITLE
                , BOARD_CATEGORY
                , POSTED_DATE
        FROM BOARD
        WHERE USER_ID = #{ sessionId }
    </select>

    <select id="selectCommentList" resultMap="generalPostResultMap">
        SELECT
            C.COMMENT_CODE
            , B.TITLE
            , C.COMMENT_CONTENT
            , C.POSTED_DATE
        FROM BOARD B
        INNER JOIN
            MEMBER_COMMENT C ON B.BOARD_CODE = C.BOARD_CODE
    </select>

    <select id="selectReviewList" resultMap="generalPostResultMap">
        SELECT
            R.BOOKING_CODE
            , U.NAME
            , R.REVIEW_SCORE
            , R.REVIEW_CONTENT
        FROM REVIEW R
        INNER JOIN
            BOOKING B ON R.BOOKING_CODE = B.BOOKING_CODE
        INNER JOIN
            USER U ON B.THERAPIST_ID = U.USER_ID
    </select>

    <delete id="deleteMyPost">
        DELETE
        FROM BOARD
        WHERE BOARD_CODE = #{ boardCode }
    </delete>

    <delete id="deleteMyComment">
        DELETE
        FROM MEMBER_COMMENT
        WHERE COMMENT_CODE = #{ commentCode }
    </delete>

    <delete id="deleteMyReview">
        DELETE
        FROM REVIEW
        WHERE BOOKING_CODE = #{ bookingCode }
    </delete>

</mapper>