<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.myPage.memberPage.model.dao.MemberPageMapper">

    <resultMap id="userInfo" type="com.metavirtual.bloom.user.model.dto.UserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="pwd" column="PWD"/>
        <result property="name" column="NAME"/>
        <result property="gender" column="GENDER"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="unregistDate" column="UNREGIST_DATE"/>
        <result property="authorityCode" column="AUTHORITY_CODE"/>
    </resultMap>

    <resultMap id="PostResultMap" type="com.metavirtual.bloom.board.model.dto.BoardDTO">
        <id property="boardCode" column="BOARD_CODE"/>
        <result property="title" column="TITLE"/>
        <result property="boardCategory" column="BOARD_CATEGORY"/>
        <result property="postedDate" column="POSTED_DATE"/>
    </resultMap>

    <resultMap id="CommentResultMap" type="com.metavirtual.bloom.myPage.memberPage.model.dto.CommentListDTO">
        <id property="commentCode" column="COMMENT_CODE"/>
        <result property="title" column="TITLE"/>
        <result property="commentContent" column="COMMENT_CONTENT"/>
        <result property="postedDate" column="POSTED_DATE"/>
        <result property="boardCode" column="BOARD_CODE"/>
    </resultMap>

    <resultMap id="ReviewResultMap" type="com.metavirtual.bloom.myPage.memberPage.model.dto.ReviewListDTO">
        <id property="bookingCode" column="BOOKING_CODE"/>
        <result property="name" column="NAME"/>
        <result property="reviewScore" column="REVIEW_SCORE"/>
        <result property="reviewContent" column="REVIEW_CONTENT"/>
    </resultMap>

    <resultMap id="bookingInfo" type="com.metavirtual.bloom.myPage.memberPage.model.dto.MemberBookingInfo">
        <result property="name" column="NAME"/>
        <result property="bookingDate" column="BOOKING_DATE"/>
        <result property="phone" column="PHONE"/>
        <result property="bookingStatus" column="BOOKING_STATUS"/>
        <result property="therapistId" column="THERAPIST_ID"/>
        <result property="testStatus" column="TEST_STATUS"/>
    </resultMap>

    <resultMap id="memberInfo" type="com.metavirtual.bloom.myPage.memberPage.model.dto.MemberInfo">
        <result property="name" column="NAME"/>
        <result property="userId" column="USER_ID"/>
        <result property="pwd" column="PWD"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="gender" column="GENDER"/>
        <result property="email" column="EMAIL"/>
        <result property="registDate" column="REGIST_DATE"/>
    </resultMap>

<!--    <resultMap id="memberBoard" type="com.metavirtual.bloom.myPage.memberPage.model.dto.MemberBoard">-->
<!--        <id property="boardCode" column="BOARD_CODE"/>-->
<!--        <result property="title" column="TITLE"/>-->
<!--        <result property="boardCategory" column="BOARD_CATEGORY"/>-->
<!--        <result property="postedDate" column="POSTED_DATE"/>-->
<!--    </resultMap>-->

    <select id="userInfo" resultMap="userInfo" parameterType="java.lang.String">
        SELECT
        USER_ID
        , NAME
        , GENDER
        , PWD
        , EMAIL
        , PHONE
        , REGIST_DATE
        , UNREGIST_DATE
        , AUTHORITY_CODE
        FROM USER
        WHERE USER_ID = #{userId}
    </select>

    <select id="memberBookingInfo" resultMap="bookingInfo" parameterType="java.lang.String">
        SELECT
            U.NAME
            , B.BOOKING_DATE
            , U.PHONE
            , B.BOOKING_STATUS
            , B.THERAPIST_ID
            , M.TEST_STATUS
        FROM BOOKING B
        JOIN USER U ON B.THERAPIST_ID = U.USER_ID
        JOIN MEMBER M ON B.MEMBER_ID = M.USER_ID
        WHERE B.MEMBER_ID = #{name}
    </select>

    <select id="memberInfo" resultMap="memberInfo" parameterType="java.lang.String">
        SELECT
            U.NAME
            , U.USER_ID
            , U.PWD
            , M.NICKNAME
            , U.PHONE
            , U.GENDER
            , U.EMAIL
            , U.REGIST_DATE
        FROM USER U
        JOIN MEMBER M ON U.USER_ID = M.USER_ID
        WHERE U.USER_ID = #{name}
    </select>

    <update id="modifyUserInfo" parameterType="UserDTO">
        UPDATE USER U
        SET PWD = #{ pwd }
            , EMAIL = #{ email }
            , PHONE = #{ phone }
        WHERE U.USER_ID = #{ userId }
    </update>

    <update id="modifyMemberInfo" parameterType="MemberDTO">
        UPDATE MEMBER M
        SET NICKNAME = #{ nickname }
        WHERE M.USER_ID = #{ userId }
    </update>

    <select id="selectMemberByNickname" resultType="_int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE NICKNAME = #{ nickname }
    </select>

<!--    <select id="memberAllBoard" resultMap="memberBoard" parameterType="java.lang.String">-->
<!--        SELECT-->
<!--            BOARD_CODE-->
<!--            , TITLE-->
<!--            , BOARD_CATEGORY-->
<!--            , POSTED_DATE-->
<!--        FROM BOARD-->
<!--        WHERE USER_ID = #{ userId }-->
<!--    </select>-->

    <select id="selectTotalPostCount" resultType="_int" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM BOARD
        WHERE USER_ID = #{ userId }
        AND DELETE_DATE IS NULL
    </select>

    <select id="selectTotalCommentCount" resultType="_int" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM MEMBER_COMMENT
        WHERE USER_ID = #{ userId }
        AND DELETE_DATE IS NULL
    </select>

    <select id="selectTotalReviewCount" resultType="_int" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM REVIEW R
        JOIN BOOKING B ON R.BOOKING_CODE = B.BOOKING_CODE
        WHERE B.MEMBER_ID = #{ userId }
        AND DELETE_DATE IS NULL
    </select>

    <select id="selectPostList" resultMap="PostResultMap">
        SELECT
                BOARD_CODE
                , TITLE
                , BOARD_CATEGORY
                , POSTED_DATE
        FROM BOARD
        WHERE USER_ID = #{ userId }
        AND DELETE_DATE IS NULL
        ORDER BY POSTED_DATE DESC
        LIMIT #{ selectCriteria.startRow }, 5
    </select>

    <select id="selectCommentList" resultMap="CommentResultMap">
        SELECT
            M.COMMENT_CODE
            , B.TITLE
            , M.COMMENT_CONTENT
            , M.POSTED_DATE
            , B.BOARD_CODE
        FROM MEMBER_COMMENT M
        JOIN BOARD B ON M.BOARD_CODE = B.BOARD_CODE
        WHERE M.USER_ID = #{ userId }
        AND M.DELETE_DATE IS NULL
        ORDER BY M.POSTED_DATE DESC
        LIMIT #{ selectCriteria.startRow }, 5
    </select>

    <select id="selectReviewList" resultMap="ReviewResultMap">
        SELECT
            R.BOOKING_CODE
            , U.NAME
            , R.REVIEW_SCORE
            , R.REVIEW_CONTENT
        FROM REVIEW R
        JOIN BOOKING B ON R.BOOKING_CODE = B.BOOKING_CODE
        JOIN USER U ON B.THERAPIST_ID = U.USER_ID
        WHERE U.USER_ID = #{ userId }
        ORDER BY R.POSTED_DATE DESC
        LIMIT #{ selectCriteria.startRow }, 5
    </select>

    <update id="deleteMyPost">
        UPDATE BOARD
        SET DELETE_DATE = NOW()
        WHERE BOARD_CODE = #{ boardCode }
    </update>

    <update id="deleteMyComment">
        UPDATE MEMBER_COMMENT
        SET DELETE_DATE = NOW()
        WHERE COMMENT_CODE = #{ commentCode }
    </update>

    <update id="deleteMyReview">
        UPDATE REVIEW
        SET DELETE_DATE = NOW()
        WHERE BOOKING_CODE = #{ bookingCode }
    </update>

</mapper>