<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metavirtual.bloom.myPage.therapistPage.model.dao.TherapistPageMapper">

    <resultMap id="generalBoardResultMap" type="com.metavirtual.bloom.myPage.therapistPage.model.dto.ReservationDTO">
        <id property="bookingCode" column="BOOKING_CODE"/>
        <result property="name" column="NAME"/>
        <result property="gender" column="GENDER"/>
        <result property="bookingDate" column="BOOKING_DATE"/>
        <result property="phone" column="PHONE"/>
    </resultMap>

    <insert id="uploadPfImg">
        INSERT PROFILE_FILE (
                            FILE_NUMBER
                            , FILE_PATH
                            , FILE_ORIGIN_NAME
                            , FILE_CHANGED_NAME
                            , FILE_SIZE
                            , USER_ID
                            )
        VALUES (
                #{fileNumber}
                , #{filePath}
                , #{fileOriginName}
                , #{fileChangedName}
                , #{fileSize}
                , #{sessionId}
                )
    </insert>

    <update id="updatePfImg">
        UPDATE PROFILE_FILE
        SET FILE_NUMBER = #{fileNumber}
            , FILE_PATH = #{filePath}
            , FILE_ORIGIN_NAME = #{fileOriginName}
            , FILE_CHANGED_NAME = #{fileChangedName}
            , FILE_SIZE = #{fileSize}
        WHERE USER_ID = #{sessionId}
    </update>

    <update id="modifyTherapistInfo">
        UPDATE USER
        SET PWD = #{ pwd }
            , EMAIL = #{ email }
            , PHONE = #{ phone }
        WHERE USER_ID = #{ userId }
    </update>

    <update id="modifyTherapistProfile">
        UPDATE THERAPIST
        SET THERAPIST_Q1 = #{ therapistQ1 }
            , THERAPIST_Q2 = #{ therapistQ2 }
            , THERAPIST_Q3 = #{ therapistQ3 }
            , ORGANIZATION = #{ organization }
            , DEPRESSION_CK r= #{ depressionCK }
            , ANXIETY_CK = #{ anxietyCK }
            , BIPOLAR_CK = #{ bipolarCK }
            , OCD_CK = #{ ocd_CK }
            , RELATION_CK = #{ relationCk }
            , SESSION_VIDCALL_CK = #{ sessionVidCallCK }
            , SESSION_CHAT_CK = #{ sessionChatCK }
            , SESSION_INPERSON_CK = #{ sessionInPersonCK }
        WHERE USER_ID = #{ userId }
    </update>

    <update id="modifyActivationStatus">
        UPDATE THERAPIST
        SET ACTIVATION_STATUS = #{ activationStatus }
        WHERE USER_ID = #{ sessionId }
    </update>

    <select id="selectReservationCount" resultType="_int">
        SELECT COUNT(*)
        FROM BOOKING B
        WHERE B.THERAPIST_ID = #{ sessionId }
        AND B.BOOKING_STATUS = 'waiting'
    </select>

    <select id="selectReservationList" resultMap="generalBoardResultMap">
        SELECT
            B.BOOKING_CODE
            , U.NAME
            , U.GENDER
            , B.BOOKING_DATE
            , U.PHONE
        FROM BOOKING B
        INNER JOIN USER U ON B.MEMBER_ID = U.USER_ID
    </select>

    <update id="confirmReservation">
        UPDATE BOOKING
        SET BOOKING_STATUS = 'CONFIRM'
        WHERE BOOKING_CODE = #{ bookingCode }
    </update>

    <update id="declineReservation">
        UPDATE BOOKING
        SET BOOKING_STATUS = 'DECLINE'
        WHERE BOOKING_CODE = #{ bookingCode }
    </update>

</mapper>