<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <style>

        footer{
            z-index: 2;
        }
    </style>
</head>
<body>
<div class="content">
<div th:with="loggedIn=true, reservationMade=false">
    <div class="header" th:if="${loggedIn && reservationMade}" th:include="Components/postLoginHeader.html" th:with="includeSection2=true, includeSection1=false"></div>
    <div class="header" th:if="${loggedIn && !reservationMade}" th:include="Components/postLoginHeader.html" th:with="includeSection1=false, includeSection2=false"></div>
    <div class="header" th:unless="${loggedIn}" th:include="Components/preLoginHeader.html" th:with="includeSection1=false"></div>
</div>
<h1>회원가입이 완료되었습니다!</h1>
<p>맞춤 상담사 추천을 위해서는 심리 검사가 필요합니다</p>
<div class="buttons">
    <button onclick="location.href='/psychological/test'" class="whiteButton">지금 할래요</button><button onclick="location.href='/'" class="whiteButton">나중에 할래요</button>
</div></div>
<th:block th:include="/Components/beigeBackgroundBrownGrass.html"></th:block>
<footer>
<th:block th:include="Components/Footer.html" th:with="textColor='#FFF6E2'"></th:block>
</footer>
</body>
</html>