<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<div th:include="Components/postLoginHeader.html"></div>

<h1>회원가입이 완료되었습니다!</h1>
<p>맞춤 상담사 추천을 위해서는 심리 검사가 필요합니다</p>
<div class="buttons">
    <button onclick="location.href='/psychological/test'" class="whiteButton">지금 할래요</button><button onclick="location.href='로그인 된 메인페이지로 이동해야함'" class="whiteButton">나중에 할래요</button>
</div>
<th:block th:include="/Components/beigeBackgroundBrownGrass.html"></th:block>
<th:block th:include="Components/Footer.html"></th:block>
</body>
</html>