<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/regist/regularRegist.css">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <style>
        /* Set the size and position for your background component */
        .background-component {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Ensure it's behind other content */
        }
    </style>
</head>
<body>
<div class="content">
<div th:with="loggedIn=false, reservationMade=false">
    <div class="header" th:if="${loggedIn && reservationMade}" th:include="Components/postLoginHeader.html" th:with="includeSection2=true, includeSection1=false"></div>
    <div class="header" th:if="${loggedIn && !reservationMade}" th:include="Components/postLoginHeader.html" th:with="includeSection1=true, includeSection2=false"></div>
    <div class="header" th:unless="${loggedIn}" th:include="Components/preLoginHeader.html" th:with="includeSection1=false"></div>
</div>

<div class="background-component" th:include="Components/beigeBackgroundGreenGrass.html"></div>
<h1 class="title">회원가입</h1>
<div class="RegisterForm">
    <form>
        <label style="margin-left: 5px;">이름</label>&emsp;
        *<input class="inputs" type="text" placeholder="최대 20자 / 공백 불가 / 영문만 가능">
        <br>
        <label style="margin-left: 5px;">아이디</label>&emsp;
        *<input class="inputs" type="text" placeholder="최대 20자 / 공백 불가 / 영문만 가능"><button type="submit" style="width:70px;height:25px;color:#FFFFFF;background-color:#C09A81">중복체크</button>
        <br>
        <label style="margin-left: 5px;">비밀번호</label>&emsp;
        *<input class="inputs" type="password" placeholder="8 ~ 20 자 / 대소문자, 숫자, 특수기호 필수 공백 불가">
        <br>
        <label style="margin-left: 5px;">닉네임</label>&emsp;
        <input class="inputs" type="text" placeholder="대 20자 공백 / 특수기호 불가 / 영문/한글 가능"><button type="submit" style="width:70px;height:25px;color:#FFFFFF;background-color:#C09A81">중복체크</button>
        <br>
        <label style="margin-left: 5px;">전화번호</label>&emsp;
        *<input class="phone" type="text"> - <input class="phone" type="text"> - <input class="phone" type="text">
        <label style="margin-left: 5px;">성별</label>&emsp;
        <input type="radio">&emsp;&emsp;<input type="radio">
        <br>
        <label style="margin-left: 5px;">이메일</label>&emsp;
        *<input type="email">&ensp;@&ensp;<input type="email" value="">
        <select>
            <option value="naver.com">naver.com</option>
            <option value="gmail.com">gmail.com</option>
            <option value="yahoo.com">yahoo.com</option>
            <option value="hotmail.com">hotmail.com</option>
        </select>
    </form>
</div>



    <!--<span class="labels">이름</span>&ensp;* <input type="text" placeholder="최대 20자 / 공백 불가 / 영문만 가능" style="width:400px;font-size:15px;"></p>
    <span class="labels">아이디</span>&ensp;* <input type="text" placeholder="최대 20자 / 공백 불가 / 영문만 가능" style="width:400px;font-size:15px;">&ensp;<button type="submit" style="width:70px;height:25px;color:#FFFFFF;background-color:#C09A81">중복체크</button></p>
    <span class="labels">비밀번호</span>&ensp;* <input type="text" placeholder="8 ~ 20 자 / 대소문자, 숫자, 특수기호 필수 공백 불가" style="width:400px;font-size:15px;"></p>
    <span class="labels">닉네임</span>&ensp;* <input type="text" placeholder="대 20자 공백 / 특수기호 불가 / 영문/한글 가능" style="width:400px;font-size:15px;">&ensp;<button type="submit" style="width:70px;height:25px;color:#FFFFFF;background-color:#C09A81">중복체크</button></p>
    <span class="labels">전화번호</span>&ensp;* <input type="text" style="width:40px;"> - <input type="text" style="width:40px;"> - <input type="text" style="width:40px;">&emsp;&emsp;성별 *&emsp;<input type="radio">&emsp;&emsp;<input type="radio"></p>
    <span class="labels">이메일</span>&ensp;* <input type="text" style="width:150px;font-size:15px;">&ensp;@&ensp;<input type="text" style="width:150px;font-size:15px;">
    <select>
        <option value="naver.com">naver.com</option>
        <option value="gmail.com">gmail.com</option>
        <option value="yahoo.com">yahoo.com</option>
        <option value="hotmail.com">hotmail.com</option>
    </select>&ensp;<button type="submit" style="width:70px;height:25px;color:#FFFFFF;background-color:#C09A81">본인인증</button></p>
    <input type="text" style="width:100px">&ensp;<button type="submit" style="width:100px;height:25px;color:#FFFFFF;background-color:#C09A81">본인인증확인</button></p>-->
    <hr class="solid" style="width:700px;">
    <h3>이용약관</h3>
    <textarea rows="10" cols="80" id="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
Where does it come from? Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum</textarea></p>
    <button onclick="location.href='/'" type="submit" style="width:200px;" class="whiteButton">취소</button>&ensp;&ensp;<button onclick="location.href='memberRegistSuccess'" type="submit" style="width:200px;" class="whiteButton">회원가입</button>
</div>
<th:block th:include="Components/Footer.html" th:with="textColor='#FFF6E2'"></th:block>
</body>
</html>
