<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<th:block th:include="Components/beigeBackgroundBrownGrass.html"></th:block>
<div th:include="Components/postLoginHeader.html"></div>

<h1>상담사로 가입이 완료되었습니다!</h1>
<p>첨부 자료 검토 후<br>활동 승인이 이루어지오니<br>잠시만 기다려주세요</p>
<div class="buttons">
<button onclick="location.href='postLoginMain'" class="whiteButton">구경하러 가기</button><button onclick="location.href='사용자 프로필로 가야함'" class="whiteButton">내 프로필 수정하기</button>
</div>
<th:block style="color:#FFF6E2" th:include="Components/Footer.html"></th:block>
</body>
</html>