<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>로그인 인증</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/regist/regularRegist.css">
  <link rel="stylesheet" type="text/css" href="/css/common/common.css">
</head>
<body>
<th:block th:include="Components/beigeBackgroundBrownGrass"></th:block>
<th:block th:include="Components/preLoginHeader.html"></th:block>
<h1>임시 비밀번호가 이메일로 전송 되었습니다</h1>
<h5>보내드린 비밀번호로 로그인 하신 후 비밀번호를 재설정하여 이용하시길 바랍니다</h5>
<button onclick="location.href='login'">로그인 하러 가기</button>
<button onclick="location.href='findId'">아이디 찾기</button>
<th:block th:include="Components/beigeBackgroundBrownGrass.html"></th:block>
<th:block style="color:#FEEFCC" th:include="Components/Footer.html"></th:block>
</body>
</html>